.drag-target {
  border-color: $brand-primary !important;
}

.drag-over {
  border-color: $brand-success !important;
  border-width: 2px;
}

.drop-container {
  border: 1px dashed $table-border-color;
  background-color: #fff;
}
.drop-container-label {
  padding: 10px;
  text-align: center;
  color: $gray-light;
}
