/*drop box*/
.drop-box {
  background: #F8F8F8;
  border: 3px dashed $table-border-color;
  padding: 10px;
  text-align: center;
  font-size: $font-size-h3;
  margin: 15px auto;
  color: $gray-light;
}

.drop-box div {
  position: absolute;
}

.drop-box-for-image {
  height: 256px;
}

/*file upload button*/
.fileUploadBtn {
  overflow: hidden;
}

.fileUploadBtn input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity = 0);
}

.fileUploadImg {
  position: relative;
  overflow: hidden;
  padding: 0px;
  border: 0px;
}

.fileUploadImg input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity = 0);
}

.upload-infos-bloc {
  // width: 80%;
  margin: auto;
  margin-bottom: 15px;
  padding-bottom: 0;
}

.upload-infos-bloc .alert {
  margin-bottom: 0;
}

.upload-infos-bloc table tr.info {
  cursor: inherit;
}

.upload-file-infos {
  padding-left: 0px;
}

.upload-file-infos .show-error-link {
  cursor: pointer;
  text-align: left;
  margin-right: 15px;
}

.progress {
  margin-bottom: 0px;
}

.drop-box-browse {
  cursor: pointer;
  color: #3572b0;
  font-family: inherit;
  font-size: inherit;
}
.drop-box-browse:hover {
  text-decoration: underline;
}

.drop-box-workspace {
  color: black;
  font-size: 15px;
  font-style: italic;
}

.drop-box-for-icon {
  height: 100px;
  font-size: $font-size-h5;
  display: table;
}

.drop-box-for-icon > span {
  display: table-cell;
  vertical-align: middle;
}
