.nav-vcenter {
    width: 50px;
    margin: 30px auto auto 0px;
}

.nav-leftside {
    margin-left: -20px;
}

.nav-small {
    background-color: #035b8b;
    color: white;
    text-align: center;
}

.nav-small>li>a {
    color: white;
    font-size: 10px;
    padding: 8px 4px 8px 4px;
}

.nav-small .active,
.nav-small>li>a:hover,
.nav-small>li>a:focus {
    background-color: rgb(104, 160, 188);
}

.nav-small-margin {
  margin-left: 50px;
}

.nav-container {
  position: absolute;
}
