<!-- Components list and details -->
<a4c-search query-manager="queryManager"
  search-service="searchService"
  label-prefix="COMPONENTS.">
</a4c-search>

<!--   search results -->
<div class="grp-margin" ng-class="{'small': !globalContext}" style= "text-align: center;">
  <div
    class="catalog-cell"
    ng-class="{'catalog-cell-selected': isSelected({topology: topology})}"
    ng-repeat="topology in queryManager.searchResult.data"
    id="li_{{topology.id}}"
    ng-click="handleItemSelection(topology)">
    <div class="catalog-element-info">
      <div style="float: left; width: 64px; height: 64px; margin: 5px; text-align: center;"
        ng-init="iconId=getIcon(topology.tags)">
        <i ng-if="!iconId" class="fa fa-sitemap fa-4x"></i>
        <img ng-if="iconId" ng-src="img?id={{getIcon(topology.tags)}}&quality=QUALITY_64" />
      </div>
      <div style="display: inline-block; vertical-align: top" ng-init="topologyNameId= (topology.archiveName | splitAndGet:'.':'last')">
        <h5 style="width: 120px; ">
          <span uib-tooltip="{{topology.archiveName}}" tooltip-placement="bottom" tooltip-append-to-body="true">{{ topologyNameId | limitTo: 20 }}{{ topologyNameId.length > 20 ? '...' : ''}} </span>
        </h5>
      </div>
      <p ng-if="globalContext" class="small text-muted catalog-description">{{topology.description}}</p>
      <info ng-if="!globalContext" content="topology.description" size="lg"></info>
    </div>
    <div style="position: absolute; bottom: 0px;" ng-init="component = topology">
      <ng-include src="'views/components/search_component_archive_dislay.html'"></ng-include>
    </div>
  </div>
</div>

<!-- pagination bar -->
<pagination-directive pagination-info="searchService.pagination"/>
