<div>

  <div class="row" style="margin-top: 10px;">
    <ol class="breadcrumb">
      <li><a href="#/csars/list">{{ 'CSAR.BC_CSAR' | translate }}</a></li>
      <li><a href="#/csar/{{csarId}}">{{csarId}}</a></li>
    </ol>
  </div>

  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">{{ 'CSAR.DETAILS_TITLE' | translate }}</div>
      <div class="panel-body">
        <!-- Details section -->
        <div class="col-md-10 col-md-offset-2" style="margin-top: 10px;">
          <div class="row">
            <div class="col-md-10">
              <h1 style="display: inline">{{csar.name}}</h1>
              <span>
                <delete-confirm id="delete-csar_{{csar.id}}" func="remove(csarId)" position="right" bssize="btn-xs" fastyle="fa-trash-o">
                </delete-confirm>
              </span>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-3">
              <strong> {{'CSAR.FIELD_VERSION' | translate }} </strong>
            </div>
            <div class="col-md-9">{{csar.version}}</div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-3">
              <strong> {{'CSAR.FIELD_DESCRIPTION' | translate }} </strong>
            </div>
            <div class="col-md-9">{{csar.description}}</div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-3">
              <strong> {{'CSAR.TEST_TOPOLOGY' | translate }} </strong>
            </div>
            <div class="col-md-9">
              <i class="fa fa-2x vertical-center"
                 tooltip="{{'APPLICATIONS.' + deploymentStatus | translate }}"
                 tooltip-append-to-body="true"
                 ng-class="{
                  'fa-circle text-success' : deploymentStatus == 'DEPLOYED',
                  'fa-circle text-muted' : deploymentStatus == 'UNDEPLOYED',
                  'fa-warning text-warning' : deploymentStatus == 'WARNING',
                  'fa-circle text-danger' : deploymentStatus == 'FAILURE',
                  'fa-question-circle text-muted' : deploymentStatus == 'UNKNOWN',
                  'fa-spinner fa-spin' : deploymentStatus == 'DEPLOYMENT_IN_PROGRESS' || deploymentStatus == 'UNDEPLOYMENT_IN_PROGRESS'
                  }">
              </i>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;" ng-show="
                deploymentStatus == 'DEPLOYED' ||
                deploymentStatus == 'WARNING' ||
                deploymentStatus == 'DEPLOYMENT_IN_PROGRESS' ||
                deploymentStatus == 'FAILURE'">
            <div class="col-md-12">
              <button type="button" class="btn btn-danger application-deploy-button" ng-click="undeploy()">
                <i class="fa" ng-class="{'fa-stop': !isUnDeploying, 'fa-spinner fa-spin': isUnDeploying}"></i> {{'APPLICATIONS.UNDEPLOY' | translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
