@import "bootstrap_variables";

.nav-tabs li.active a {
  background-color: white;
}

.tab-pane {
  background-color: white;
  padding: 10px;
  border: 1px solid #dddddd;
  border-top-color: transparent;
}

.resource-user-roles .thumbnail  h5 {
  text-align: center;
  color:white;
  background-color: #3276b1;
  padding: 5px;
  font-weight: bold;
}

.resource-user-roles .thumbnail {
  max-height: 500px;
  min-height: 200px;
  overflow: auto;
}

.task-list-box {
  padding-left: 5px;
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: $state-danger-text;
}
