@import "bootstrap_variables";

#cloudMetaPropertiesDisplay property-display.metaPropDirective label {
  text-align: left;
  padding-top: 0px;
  padding-left: 25px;
}

#cloudMetaPropertiesDisplay div div strong {
  padding: 15px;
}
