// Styles for angular xeditable

@import "bootstrap_variables";

.property-required {
  font-weight: bold;
  font-style: italic;
}

.property-required .editable-empty i {
  color: $state-danger-text;
}

.editable-click, a.editable-click {
  color: $text-color;
  text-decoration: none;
  border: solid 1px #ffffff;
  border: solid 1px rgba(255,255,255,0);
}

.editable-click:hover, a.editable-click:hover {
  color: $text-color;
  text-decoration: none;
  border: solid 1px #cccccc;
  cursor: pointer;
}

.editable-empty i{
  color: #428bca;
}

.editable-discreet.editable-click {
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.editable-wrap {
  width: 100%;
}

.editable-controls {
  width: 100%;
}

.editable-small .editable-wrap {
  width: 60%;
}
