.horizontal-panel {
  color: white;
  margin-top: -13px;
  padding-top: 2px;
  margin-left:-20px;
  margin-right:-20px;
  padding-left: 54px;
  margin-bottom: 10px;
  height:24px;
  background: #2d87af;
  font-weight: bold;
  width: auto;
  right: 0px;
  z-index: 300;
  overflow: hidden;
}

.horizontal-panel-text {
  color: white;
  font-weight: bold;
}

.horizontal-panel-text:hover {
  color: white;
  font-weight: bold;
}

.horizontal-panel-text-light {
  color: white;
  font-weight: normal;
}

.horizontal-panel-text-light:hover {
  color: white;
  font-weight: normal;
}

.horizontal-panel-label {
  display: inline-block;
  font-weight: bold;
}
