
.plan-box {
  padding: 2px;
  border: 2px solid;
  border-radius: 5px;
}

.plan-state {
  font-size: 10px;
  width: 64px;
  height: 38px;
}

.plan-operation {
  font-size: 10px;
  width: 140px;
}

.plan-icon {
  font-family: FontAwesome;
  font-style: normal;
}
