.topology-row {
  display: table;
/*   margin-left: -10px; */
/*   margin-right: -10px; */
  border-spacing: 10px 0px;
  width: 100%;
}

.topology-columns {
  display: table-cell;
  vertical-align: top;
}

.topology-details {
  min-width: 450px;
}

.topology-components {
  width: 500px;
}

/* slide side bar*/
.close-search{
  margin-bottom:5px;
}

.well.topology {
  padding: 0px;
  margin-bottom: 4px;
  cursor: move;
}

.application-deployment-flavor-selected {
  background-color: #F5F5F5;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: whitesmoke;
}

.topology-level {
  padding-left:20px;
}

.cardinalities_show {
  cursor: text;
/*   pointer-events: none; */
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}

.cardinalities_show:HOVER, .cardinalities_show:FOCUS, .cardinalities_show:ACTIVE {
  background-color: white;
  border-color: #cccccc;
}

.input-xs {
  height: 20px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.fa.pull-left {
  margin-top: .2em;
}

h4 .editable-error {
  font-size: 14px;
}

#relationshipProperties .form-editable {
  margin-top: 0px;
}

#topology #app-version-select {
  padding: 0px 0px;
  font-size: 12px;
  border-color: #CCC;
  background-color: white;
  padding-bottom: 1px;
}

/*
  Vertical menu
*/

#topology-control-button {
  margin-top: -22px;
}

.close-panel {
  float: right;
  cursor: pointer;
}

.topology-panel-style {
  border-radius: 5px;
  background-color: #FFF;
  padding: 5px;
}

#slide-side-bar {
  height: 100%;
}

#topology-vertical-menu {
  position: fixed;
  right: 55px;
  line-height: 20px;
  vertical-align: top;
}

#topology-vertical-menu, #topology-vertical-menu ul {
  width: 0;
  height: 0;
}

#topology-vertical-menu ul {
  width: 0;
  height: 0;
}

#topology-vertical-menu li {
  display: inline-block;
  list-style-position: outside;
  list-style-type: none;
}

#topology-vertical-menu li span {
  display: inline-block;
  transform-origin: 0px 0px 0px;
  white-space: nowrap;
  cursor: pointer;
}
