<!--  Unauthorized location-->
<div class="text-danger" style="margin: 10px 0px" ng-if="deploymentTopologyDTO.validation.taskList['LOCATION_UNAUTHORIZED'].length>0">
  <i class="fa fa-exclamation-triangle"></i><em><b style="white-space: pre-wrap;"> {{'APPLICATIONS.TOPOLOGY.LOCATION_UNAUTHORIZED_MESSAGE' | translate: deploymentTopologyDTO.validation.taskList['LOCATION_UNAUTHORIZED'][0] }}</b></em>
</div>
<div class="text-danger" style="margin: 10px 0px" ng-if="deploymentTopologyDTO.validation.taskList['CFY_MULTI_RELATIONS'].length>0">
  <i class="fa fa-exclamation-triangle"></i><em><b style="white-space: pre-wrap;"> {{ deploymentTopologyDTO.validation.taskList['CFY_MULTI_RELATIONS'][0].message }}</b></em>
</div>
<!-- End disabled location -->
<div class="content-head text-muted" style="padding-top: 5px;">
  Note: You can select multiple locations of a same orchestrator.
</div>
<empty-place-holder data="locationMatches"></empty-place-holder>
<empty-place-holder data="orchestrators"></empty-place-holder>
<div class="row grp-margin">
  <div ng-repeat="(orchestratorId, orchestratorName) in orchestrators" class="col-xs-11 col-md-11">

      <span>
        <i>{{'ORCHESTRATORS.ORCHESTRATOR' | translate}}</i>: <b>{{orchestratorName}}</b>
      </span>
      <div class="row grp-margin">
        <div ng-repeat="locationMatch in locationMatches"  >
          <div class="col-xs-6 col-md-3"
              ng-if="locationMatch.orchestrator.id==orchestratorId">
            <span class="location-match"
              ng-class="{'location-match-selected': locationMatch.selected && locationMatch.ready,
                        'location-match-danger': locationMatch.selected && !locationMatch.ready,
                        'clickable-media':  locationMatch.ready,
                        'item-disabled':  !locationMatch.ready
                        }"
              ng-click="selectLocation(locationMatch)">
              <b>{{locationMatch.location.name}}</b>
            </span>
          </div>
        </div>

    </div>
  </div>
</div>
