<form name="newForm" class="form-horizontal" role="form" ng-submit="create(newForm.$valid)" novalidate>
  <div class="modal-header">
    <h3>{{'SECRETS.CREDENTIALS' | translate}}</h3>
  </div>
  <div class="modal-body">
    <div class="form-group" ng-class="{'has-error': newForm.version.$invalid}">
      <label for="nameid" class="col-lg-3 control-label">{{'SECRETS.PLUGIN_NAME' | translate}}</label>
      <div class="col-lg-9">
        <span id="nameid">{{pluginName}}</span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button id="btn-create" ng-disabled="newForm.$invalid" class="btn btn-primary" ng-click="ok()">{{'OK' | translate}}</button>
    <button id="btn-cancel" class="btn btn-default" ng-click="cancel()">{{'CANCEL' | translate}}</button>
  </div>
</form>
