<!--  Unauthorized location-->
<div class="text-danger" style="margin: 10px 0px" ng-if="deploymentTopologyDTO.validation.taskList['LOCATION_UNAUTHORIZED'].length>0">
  <i class="fa fa-exclamation-triangle"></i><em><b style="white-space: pre-wrap;"> {{'APPLICATIONS.TOPOLOGY.LOCATION_UNAUTHORIZED_MESSAGE' | translate: deploymentTopologyDTO.validation.taskList['LOCATION_UNAUTHORIZED'][0] }}</b></em>
</div>
<div class="text-danger" style="margin: 10px 0px" ng-if="deploymentTopologyDTO.validation.taskList['CFY_MULTI_RELATIONS'].length>0">
  <i class="fa fa-exclamation-triangle"></i><em><b style="white-space: pre-wrap;"> {{ deploymentTopologyDTO.validation.taskList['CFY_MULTI_RELATIONS'][0].message }}</b></em>
</div>
<!-- End disabled location -->
<div class="content-head text-muted" style="padding-top: 5px;">
  Note: You can select multiple locations of a same orchestrator.
</div>
<empty-place-holder data="locationMatches"></empty-place-holder>
<empty-place-holder data="orchestrators"></empty-place-holder>
<div class="row grp-margin">
  <div class="col-xs-6 col-md-3">
    <div ng-repeat="(locationGroupName, locationGroup) in locationGroups" >
        <span class="location-group clickable-media"
              ng-class="{'location-group-selected': isGroupSelected(locationGroupName),
                        'location-group-ready': isGroupReady(locationGroup),
                        'location-group-danger': isGroupDanger(locationGroup)
                        }"
              ng-click="groupClick(locationGroup)">
          <i>Group</i>: <b>{{locationGroupName}}</b>
        </span>
    </div>
  </div>
  <div class="col-xs-6 col-md-9" ng-if="hasGroupSelected">
    <span>
      <i>{{'ORCHESTRATORS.ORCHESTRATOR' | translate}}</i>:
      <select id="groupOrchestratorSelector" class="form-control form-control-inline" ng-model="selectedOrchestratorId" style="width:35%">
        <option ng-repeat="(orchestratorId, orchestratorName) in orchestrators" value="{{orchestratorId}}">{{orchestratorName}}</option>
      </select>
    </span>
    <span>
      <i>Location</i>:
      <select id="groupLocationSelector" class="form-control form-control-inline" ng-model="selectedLocationMatch" ng-change="selectLocation(selectedLocationMatch)"   style="width:35%">
          <option ng-repeat="locationMatch in locationMatches" value="{{locationMatch.location.id}}" ng-if="locationMatch.orchestrator.id==selectedOrchestratorId">{{locationMatch.location.name}}</option>
      </select>
    </span>
  </div>
</div>

