<div class="breadcrumb-panel">
  <ol class="breadcrumb breadcrumb-arrow">
		<li><a href="#" ng-click="goToApplication($event)">{{application.name}}</a></li>
		<li class="active"><span>{{environment.name}}</span></li>
	</ol>
</div>
<!--
<div class="row grp-margin">
    <div class="col-md-1">
      <i class="fa fa-4x {{statusIconCss(environment)}}"></i>
    </div>
    <div class="col-md-11">
        <h4>{{environment.name}} ({{environment.environmentType}})</h4>
        <h4 class="{{statusTextCss(environment)}}">{{'DEPLOYMENT.STATUS.' + environment.status | translate}}</h4>
    </div>
</div>
-->

<div class="row grp-margin">
    <div class="col-md-12">
        <i class="fa {{statusIconCss(environment)}}"></i> <span class="{{statusTextCss(environment)}}">{{'DEPLOYMENT.STATUS.' + environment.status | translate}}</span>
    </div>
</div>
<ul class="nav nav-tabs grp-margin">
  <li role="presentation" ng-repeat="menuItem in menu" ui-sref-active="active"
    ng-class="{'disabled' : menuItem.disabled}">
    <a id="{{menuItem.id}}"
       ng-click="onItemClick($event, menuItem)"
       ui-sref="{{menuItem.state}}">
      <i class="{{menuItem.icon}}" ng-if="menuItem.icon" ng-class="{'text-muted' : menuItem.disabled}"></i> {{menuItem.key | translate}} <span ng-if="menuItem.state === 'applications.detail.environment.deploynext'">{{environment.currentVersionName}}</<span><span ng-if="menuItem.state === 'applications.detail.environment.deploycurrent'">{{environment.deployedVersion}}</<span>
    </a>
  </li>
</ul>
<div ui-view></div>
