<resources-matching
  available-substitutions='deploymentTopologyDTO.availableSubstitutions.availablePoliciesSubstitutions'
  substituted-resources='deploymentTopologyDTO.policyLocationResourceTemplates'
  substituted-nodes='deploymentTopologyDTO.topology.substitutedPolicies'
  templates='deploymentTopologyDTO.topology.policies'
  original-nodes='deploymentTopologyDTO.topology.originalPolicies'
  all-substitution-types='deploymentTopologyDTO.availableSubstitutions.substitutionTypes'
  location-resources-types='deploymentTopologyDTO.availableSubstitutions.substitutionTypes.policyTypes'
  templates-types='deploymentTopologyDTO.policyTypes'
  topology='deploymentTopologyDTO.topology'
  service-context='serviceContext'
  application='application'
  environment='environment'
  template-edit-url='views/_ref/applications/includes/substituted_policy_template_edit.html'
>
</resources-matching>
