<style>
    .nav-vcenter {
        width: 50px;
        margin: 30px auto auto 0px;
    }

    .nav-leftside {
        margin-left: -20px;
    }

    .nav-small {
        background-color: #035b8b;
        color: white;
        text-align: center;
    }

    .nav-small>li>a {
        color: white;
        font-size: 10px;
        padding: 8px 4px 8px 4px;
    }

    .nav-small .active,
    .nav-small>li>a:hover,
    .nav-small>li>a:focus {
        background-color: rgb(104, 160, 188);
    }
</style>

<div class="row">
    <div class="col-sm-1">
        <ul class="nav nav-stacked grp-margin nav-vcenter nav-leftside nav-small">
            <li role="presentation" ng-repeat="menuItem in menu" ui-sref-active="active" >
                <a id="{{menuItem.id}}" 
                ng-click="onItemClick($event, menuItem)"
                ng-class="{'text-muted' : menuItem.disabled}"
                ui-sref="{{menuItem.state}}"><i class="{{menuItem.icon}} fa-2x" ng-if="menuItem.icon"></i><br/>{{menuItem.key | translate}} </a>
            </li>
        </ul>
    </div>

    <div class="col-sm-11" ui-view>
    </div>
</div>