<div class="row grp-margin">
    <div class="col-md-12" ng-if="deploymentTopologyDTO.validation.taskList['MISSING_VARIABLES'].length > 0">
        <div class="text-danger" ng-repeat="task in deploymentTopologyDTO.validation.taskList['MISSING_VARIABLES']">
            <i class="fa fa-times-circle fa-fw"></i><em><b style="white-space: pre-wrap;"> {{
            'ERRORS.SERVER_LOG.MISSING_VARIABLES' | translate:task }}</b></em>
        </div>
    </div>

    <div class="col-md-12"
         ng-if="deploymentTopologyDTO.validation.taskList['UNRESOLVABLE_PREDEFINED_INPUTS'].length > 0">
        <div class="text-danger"
             ng-repeat="task in deploymentTopologyDTO.validation.taskList['UNRESOLVABLE_PREDEFINED_INPUTS']">
            <i class="fa fa-times-circle fa-fw"></i><em><b style="white-space: pre-wrap;"> {{
            'ERRORS.SERVER_LOG.UNRESOLVABLE_PREDEFINED_INPUTS' | translate:task }}</b></em>
        </div>
    </div>

    <div class="col-md-12"
         ng-if="deploymentTopologyDTO.validation.taskList['PREDEFINED_INPUTS_CONSTRAINT_VIOLATION'].length > 0">
        <div class="text-danger"
             ng-repeat="(inputName, violation) in deploymentTopologyDTO.validation.taskList['PREDEFINED_INPUTS_CONSTRAINT_VIOLATION'][0].violatingInputs">
            <i class="fa fa-times-circle fa-fw"></i><em><b style="white-space: pre-wrap;"> {{
            'ERRORS.SERVER_LOG.PREDEFINED_INPUTS_CONSTRAINT_VIOLATION' | translate:{inputName: inputName} }}{{'ERRORS.800.'+violation.name | translate:violation }}</b></em>
        </div>
    </div>

    <div class="col-md-12"
         ng-if="deploymentTopologyDTO.validation.taskList['PREDEFINED_INPUTS_TYPE_VIOLATION'].length > 0">
        <div class="text-danger"
             ng-repeat="(inputName, violation) in deploymentTopologyDTO.validation.taskList['PREDEFINED_INPUTS_TYPE_VIOLATION'][0].violatingInputs">
            <i class="fa fa-times-circle fa-fw"></i><em><b style="white-space: pre-wrap;"> {{
            'ERRORS.SERVER_LOG.PREDEFINED_INPUTS_TYPE_VIOLATION' | translate:violation }}</b></em>
        </div>
    </div>
</div >

<div class="row grp-margin">
    <!-- Deployer Input properties  -->
  <div class="col-md-6 grp-margin">
    <div class="content-head">
      <i class="fa fa-sign-in"></i> {{'APPLICATIONS.TOPOLOGY.PROPERTIES_INPUTS' | translate}}
    </div>
    <div class="content-body">
      <empty-place-holder data="deployerInputs"></empty-place-holder>
      <table class="table table-condensed" id="inputsTable"
        ng-if="_.isNotEmpty(deployerInputs)">
        <tr ng-repeat="(inputId, inputDefinition) in deployerInputs">
          <td>
            <button id="p_secret_input_{{inputId}}"
               ng-click="secrets.toggleInputSecret(deploymentTopologyDTO.topology, inputId)"
               class="btn btn-default btn-xs"
               ng-class="{'active' : properties.isSecretValue(deploymentTopologyDTO.topology.deployerInputProperties[inputId])}"
               tooltip-append-to-body="true">
              <i class="fa fa-key "></i>
            </button>
          </td>
          <td>
            <secret-display
              ng-show="properties.isSecretValue(deploymentTopologyDTO.topology.deployerInputProperties[inputId])"
              property-name="inputId"
              property-value="deploymentTopologyDTO.topology.deployerInputProperties[inputId]"
              definition="inputDefinition"
              selected-node-template="selectedNodeTemplate"
              editable="true"
              on-save="saveInputSecret(secretPath, propertyValue, propertyName)">
            </secret-display>
            <property-display
              ng-show="!properties.isSecretValue(deploymentTopologyDTO.topology.deployerInputProperties[inputId])"
              definition="inputDefinition"
              property-type="deploymentTopologyDTO.dataTypes[inputDefinition.type]"
              dependencies="deploymentTopologyDTO.topology.dependencies"
              property-name="inputId"
              property-value="deploymentTopologyDTO.topology.deployerInputProperties[inputId]"
              on-save="updateInputValue(propertyDefinition, propertyValue, inputId)"
              editable="true"
              condensed="true">
            </property-display>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Input artifacts  -->
  <div class="col-md-6">
    <div class="content-head">
      <i class="fa fa-archive"></i> {{'APPLICATIONS.TOPOLOGY.ARTIFACTS.INPUTS' | translate}}
    </div>
    <div class="content-body">
      <div class="task-list-box" ng-if="deploymentTopologyDTO.validation.taskList['INPUT_ARTIFACT_INVALID']">
        <input-artifacts-errors-display
          tasks="deploymentTopologyDTO.validation.taskList['INPUT_ARTIFACT_INVALID']">
        </input-artifacts-errors-display>
      </div>
      <empty-place-holder data="deploymentTopologyDTO.topology.inputArtifacts"></empty-place-holder>
      <ul ng-if="_.isNotEmpty(deploymentTopologyDTO.topology.inputArtifacts)">
        <li ng-repeat="(artifactKey,artifactValue) in deploymentTopologyDTO.topology.inputArtifacts">
          {{artifactKey}}
          <div uib-collapse="isArtifactCollapsed">
            <div class="row">
              <div class="col-md-3">{{'COMMON.TYPE' | translate}}</div>
              <div class="col-md-9">{{artifactValue.artifactType}}</div>
            </div>
            <div class="row">
              <div class="col-md-3">{{'APPLICATIONS.TOPOLOGY.REFERENCE' | translate}}</div>
              <div class="col-md-9">
                <span>{{deploymentTopologyDTO.topology.uploadedInputArtifacts[artifactKey].artifactName | truncate:20}}</span>
                <div class="fileUploadImg btn" uib-tooltip="{{'APPLICATIONS.TOPOLOGY.UPDATE_ARTIFACT' | translate}}">
                  <span><i class="fa fa-upload text-primary" ng-click="openInputArtifactModal(artifactKey, artifactValue)"></i></span>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row grp-margin">
  <!-- preconfigured  Input properties  -->
  <div class="col-md-6">
    <div class="content-head clickable"
    ng-click="preconfiguredPropsCollapsed = !preconfiguredPropsCollapsed">
      <i class="fa fa-sign-in"></i> {{'APPLICATIONS.TOPOLOGY.PRECONFIGURED_PROPERTIES_INPUTS' | translate}}
      <i style="padding-right: .8em;" class="vertical-align-middle fa" ng-class="{'fa-caret-down' : !preconfiguredPropsCollapsed, 'fa-caret-right': preconfiguredPropsCollapsed}"></i>
    </div>
    <div class="content-body" uib-collapse="preconfiguredPropsCollapsed">
      <empty-place-holder data="predefiniedInputs"></empty-place-holder>
      <table class="table table-condensed" id="inputsTable"
        ng-if="_.isNotEmpty(predefiniedInputs)">
        <tr ng-repeat="(inputId, inputDefinition) in predefiniedInputs">
          <td>
            <property-display
              ng-show="!properties.isSecretValue(deploymentTopologyDTO.topology.preconfiguredInputProperties[inputId])"
              definition="inputDefinition"
              property-type="deploymentTopologyDTO.dataTypes[inputDefinition.type]"
              dependencies="deploymentTopologyDTO.topology.dependencies"
              property-name="inputId"
              property-value="deploymentTopologyDTO.topology.preconfiguredInputProperties[inputId]"
              on-save="updateInputValue(propertyDefinition, propertyValue, inputId)"
              editable="false"
              condensed="true">
            </property-display>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
