<div>
  <div class="row" style="margin-bottom: 10px;">
    <!--  Create button -->
    <div class="col-md-9">
      <button class="btn btn-success" id="app-env-new-btn" ng-click="openNewAppEnv()">
        <i class="fa fa-plus-circle"></i> {{'APPLICATIONS.ENVIRONMENT.NEW' | translate}}
      </button>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <div class="table-responsive large-data-container" id="users-table">
        <table class="table">
          <thead>
            <tr>
              <th style="width: 40px">{{'APPLICATIONS.ENVIRONMENT.STATUS' | translate}}</th>
              <th>{{'COMMON.NAME' | translate}}</th>
              <th>{{'APPLICATIONS.VERSION.LABEL' | translate}}</th>
              <th>{{'APPLICATIONS.VERSION.TOPOLOGY.LABEL' | translate}}</th>
              <th style="width: 180px">{{'COMMON.TYPE' | translate}}</th>
              <th>{{'COMMON.DESCRIPTION' | translate}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="environment in environments | orderBy:'name' track by environment.id" id="{{environment.id}}">
              <td>
                <i class="pull-left fa fa-2x vertical-center" uib-tooltip="{{'DEPLOYMENT.STATUS.' + environment.status | translate }}" tooltip-append-to-body="true" ng-class="{
                  'fa-circle text-success' : environment.status == 'DEPLOYED',
                  'fa-circle text-muted' : environment.status == 'UNDEPLOYED',
                  'fa-warning text-warning' : environment.status == 'WARNING',
                  'fa-circle text-danger' : environment.status == 'FAILURE',
                  'fa-question-circle text-muted' : environment.status == 'UNKNOWN',
                  'fa-spinner fa-spin' : environment.status == 'DEPLOYMENT_IN_PROGRESS' || environment.status == 'UNDEPLOYMENT_IN_PROGRESS'
                }"></i>
              </td>
              <td id="{{environment.name}}-name-td"><span editable-text="environment.name" onbeforesave="updateApplicationEnvironment('name', $data, environment.id, environment.name)" buttons="no" style="font-style:inherit;" blur="submit">{{environment.name}} <i class="fa fa-edit"></i></span></td>
              <td>
                {{environment.selectedAppVersion.version}}
              </td>
              <td>
                <span class="text-muted" ng-bind-html="environment.selectedAppTopoVersion | a4cHighlight: variant.qualifier:'text-default'"></span>
              </td>
              <td>
                <select class="form-control" name="envList" id="{{environment.name}}-envlistid" ng-model="environment.environmentType" ng-options="'ENVIRONMENT_TYPE.'+e | translate for e in envTypeList.data" ng-change="updateApplicationEnvironment('environmentType', environment.environmentType, environment.id)"></select>
              </td>
              <td><span editable-text="environment.description" onbeforesave="updateApplicationEnvironment('description', $data, environment.id, environment.description)" buttons="no" style="font-style:inherit;" blur="submit">{{environment.description}} <i class="fa fa-edit"></i></span></td>
              <td>
                <!-- Remove an environment -->
                <delete-confirm class="pull-right" id="delete-env_{{environment.name}}" func="delete(environment.id)" position="left" bssize="btn-sm" fastyle="fa-trash-o">
                </delete-confirm>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-directive pagination-info="searchService.pagination" />
      </div>
    </div>
  </div>
</div>
