<div class="row grp-margin">
  <div class="col-md-6">
    <managed-service
      application="application"
      topology="deploymentTopologyDTO.topology"
      environment="environment">
    </managed-service>
  </div>
  <div class="col-md-6">
    <!-- DEPLOY BUTTON -->
    <button id="btn-deploy"
            type="button"
            class="btn btn-success application-deploy-button pull-right"
            ng-disabled="!deploymentTopologyDTO.validation.valid || isDeploying"
            ng-click="deploy()"
            ng-if="environment.status === 'UNDEPLOYED'">
      <i class="fa" ng-class="{'fa-play': !isDeploying, 'fa-spinner fa-spin': isDeploying}"></i> {{'APPLICATIONS.DEPLOY' | translate}}
    </button>
    <button id="btn-update"
            type="button"
            class="btn btn-primary application-deploy-button pull-right"
            ng-disabled="!deploymentTopologyDTO.validation.valid || isDeploying"
            ng-click="update()"
            ng-if="isUpdatable()">
      <i class="fa" ng-class="{'fa-play': !isDeploying, 'fa-spinner fa-spin': isDeploying}"></i> {{'APPLICATIONS.UPDATE_DEPLOYMENT' | translate}}
    </button>
  </div>
</div>

<!-- DEPLOYMENT TOPO CONFIGURATION ERRORS -->
<div class="row grp-margin" ng-if = "_.isNotEmpty(deploymentTopologyDTO.validation.taskList)">
  <!-- NODE FILTERS-->
  <div class="col-md-6" ng-if="deploymentTopologyDTO.validation.taskList['NODE_FILTER_INVALID']">
    <div class="task-list-box">
      <node-filters-errors-display
        tasks = "deploymentTopologyDTO.validation.taskList['NODE_FILTER_INVALID']"
        input-column=true>
      </node-filters-errors-display>
    </div>
  </div>
  <!-- SCALABILITY ERRORS -->
  <div class="col-md-6" ng-if="deploymentTopologyDTO.validation.taskList['SCALABLE_CAPABILITY_INVALID']">
    <div class="task-list-box">
      <scalability-errors-display
        tasks="deploymentTopologyDTO.validation.taskList['SCALABLE_CAPABILITY_INVALID']">
      </scalability-errors-display>
    </div>
  </div>
  <!--  Required properties tasks  -->
  <div class="col-md-6" ng-if="deploymentTopologyDTO.validation.taskList['PROPERTIES']">
    <div class="task-list-box">
      <properties-errors-display
        tasks = "deploymentTopologyDTO.validation.taskList['PROPERTIES']">
      </properties-errors-display>

    </div>
  </div>
  <div class="col-md-6">
    <!--  Workflow tasks  -->
    <div ng-if="(wfTasks = deploymentTopologyDTO.validation.taskList['WORKFLOW_INVALID']).length>0">
      <h4 class="clickable" ng-init="isWorkflowsCollapsed = false" ng-click="isWorkflowsCollapsed = !isWorkflowsCollapsed">
        <i class="fa" ng-class="{'fa-caret-down' : !isWorkflowsCollapsed, 'fa-caret-right': isWorkflowsCollapsed}"></i>
        <span>{{'APPLICATIONS.TOPOLOGY.TASK.WORKFLOWS.TITLE' | translate}}</span>
      </h4>

      <div uib-collapse="isWorkflowsCollapsed" >
        <ul>
          <li ng-repeat="wfTask in wfTasks">
            {{'APPLICATIONS.TOPOLOGY.TASK.WORKFLOWS.HAS_ERROR' | translate:wfTask}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- Provider deployment properties -->
<div class="row grp-margin">
  <div ng-if="_.isNotEmpty(orchestratorDeploymentPropertyDefinitions)" class="col-md-6">
    <div class="content-head clickable" ng-click="isOrchestratorDeploymentPropertiesCollapsed = !isOrchestratorDeploymentPropertiesCollapsed">
      <i class="fa fa-cog"></i> {{'APPLICATIONS.TOPOLOGY.ORCHESTRATOR_PROPERTIES' | translate}}
      <i class="fa" ng-class="{'fa-caret-down' : !isOrchestratorDeploymentPropertiesCollapsed, 'fa-caret-right': isOrchestratorDeploymentPropertiesCollapsed}"></i>
    </div>
    <div uib-collapse="isOrchestratorDeploymentPropertiesCollapsed" class="content-body">
      <table class="table table-condensed" id="nodeTemplateProperties">
        <tr ng-repeat="(propertyKey,propertyDefinition) in orchestratorDeploymentPropertyDefinitions">
          <td id="p_deployment_{{propertyKey}}">
            <property-display
              ng-init="condensed = true"
              definition="propertyDefinition"
              property-name="propertyKey"
              property-value="deploymentTopologyDTO.topology.providerDeploymentProperties[propertyKey]"
              on-save="updateDeploymentProperty(propertyDefinition, propertyKey, propertyValue)"
              editable="true"
              condensed="condensed">
            </property-display>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
