<!--  Unauthorized location-->
<div class="text-danger" style="margin: 10px 0px" ng-if="deploymentTopologyDTO.validation.taskList['LOCATION_UNAUTHORIZED'].length>0">
  <i class="fa fa-exclamation-triangle"></i><em><b style="white-space: pre-wrap;"> {{'APPLICATIONS.TOPOLOGY.LOCATION_UNAUTHORIZED_MESSAGE' | translate: deploymentTopologyDTO.validation.taskList['LOCATION_UNAUTHORIZED'][0] }}</b></em>
</div>
<div class="text-danger" style="margin: 10px 0px" ng-if="deploymentTopologyDTO.validation.taskList['CFY_MULTI_RELATIONS'].length>0">
  <i class="fa fa-exclamation-triangle"></i><em><b style="white-space: pre-wrap;"> {{ deploymentTopologyDTO.validation.taskList['CFY_MULTI_RELATIONS'][0].message }}</b></em>
</div>
<!-- End disabled location -->

<empty-place-holder data="locationMatches"></empty-place-holder>
<div class="row grp-margin">
  <div ng-repeat="locationMatch in locationMatches" class="col-xs-6 col-md-3" >
    <span class="location-match"
      ng-class="{'location-match-selected': locationMatch.selected && locationMatch.ready,
                 'location-match-danger': locationMatch.selected && !locationMatch.ready,
                 'clickable-media': !locationMatch.selected && locationMatch.ready,
                 'item-disabled': !locationMatch.selected && !locationMatch.ready
                }"
      ng-click="selectLocation(locationMatch)">
      <b>{{locationMatch.location.name}}</b>  <br>
      <i>{{'ORCHESTRATORS.ORCHESTRATOR' | translate}}</i>: <b>{{locationMatch.orchestrator.name}}</b>
    </span>
  </div>
</div>
