<form name="newApplicationEnvironment" class="form-horizontal" role="form" ng-submit="create(newApplicationEnvironment.$valid,selectedEnvType,selectedVersion.id)" novalidate>
  <div class="modal-header">
    <h3>{{'APPLICATIONS.ENVIRONMENT.NEW' | translate}}</h3>
  </div>
  <div class="modal-body">
    <div class="form-group" ng-class="{'has-error': newApplicationEnvironment.name.$invalid}">
      <label for="nameid" class="col-lg-3 control-label">{{'COMMON.NAME' | translate}}</label>
      <div class="col-lg-9">
        <input type="text" class="form-control" id="nameid" ng-model="newEnvironment.name" name="name" required placeholder="{{'COMMON.NAME' | translate}}" autofocus>
      </div>
    </div>
    <div class="form-group">
      <label for="descid" class="col-lg-3 control-label">{{'COMMON.DESCRIPTION' | translate}}</label>
      <div class="col-lg-9">
        <textarea class="form-control" id="descid" rows="3" ng-model="newEnvironment.description" placeholder="{{'COMMON.DESCRIPTION' | translate}}"></textarea>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': newApplicationEnvironment.envtypes.$invalid}">
      <label for="envtypelistid" class="col-lg-3 control-label">{{'APPLICATIONS.ENVIRONMENT.FORM.ENV_TYPE' | translate}}</label>
      <div class="col-lg-9">
        <select name="envtypes" required class="form-control" id="envtypelistid" ng-model="newEnvironment.environmentType" ng-options="'ENVIRONMENT_TYPE.'+e | translate for e in envTypeList.data">
          <option value="">{{'APPLICATIONS.ENVIRONMENT.FORM.ENV_TYPE_SELECT' | translate}}</option>
        </select>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': newApplicationEnvironment.applicationVersions.$invalid}">
      <label for="versionslistid" class="col-lg-3 control-label">{{'APPLICATIONS.ENVIRONMENT.FORM.ENV_VERSION' | translate}}</label>
      <div class="col-lg-9">
        <select name="applicationVersions" required class="form-control" id="versionslistid" ng-model="selectedVersion" ng-options="v.version for v in versions">
          <option value="">{{'APPLICATIONS.ENVIRONMENT.FORM.ENV_VERSION_SELECT' | translate}}</option>
        </select>
      </div>
    </div>
    <div class="form-group" ng-show="selectedVersion" ng-class="{'has-error': newApplicationEnvironment.applicationTopoVersions.$invalid}">
      <label for="topoversionlistid" class="col-lg-3 control-label">{{'APPLICATIONS.VERSION.TOPOLOGY.LABEL' | translate}}</label>
      <div class="col-lg-9">
        <select name="applicationTopoVersions" required class="form-control" id="topoversionlistid" ng-model="newEnvironment.versionId" ng-options="key as key for (key, value) in selectedVersion.topologyVersions">
          <option value="">{{'APPLICATIONS.ENVIRONMENT.FORM.ENV_VERSION_SELECT' | translate}}</option>
        </select>
      </div>
    </div>
    <div class="form-group" ng-show="inputCandidates.length > 0">
      <label for="inputcandidateslistid" class="col-lg-3 control-label">{{'APPLICATIONS.ENVIRONMENT.FORM.ENV_INPUT_CANDIDATE_LABEL' | translate}}</label>
      <div class="col-lg-9">
        <select name="inputCandidates" class="form-control" id="inputcandidateslistid" ng-model="newEnvironment.inputCandidate" ng-options="inputCandidate.name for inputCandidate in inputCandidates">
          <option value="">{{'APPLICATIONS.ENVIRONMENT.FORM.ENV_INPUT_CANDIDATE_SELECT' | translate}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button id="btn-create" ng-disabled="newApplicationEnvironment.$invalid" class="btn btn-primary">{{'CREATE' | translate}}</button>
    <button id="btn-cancel" class="btn btn-default" ng-click="cancel()">{{'CANCEL' | translate}}</button>
  </div>
</form>
