<!-- Flow execution Logs -->
<div style="margin-bottom: 20px">
    <div class="row" ng-if="deploymentTopologyDTO.validation.taskList['LOG'].length > 0">
        <div class="col-md-12">
            <div class="text-danger" ng-repeat="task in deploymentTopologyDTO.validation.taskList['LOG']">
                <i class="fa fa-times-circle fa-fw"></i><em><b style="white-space: pre-wrap;"> {{ task.message }}</b></em>
            </div>
        </div>
    </div>
    <div class="row" ng-if="deploymentTopologyDTO.validation.warningList['LOG'].length > 0">
        <div class="col-md-12">
            <div class="text-warning" ng-repeat="task in deploymentTopologyDTO.validation.warningList['LOG']">
                <i class="fa fa-exclamation-triangle fa-fw"></i><em><b style="white-space: pre-wrap;"> {{ task.message }}</b></em>
            </div>
        </div>
    </div>
    <div class="row" ng-if="deploymentTopologyDTO.validation.infoList['LOG'].length > 0">
        <div class="col-md-12">
            <div class="text-info" ng-repeat="task in deploymentTopologyDTO.validation.infoList['LOG']">
                <i class="fa fa-info fa-fw"></i><em><b style="white-space: pre-wrap;"> {{ task.message }}</b></em>
            </div>
        </div>
    </div>
</div>
<!-- Steps navigation pills -->
<ul class="nav nav-pills grp-margin">
  <li role="presentation" ng-repeat="menuItem in menu" ui-sref-active="active"
    ng-class="{'disabled' : menuItem.disabled}">
    <a id="{{menuItem.id}}"
       ng-click="onItemClick($event, menuItem)"
       ui-sref="{{menuItem.state}}"
       ng-class="{'btn-success': menuItem.step.status === 'SUCCESS', 'btn-warning': menuItem.step.status ==='WARNING', 'btn-danger': menuItem.step.status ==='ERROR'}">
      <i class="{{menuItem.icon}}" ng-if="menuItem.icon" ng-class="{'text-muted' : menuItem.disabled}"></i> {{menuItem.key | translate}}
    </a>
  </li>
</ul>
<div ui-view></div>
