<div class="row">
  <div class=col-md-6>
    <!-- application infos -->
    <div class="row">
      <div class="col-md-4" style="text-align: center;">
        <!-- Image section -->
        <div id="am.applications.detail.drag-and-drop" class="drop-box drop-box-for-icon" ng-if="!application.imageId && isManager" ngf-drop="onImageSelected($files)">
          <span>
            {{'APPLICATIONS.IMAGE_UPLOAD' | translate}}, {{'COMMON.OR' | translate}}
            <label>
              <span class="drop-box-browse">{{ 'UPLOAD.BROWSE' | translate }}</span>.
              <input type="file"
              ngf-select="onImageSelected($files)"
              style="display:none"
              multiple />
            </label>
          </span>
        </div>
        <img ng-if="noshow = (application.imageId && isManager)" ng-src="{{application.imageId?('img?id=' + application.imageId + '&quality=QUALITY_128'):null}}" ngf-drop="onImageSelected($files)" />
        <img ng-if="!noshow && application.imageId" ng-src="{{application.imageId?('img?id=' + application.imageId + '&quality=QUALITY_128'):null}}" />
      </div>
      <div class="col-md-8">
        <div id="app-name" class="h1" ng-switch="isManager">
          <span ng-switch-when="true" uib-tooltip="{{application.name}}" editable-text="application.name" buttons="no" e-required e-class="input-lg" onbeforesave="updateApplication('name',$data)" blur="submit" ng-if="isManager">
            <span>{{application.name}}</span> <i class="fa fa-edit"></i>
          </span>
          <span ng-switch-default uib-tooltip="{{application.name}}">
            {{application.name}}
          </span>
        </div>
        <div id="app-desc" ng-switch="isManager">
          <span ng-switch-when="true" editable-textarea="application.description" buttons="no" e-required onbeforesave="updateApplication('description',$data)" blur="submit">
            {{application.description || 'description'}} <i class="fa fa-edit"></i>
          </span>
          <span ng-switch-default>
            {{application.description}}
          </span>
        </div>
      </div>
    </div>


    <div class="row grp-margin">
      <div class="col-md-4">
        <strong>{{'CREATION_DATE' | translate }}</strong>
      </div>
      <div class="col-md-8">{{application.creationDate | date:'medium'}}</div>
    </div>
    <div class="row grp-margin">
      <div class="col-md-4">
        <strong>{{'UPDATE_DATE' | translate }}</strong>
      </div>
      <div class="col-md-8">{{application.lastUpdateDate | date:'medium'}}</div>
    </div>

    <!-- dynamic sub-states menu -->
    <div class="grp-margin" style="margin-top:40px;">
        <div class="block-margin">
          <div class="row">
            <div ng-repeat="menuItem in menu" class="col-md-2">
              <a style="margin-left: 25px;"
                 id="{{menuItem.id}}"
                 ng-if="menuItem.show"
                 ng-click="onItemClick($event, menuItem)"
                 ui-sref="{{menuItem.state}}"
                 uib-tooltip="{{menuItem.key | translate}}"
                 tooltip-placement="right"
                 tooltip-append-to-body="true"
                 class="btn btn-primary btn-rnd-menu"
                 ng-class="{'disabled' : menuItem.disabled}">
                <i class="{{menuItem.icon}} fa-fw" ng-show="menuItem.icon" ng-class="{'text-muted' : menuItem.disabled}"></i>
              </a>
              <h4 style="text-align:center; color:#999999;">{{menuItem.key | translate}}</h4>
            </div>
            <div class="col-md-2">
              <delete-confirm id="btn-delete-app" style="margin-left: 25px;" ng-if="isManager" func="removeApplication(application.id)" position="left" bssize="btn-rnd-menu" fastyle="fa-trash-o fa-fw">
              </delete-confirm>
              <h4 style="text-align:center; color:#999999;">{{'DELETE' | translate}}</h4>
            </div>
          </div>
        </div>
    </div>


    <!-- tags and meta-properties -->
    <meta-properties-display
      ng-if="isManager && application.metaProperties"
      properties-type="'application'"
      target="application"
      resturl="'rest/latest/applications/:applicationId/properties'"
      params="{applicationId: application.id}">
    </meta-properties-display>
    <div class="block-margin" ng-if="isManager || application.tags.length > 0" style="margin-right:40px">
      <a4c-tags base-url="rest/latest/applications/:applicationId/tags"
        resource-key="applicationId"
        resource-id="application.id"
        tags="application.tags"
        manager="isManager"></a4c-tags>
    </div>
  </div>
  <div class=col-md-6>
    <!-- environments list -->
    <h3>Work on an environment</h3>
    <div>
      <div class="text-muted">
        Prepare next deployment for an environment: associate a version, edit it's topology, configure deployment options and deploy.<br>Manage the current deployment for the environment.
      </div>
      <!-- inplace search bar-->
        <form class="grp-margin">
          <div class="input-group">
            <input id="inplace-search-query" type="text" class="form-control input-sm" placeholder="{{'COMMON.SEARCH' | translate}}" ng-model="searchEnv.name" style="padding-left: {{searchPadding}}px;">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
          </div>
        </form>
      <table class="table table-condensed grp-margin">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Type</th>
            <th>Next version</th>
            <th>Deployed version</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="environment in environments | filter:searchEnv" id='env_{{environment.id}}' class="clickable" ng-click="onEnvironment(environment.id)">
            <td><i class="fa {{statusCss(environment)}}" uib-tooltip="{{'DEPLOYMENT.STATUS.' + environment.status | translate }}" tooltip-append-to-body="true"
            ></i></td>
            <td>{{environment.name}}</td>
            <td>{{environment.environmentType}}</td>
            <td>{{environment.currentVersionName}}</td>
            <td>{{environment.deployedVersion}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- versions list -->
    <div class="block-margin">
      <h3>Edit a version's topology</h3>
      <div class="text-muted">
        Edit a version's topology out of the scope of an environment (allow the edition of a version that is not currently selected for deployment on any environment)
      </div>
      <!-- inplace search bar-->
      <form class="grp-margin">
        <div class="input-group">
          <input id="inplace-search-query" type="text" class="form-control input-sm" placeholder="{{'COMMON.SEARCH' | translate}}" ng-model="searchVersion">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
        </div>
      </form>
      <table class="table table-condensed grp-margin">
        <thead>
          <tr>
            <th></th>
            <th colspan="2">Version</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody ng-repeat="version in versions | filter:searchVersion" id='v_{{version.id}}' class="clickable" ng-click="onVersion(version.id)">
          <tr>
            <td rowspan="{{1 + _.size(version.topologyVersions)}}"><i class="fa" ng-class="{'fa-truck': version.released, 'fa-code': !version.released}"></i></td>
            <td colspan="2">{{version.version}}</td>
            <td>{{version.description}}</td>
          </tr>
          <tr ng-repeat="(variantVersion, variant) in version.topologyVersions">
            <td></td>
            <td><span class="text-muted" ng-bind-html="variantVersion | a4cHighlight: variant.qualifier:'text-default'"></span></td>
            <td>{{variant.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
