<div id="topology-editor" class="topology-editor" style="height: {{dimensions.height}}px; width: {{dimensions.width}}px;">
  <div class="topology-row" style="height: {{dimensions.height}}px;">
    <!-- TOPOLOGY display -->
    <div id="topology" class="topology-column">
      <div class="topology topology-column-box">
        <topology-rendering ng-if="topology" dimensions="visualDimensions" topology="topology"
          callbacks="callbacks"
          graph-control="graphControl"
          runtime="true">
        </topology-rendering>
      </div>
    </div>
    <!-- runtime details -->
    <div id="runtime-details-box" ng-show="displays.details.active" class="topology-column" style="width: {{displays.details.size}}px;">
      <div class="topology-column-box">
        <resizable-bar
          id="runtime-details-box-handler"
          classes="topology-column-menu-left">
        </resizable-bar>
        <div class="topology-column-content" ng-if="displays.details.active">
          <ng-include src="'views/_ref/applications/includes/runtime_editor_details.html'"></ng-include>
        </div>
      </div>
    </div>

    <!-- runtime events -->
    <div id="runtime-events-box" ng-show="displays.events.active" class="topology-column" style="width: {{displays.events.size}}px;">
      <div class="topology-column-box">
        <resizable-bar
          id="runtime-events-box-handler"
          classes="topology-column-menu-left">
        </resizable-bar>
        <div class="topology-column-content">
          <ng-include src="'views/_ref/applications/includes/runtime_editor_events.html'"></ng-include>
        </div>
      </div>
    </div>

    <!-- exposed service information -->
    <div id="runtime-service-box" ng-show="displays.service.active" class="topology-column" style="width: {{displays.service.size}}px;">
      <div class="topology-column-box">
        <resizable-bar
          id="runtime-service-box-handler"
          classes="topology-column-menu-left">
        </resizable-bar>
        <div class="topology-column-content">
          <managed-service
            application="application"
            topology="topology.topology"
            environment="environment"
            runtime="true",
            close="display.set('service', false)">
          </managed-service>
        </div>
      </div>
    </div>
    <!-- Right vertical menu -->
    <div id="topology-vertical-menu" class="topology-column">
      <ul>
        <li ng-repeat="(menuName, menuDetail) in displays" ng-show="!menuDetail.active">
          <span id="topology-{{menuName}}" ng-click="display.toggle(menuName)">
            <i class="fa {{menuDetail.fa}}"></i> {{menuDetail.title | translate}}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
