<div class="row">
  <div class="col-md-2 grp-margin" ng-if="canEditTopology">
    <button class="btn btn-default" id="edit-topo-btn" ng-click="editTopology()">
      <i class="fa fa-edit"></i> {{'COMMON.EDIT' | translate}}
    </button>
  </div>
  <div class="col-md-2 grp-margin" ng-if="!canEditTopology">
    You do not have sufficient rights to edit the topology.
  </div>
  <div class="col-md-10">
    <!-- error display -->
    <topology-validation-display validation-dto="deploymentTopologyDTO.validation"></topology-validation-display>

    <div id="topology-preview">
      <topology-rendering
        dimensions="topologyBox"
        topology="deploymentTopologyDTO"
        runtime="false">
      </topology-rendering>
    </div>
  </div>
</div>
