<div class="row grp-margin">
    <div class="col-md-12">
        <i class="fa {{statusIconCss(environment)}}"></i> <span class="{{statusTextCss(environment)}}">{{'DEPLOYMENT.STATUS.' + environment.status | translate}}</span>
    </div>
</div>
<ul class="nav nav-tabs grp-margin">
  <li role="presentation" ng-repeat="menuItem in menu" ui-sref-active="active"
    ng-class="{'disabled' : menuItem.disabled}">
    <a id="{{menuItem.id}}"
       ng-click="onItemClick($event, menuItem)"
       ui-sref="{{menuItem.state}}">
      <i class="{{menuItem.icon}}" ng-if="menuItem.icon" ng-class="{'text-muted' : menuItem.disabled}"></i> {{menuItem.key | translate}} <span ng-if="menuItem.state === 'applications.detail.environment.deploynext'">{{environment.currentVersionName}}</<span><span ng-if="menuItem.state === 'applications.detail.environment.deploycurrent'">{{environment.deployedVersion}}</<span>
    </a>
  </li>
</ul>
<div ui-view></div>
