<nav ng-controller="alienNavBarCtrl" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#alien-navbar-collapse" ng-click="isCollapsed = !isCollapsed">
      <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img ng-src="images/cloudalien-small.png" style="height:40px;margin-top:5px" class="pull-left">
    </a>
  </div>
  <div class="collapse navbar-collapse" id="alien-navbar-collapse" uib-collapse="isCollapsed">

    <div ng-if="status.currentStatus.data.isLogged">
      <ul class="nav navbar-nav">
        <li ng-repeat="menuItem in menu" ng-if="menuItem.hasRole" ui-sref-active="active" data-toggle="tooltip" data-placement="bottom"
          title="{{menuItem.key | translate}}"><a ui-sref="{{menuItem.state}}" id="{{menuItem.id}}"><i class="{{menuItem.icon}}" ng-show="menuItem.icon"></i> <span>{{menuItem.key | translate}}</span></a>
        </li>
      </ul>
    </div>

    <ul class="nav navbar-nav navbar-right" style="margin-right:0px">
      <li uib-dropdown>
        <a id="navbar-rightdrop" href="#" uib-dropdown-toggle>
          <span ng-if="status.currentStatus.data.isLogged" style="margin-right:4px">
            <i class="fa fa-user"></i> {{ status.currentStatus.data.username }}
          </span>
          <img alt="" ng-src="images/flags/iso/{{ 'CODE' | translate }}.svg" class="language flag" />
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu navbar-logout-dropdown" uib-dropdown-menu role="menu">
          <li ng-repeat="(code, language) in supportedLanguages">
            <a ng-click="changeLanguage(code)" name="link-language-{{code}}">
              <img src="images/flags/iso/{{code}}.svg" class="language flag"> {{language}}
            </a>
          </li>
          <li role="presentation" class="divider"></li>
          <li>
            <a href="https://github.com/alien4cloud/alien4cloud/releases/tag/{{version.tag}}" target="_blank" ng-if="!version.isSnapshot">
            <i class="fa fa-codepen"></i> <strong>{{version.tag}}</strong>
          </a>
            <a ng-if="version.isSnapshot">
            <i class="fa fa-codepen"></i> <i>{{version.tag}}</i>
          </a>
            <a href="swagger-ui.html" target="_blank">
            <i class="fa fa-mortar-board"></i> <strong>API Documentation</strong>
          </a>
          </li>
          <li ng-show="status.currentStatus.data.isLogged" role="presentation" class="divider"></li>
          <li ng-show="status.currentStatus.data.isLogged">
            <a ng-click="logout()" name="btn-logout">
              <i class="fa fa-sign-out"></i> {{ 'NAVBAR.BUTTON_LOGOUT' | translate }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <div ng-if="!status.currentStatus.data.isLogged && (!status.currentStatus.data.authSystem || status.currentStatus.data.authSystem==='alien' || internalLogin)"
      class="nav navbar-nav navbar-right">
      <form name="loginForm" class="navbar-form" role="login" ng-submit="signIn()">
        <div class="form-group">
          <input name="userName" placeholder="{{ 'COMMON.USERNAME' | translate }}" type="text" class="form-control" ng-model="login.username"
            required />
        </div>
        <div class="form-group">
          <input name="userPassword" placeholder="{{ 'USERS.PASSWORD' | translate }}" type="password" class="form-control" ng-model="login.password"
            required />
        </div>
        <button type="submit" class="btn btn-success" name="btn-login"><i class="fa fa-sign-in"></i> {{ 'NAVBAR.BUTTON_LOGIN' | translate }}</button>
      </form>
    </div>
    <!-- sneaky delete
    <div ng-if="status.currentStatus.data.isLogged" class="nav navbar-nav navbar-right">
      <div class="collapse navbar-collapse" id="alien-navbar-collapse" uib-collapse="isCollapsed">
        <form class="nav navbar-nav navbar-form" role="search" ng-submit="">
          <div class="form-group">
            <input type="text" ng-model="itemSelected" class="form-control" placeholder="{{ 'NAVBAR.INPUT_SEARCH_MESSAGE' | translate }}"
              uib-typeahead="item as item.elementId || item.name for item in quickSearchHandler.doQuickSearch($viewValue)"
              typeahead-on-select="quickSearchHandler.onItemSelected(itemSelected);" typeahead-min-length="quickSearchHandler.minLength"
              typeahead-wait-ms="quickSearchHandler.waitBeforeRequest" typeahead-loading="searching" typeahead-template-url="views/authentication/quick_search.html">
          </div>
        </form>
      </div>
    </div>
    -->
    <div ng-if="!status.currentStatus.data.isLogged && status.currentStatus.data.authSystem==='saml'" class="nav navbar-nav btn-group navbar-right"
      style="margin-right: 4px;">
      <a class="btn btn-success navbar-btn" href="saml/login">
        <i class="fa fa-sign-in"></i> {{ 'NAVBAR.BUTTON_LOGIN' | translate }}
      </a>
      <button ng-click="displayInternalLogin()" class="btn btn-success navbar-btn" name="btn-login"><i class="fa fa-key"></i></button>
    </div>
    <div ng-if="!status.currentStatus.data.isLogged && status.currentStatus.data.authSystem==='github'" class="nav navbar-nav navbar-right">
      GitHub
    </div>
  </div>
</nav>
