<div>
  <!-- Import result display -->
  <div class="row">
    <div class="upload-infos-bloc" ng-repeat="importInfo in importInfos">
      <div uib-alert ng-class="'alert-' + (importInfo.infoType || 'warning')" close="closeUploadInfos($index)" style="margin-top: 15px;">
        <div class="col-md-5 upload-file-infos">
          <span class=" show-error-link "
             ng-click="importInfo.isErrorBlocCollapsed = !importInfo.isErrorBlocCollapsed"
             ng-show="importInfo.errors || importInfo.otherError">
             <i ng-class="{'fa fa-angle-double-down fa-lg' : importInfo.isErrorBlocCollapsed,  'fa fa-angle-double-up fa-lg' : !importInfo.isErrorBlocCollapsed }"></i>
             <i class="fa fa-exclamation-triangle"></i>
          </span>
          <span><strong>{{importInfo.name}}</strong></span>
        </div>
        <uib-progressbar class="progress-striped active"
          value="importInfo.progress" type="{{importInfo.infoType}}">{{importInfo.progress}}% {{'UPLOAD.COMPLETE' | translate}}</uib-progressbar>
      </div>
      <!-- Error details -->
      <div ng-if="importInfo.errors || importInfo.otherError" uib-collapse="importInfo.isErrorBlocCollapsed">
        <div class="well well-sm">
          <div class="panel panel-default" ng-repeat="error in importInfo.errors">
            <div class="panel-heading">
               <i class="fa fa-file"></i> <b>{{'COMPONENTS.UPLOAD_ERROR.FILE_PATH' | translate}}</b> : {{error.fileName}}
            </div>
            <div class="panel-body table-responsive">
              <table class="table table-condensed">
                <tr ng-repeat="csarError in error.parsingErrors" ng-class="{'warning': csarError.errorLevel==='WARNING', 'info': csarError.errorLevel==='INFO', 'danger': csarError.errorLevel==='ERROR'}">
                  <td><i class="fa" ng-class="{'fa-warning': csarError.errorLevel==='WARNING', 'fa-info': csarError.errorLevel==='INFO', 'fa-minus-circle': csarError.errorLevel==='ERROR'}"></i></td>
                  <td>
                    <span ng-if="csarError.startMark">
                      l:{{csarError.startMark.line}} c: {{csarError.startMark.column}}</td>
                    </span>
                  <td>{{'COMPONENTS.UPLOAD_ERROR.'+csarError.errorCode | translate:csarError}}</td>
                </tr>
              </table>
            </div>
          </div>

          <div ng-if="importInfo.otherError"  class="input-group">
            <span class="input-group-addon">
              <span><i class="fa fa-info"></i></span>
            </span>
            <span class="form-control-noheightlimit">{{'COMPONENTS.UPLOAD_ERROR.'+importInfo.otherError.code | translate:csarError }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row grp-margin">
    <!-- search form -->
    <div class="col-md-2 well" id="search-container">
      <form role="search" ng-submit="search()">
        <div class="input-group">
          <input
            id="search-query"
            type="text" class="form-control" placeholder="..."
            ng-model="query">
          <span class="input-group-btn">
            <button
              id="search-submit-btn"
              type="submit" class="btn btn-default"
              data-loading-text="Loading...">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
      <div class="btn-group-vertical btn-block" style="margin-top: 5px" role="group" aria-label="...">
        <button class="btn btn-success" id="btn-new-gitRepository" ng-click="openNewCsarGitTemplate()">
          <i class="fa fa-plus-circle"></i>  {{ 'CSAR.NEW_GIT' | translate}}
        </button>
        <button class="btn btn-default ng-binding"  id="btn-import-all"  ng-disabled="isImporting()" ng-click="triggerImportAllCsarGit()">
          <i class="fa fa-download fa-lg"> </i>  {{'CSAR.IMPORT_ALL' | translate}}
        </button>
      </div>
    </div>

    <!-- CSAR Git search result display -->
    <div class="col-md-10" id="result-container">
      <div class="table-responsive large-data-container" id="gitRepository-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>{{ 'CSAR.URL' | translate}}</th>
              <th>{{ 'CSAR.ARCHIVE' | translate}}</th>
              <th>{{ 'CSAR.BRANCH_OR_TAG' | translate}}</th>
              <th>{{ 'CSAR.ACTIONS' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="gitRepository in searchResult.data"  id="gitRepository_{{gitRepository.id}}" name="gitRepository_{{gitRepository.id}}" >
              <td>{{gitRepository.repositoryUrl}}</td>
              <td>
                <span style="display:block;"ng-repeat="location in gitRepository.importLocations"> {{location.subPath || '*'}}</span>
              </td>
              <td>
                <span style="display:block;"ng-repeat="location in gitRepository.importLocations"> {{location.branchId || '*'}}</span>
              </td>
              <td>
                <button class=" btn-sm btn btn-default ng-binding" ng-disabled="importing[gitRepository.id]" uib-tooltip="{{ 'CSAR.IMPORTTOOLTIP' | translate}}" ng bssize="btn-sm" position="left" id="import_{{gitRepository.id}}" ng-click="triggerImport(gitRepository.id, gitRepository.repositoryUrl)">
                  <i class="fa fa-download fa-lg" ng-class="{'fa-download fa-lg': !importing[gitRepository.id], 'fa-spinner fa-spin': importing[gitRepository.id]}"></i>
                </button>
                <button class=" btn-sm btn btn-default ng-binding"  ng-disabled="importing[gitRepository.id]" ng bssize="btn-sm" uib-tooltip="{{ 'CSAR.EDITTOOLTIP' | translate}}" position="left" id="edit_{{gitRepository.id}}" ng-click="openCsarGit(gitRepository)">
                  <i class="fa fa-pencil-square-o fa-lg" ></i>
                </button>
                <delete-confirm id="delete-{{gitRepository.id}}" disable="importing[gitRepository.id]" func="removeCsarGit(gitRepository.id);" position="left" bssize="btn-sm" fastyle="fa-trash-o"></delete-confirm>
              </td>
            </tr>
          </tbody>
        </table>

        <empty-place-holder
          data="searchResult.data">
        </empty-place-holder>

        <pagination-directive pagination-info="searchService.pagination"/>
      </div>
    </div>
  </div>
</div>
