<div>
  <div class="row" style="margin-bottom: 10px;" >
    <div class="col-md-9">
      <button id="new-cloud-button" class="btn btn-success" ng-click="openNewModal()">
        <i class="fa fa-plus-circle"></i> {{'CLOUDS.NEW' | translate}}
      </button>
    </div>
    <div class="col-md-3 pull-right">
      <form role="search" ng-submit="searchService.search()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="..." ng-model="query"> <span class="input-group-btn">
            <button type="submit" class="btn btn-default" data-loading-text="Loading...">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <div class="table-responsive large-data-container" id="users-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>{{ 'CLOUDS.STATE' | translate}}</th>
              <th>{{ 'CLOUDS.NAME' | translate}}</th>
              <th>{{ 'CLOUDS.PAAS_PROVIDER' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="cloud in data.data" id='cloud_{{cloud.id}}' name="{{cloud.name}}" ng-click="openCloud(cloud.id)" class="clickable">
              <td>
                <i ng-if="!cloud.iaaSType" class="fa fa-cloud fa-2x"></i>
                <img ng-if="cloud.iaaSType" ng-src="images/cloud-{{cloud.iaaSType | lowercase}}-small.png" />
              </td>
              <td><i class="fa fa-circle fa-2x" ng-class="{'text-success': cloud.enabled,'text-danger': !cloud.enabled}"
                tooltip="{{'CLOUDS.ENABLED_' + cloud.enabled | translate }}"></i></td>
              <td>{{cloud.name  || '---' }}</td>
              <td>{{cloud.paasProviderName || '---' }}</td>
            </tr>
          </tbody>
        </table>
        <pagination-directive pagination-info="searchService.pagination"/>
      </div>
    </div>
  </div>
</div>
