<form name="newCloudForm" class="form-horizontal" role="form" ng-submit="save(paasProviders && newCloudForm.$valid)" novalidate>
  <div class="modal-header">
    <h3>{{'CLOUDS.NEW' | translate}}</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" ng-if="!paasProviders">
      {{'CLOUDS.NO_PROVIDERS' | translate}}
    </div>
    <div class="form-group" ng-class="{'has-error': newCloudForm.name.$invalid}" ng-if="paasProviders">
      <label for="cloud_name_id" class="col-lg-3 control-label">
        {{'CLOUDS.NAME' | translate}}
      </label>
      <div class="col-lg-9">
        <input type="text" class="form-control" id="cloud-name-id" ng-model="newCloud.name" name="name" required placeholder="{{'CLOUDS.NAME' | translate}}">
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': newCloudForm.provider.$invalid}" ng-if="paasProviders">
      <label for="cloud_id_id" class="col-lg-3 control-label">
        {{'CLOUDS.PAAS_PROVIDER' | translate}}
      </label>
      <div class="col-lg-9">
        <select class="form-control" name="provider" required ng-model="newCloud.paaSProvider" ng-options="p.nameAndId for p in paasProviders" ng-change="selectPaaSProvider(selectedPaaSProvider)">
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button id="new-cloud-create-button" ng-disabled="newCloudForm.$invalid" class="btn btn-primary">
      {{'CREATE' | translate}}
    </button>
    <a class="btn btn-default" ng-click="cancel()">
      {{'CANCEL' | translate}}
    </a>
  </div>
</form>
