<div class="topology-row row">
  <!-- TOPOLOGY display -->
  <div id="topology" class="topology-columns" ng-class="'col-md-' + displays['displayTopology'].size" ng-show="displays['displayTopology'].active">
    <div class="well topology" alien-droppable drag-data="" drag-on-drop="onComponentDragged(data)" ng-init="visual = true; simple = false">
      <div class="btn-toolbar">
        <div class="btn-group">
          <a class="btn btn-default btn-xs" ng-click="view = 'RENDERED'; simple = false;">{{'APPLICATIONS.TOPOLOGY.VISUAL_DETAILED' | translate}}</a>
          <a class="btn btn-default btn-xs" ng-click="view = 'RENDERED'; simple = true;">{{'APPLICATIONS.TOPOLOGY.VISUAL_SIMPLE' | translate}}</a>
          <a class="btn btn-default btn-xs" ng-click="view = 'PLAN'" id="btn-app-topology-plan">{{'APPLICATIONS.TOPOLOGY.PLAN' | translate}}</a>
          <select id="app-version-select" ng-if="appVersions != null" ng-model="selectedVersion" ng-options="appVersion.version for appVersion in appVersions"
                  class="btn" ng-change="changeVersion(selectedVersion)">
          </select>
        </div>
      </div>
      <div ng-if="view === 'YAML'" ng-model="editorContent" ui-ace="{mode: 'yaml'}" style="height: {{dimensions.height}}px;"></div>
      <topology-rendering ng-if="view === 'RENDERED' && topology" dimensions="dimensions" topology="topology"
                          callback="selectNodeTemplate(newSelectedName, oldSelectedName)" simple="simple" runtime="false"></topology-rendering>
      <topology-plan ng-if="view === 'PLAN' && topology" dimensions="dimensions" topology="topology" id="plan-graph-container"></topology-plan>
    </div>
  </div>

  <!-- NodeTemplate details -->
  <div id="nodetemplate-details" ng-show="selectedNodeTemplate && displays['displayDetailsComponent'].active" class="topology-columns topology-details"
       ng-class="'col-md-' + displays['displayDetailsComponent'].size">
    <div class="well">
      <span id='closeNodeTemplateDetails' class="btn btn-default btn-xs pull-right close-btn-panel" ng-click="setDisplay('displayDetailsComponent', false)"><i
        class="fa fa-remove close-panel"></i></span>

      <div>
        <div class="row" style="margin-top: 12px;">
          <!-- nodeTemplateName div -->
          <div class="col-md-8">
            <h3 class="pull-left" style="margin-top: 10px; margin-bottom: 20px;">
            <span editable-text="nodeNameObj.val" buttons="no" e-required onbeforesave="updateNodeName($data)" blur="submit">
              {{ selectedNodeTemplate.name | split }}
              <i class="fa fa-pencil-square-o"></i>
            </span>
              <img ng-show="selectionabstract"
                   class="icon_16"
                   alt="abstract_ico_16"
                   tooltip="{{'COMPONENTS.COMPONENT.ABSTRACT_COMPONENT' | translate}}"
                   tooltip-placement="top"
                   src="images/abstract_ico.png" />
            </h3>
          </div>
          <!-- buttons group div -->
          <div class="col-md-4" style="margin-top: 6px;">
            <div class="pull-right">
              <a tooltip="{{'APPLICATIONS.TOPOLOGY.REPLACE_NODETEMPLATE' | translate}}"
                 tooltip-append-to-body="true" class="btn btn-default btn-sm"
                 class="dropdown-toggle" data-toggle="dropdown"
                 ng-click="getPossibleReplacements(selectedNodeTemplate)">
                <i class="fa fa-exchange"></i>
              </a>
              <ul class="dropdown-menu " role="menu" data-placement="left">
                <li role="presentation" class="dropdown-header">{{'APPLICATIONS.TOPOLOGY.SELECT_NODETYPE' | translate }}</li>
                <li ng-repeat="suggestedNode in suggestedReplacements">
                  <a id="newnode_{{suggestedNode.elementId}}"
                     ng-click="swapNodeTemplate(selectedNodeTemplate, suggestedNode)">
                    <img ng-src="img?id={{getIcon(suggestedNode.tags)}}&quality=QUALITY_32" />&nbsp;
                    {{suggestedNode.elementId}}
                  </a>
                </li>
              </ul>
            <span ng-if="isComputeType(selectedNodeTemplate)">
              <a id="scaleButton" tooltip="{{'APPLICATIONS.TOPOLOGY.SCALE' | translate}}"
                 tooltip-append-to-body="true" class="btn btn-success btn-sm"
                 ng-click="addScalingPolicy(selectedNodeTemplate.name)"
                 ng-if="!topology.topology.scalingPolicies[selectedNodeTemplate.name]">
                <i class="fa fa-reply fa-rotate-90 fa-inverse"></i>
              </a>
              <a id="unscaleButton" tooltip="{{'APPLICATIONS.TOPOLOGY.UNSCALE' | translate}}"
                 tooltip-append-to-body="true" class="btn btn-primary btn-sm"
                 ng-click="deleteScalingPolicy(selectedNodeTemplate.name)"
                 ng-if="topology.topology.scalingPolicies[selectedNodeTemplate.name]">
                <i class="fa fa-reply fa-rotate-270 fa-inverse"></i>
              </a>
            </span>
              <!-- Delete selected nodetemplate with confirm -->
              <delete-confirm id="btn-delete-node" func="deleteNodeTemplate(selectedNodeTemplate.name)" position="left" bssize="btn-sm" fastyle="fa-trash-o">
              </delete-confirm>
            </div>
          </div>
          <div class="col-md-12" ng-if="nodeTempNameEditError" style="margin-bottom: 10px;">
            <span class="text-danger">{{''+nodeTempNameEditError.code | translate}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <div class="input-group">
            <span class="input-group-addon">
              <span><i>{{'APPLICATIONS.TOPOLOGY.TYPE' | translate}}</i></span>
            </span>
              <span class="form-control"> {{selectedNodeTemplate.type}} </span>
            </div>
          </div>
          <div class="col-md-2">
            <a class=" btn btn-default"
               href="/#/components/component/{{selectedNodeTemplate.type}}:{{topology.nodeTypes[selectedNodeTemplate.type].archiveVersion}}" target="_blank"><i
              class="fa fa-eye text-primary"></i></a>
          </div>
        </div>
        <div class="row" style="margin-top: 5px;">
          <div class="col-md-12">
            <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-archive"></i>  {{topology.nodeTypes[selectedNodeTemplate.type].archiveName}}
            </span>
            <span class="form-control">
              {{topology.nodeTypes[selectedNodeTemplate.type].archiveVersion}}
            </span>
            </div>
          </div>
        </div>

        <!-- Properties -->
        <div ng-if="selectedNodeTemplate.properties.length > 0">
          <div class="topology-node-expand clickable"
               ng-click="isPropertiesCollapsed = !isPropertiesCollapsed">
            <h4>
              <i class="pull-left fa" ng-class="{'fa-chevron-down' : !isPropertiesCollapsed, 'fa-chevron-right': isPropertiesCollapsed}"></i>
              {{'APPLICATIONS.TOPOLOGY.PROPERTIES' | translate}}
            </h4>
          </div>
          <div collapse="isPropertiesCollapsed" class="topology-level">
            <table class="table table-condensed" id="nodeTemplateProperties">
              <tr ng-repeat="propEntry in selectedProperties">
                <td>
                  <div class="btn-group" data-toggle="buttons">
                    <a id="p_input_{{propEntry.key}}" ng-click="toggleInputProperty(propEntry.key)" class="btn btn-default btn-xs"
                       ng-class="{'active' : isInputProperty(propEntry.key)}" tooltip="{{ 'APPLICATIONS.TOPOLOGY.PROPERTIES_INPUTS' | translate}}"
                       tooltip-append-to-body="true>
                      <i class="fa fa-cogs"></i>
                    </a>
                    <a id="p_output_{{propEntry.key}}" ng-click="toggleOutputProperty(propEntry.key)" class="btn btn-default btn-xs"
                       ng-class="{'active' : isOutputProperty(propEntry.key)}" tooltip="{{ 'APPLICATIONS.TOPOLOGY.PROPERTIES_OUTPUTS' | translate}}"
                       tooltip-append-to-body="true">
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>
                </td>
                <td>
                  <property-display
                    ng-init="condensed = true"
                    definition="getFormatedProperty(propEntry.key)"
                    property-value="propEntry.value.value"
                    on-save="updateProperty(propertyDefinition,propertyValue)"
                    editable="true"
                    condensed="condensed">
                  </property-display>
                </td>
                <td>
                  <button id="btn-description-{{propEntry.key}}"
                          ng-if="getPropertyDescription(propEntry.key)"
                          ng-click="openSimpleModal('MODAL.TITLE.PROPERTY', getPropertyDescription(propEntry.key))"
                          class="btn btn-default btn-xs"
                          tooltip="{{ 'MODAL.TITLE.PROPERTY' | translate}}"
                          tooltip-append-to-body="true">
                    <i class="fa fa-question-circle"></i>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <!-- Attributes -->
        <div ng-if="selectedNodeTemplate.attributes.length > 0">
          <div class="topology-node-expand clickable"
               ng-click="isAttributesCollapsed = !isAttributesCollapsed">
            <h4>
              <i class="pull-left fa" ng-class="{'fa-chevron-down' : !isAttributesCollapsed, 'fa-chevron-right': isAttributesCollapsed}"></i>
              {{'APPLICATIONS.TOPOLOGY.ATTRIBUTES' | translate}}
            </h4>
          </div>
          <div collapse="isAttributesCollapsed" class="topology-level">
            <table class="table table-condensed" id="nodeTemplateAttributes">
              <tr ng-repeat="attrEntry in selectedNodeTemplate.attributes">
                <td class="col-md-2">
                  <div class="btn-group" data-toggle="buttons">
                    <a id="a_output_{{attrEntry.key}}" ng-click="toggleOutputAttribute(attrEntry.key)" class="btn btn-default btn-xs"
                       ng-class="{'active' : isOutputAttribute(attrEntry.key)}" tooltip="{{ 'APPLICATIONS.TOPOLOGY.PROPERTIES_OUTPUTS' | translate}}"
                       tooltip-append-to-body="true">
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>
                </td>
                <td class="col-md-10">
                  <span><em>{{attrEntry.key}}</em></span>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <!-- Requirements -->
        <div ng-if="selectedNodeTemplate.requirements.length > 0">
          <div class="topology-node-expand clickable"
               ng-click="isRequirementsCollapsed = !isRequirementsCollapsed">
            <h4>
              <i class="pull-left fa" ng-class="{'fa-chevron-down' : !isRequirementsCollapsed, 'fa-chevron-right': isRequirementsCollapsed}"></i>
              {{'APPLICATIONS.TOPOLOGY.REQUIREMENTS' | translate}}
            </h4>
          </div>
          <div collapse="isRequirementsCollapsed" class="topology-level">
            <div ng-repeat="requirementEntry in selectedNodeTemplate.requirements"
                 ng-init="isReqPropsCollapsed = {}; emptyProps = !checkMapSize(requirementEntry.value.properties)">
              <div class="topology-node-expand" style="font-weight: normal"
                   ng-class="{'clickable' : !emptyProps}"
                   ng-click="isReqPropsCollapsed[requirementEntry.key] = !isReqPropsCollapsed[requirementEntry.key]">
                <div class="row">
                  <div class="col-md-3">
                    <i ng-if="!emptyProps" class="pull-left fa"
                       ng-class="{'fa-chevron-down' : !isReqPropsCollapsed[requirementEntry.key], 'fa-chevron-right': isReqPropsCollapsed[requirementEntry.key]}">
                    </i>
                    <span>{{requirementEntry.key}}</span>
                  </div>
                  <div class="col-md-3" id="requirement-{{requirementEntry.key}}">
                  <span tooltip="{{requirementEntry.value.type}}"
                        tooltip-append-to-body="true">{{getShortName(requirementEntry.value.type)}}</span>
                  </div>
                  <div class="col-md-4">
                  <span class="btn-group pull-right">
                    <button tooltip="{{'APPLICATIONS.TOPOLOGY.ADD_RELATIONSHIP' | translate}}"
                            ng-disabled="!requirementEntry.value.canAddRel.yes"
                            tooltip-append-to-body="true" class="btn btn-default btn-xs"
                            ng-click="openSearchRelationshipModal(selectedNodeTemplate.name, selectedNodeTemplate, requirementEntry.key, requirementEntry.value); $event.stopPropagation();"
                            id="btn-add-relationship-{{requirementEntry.key}}">
                      <i class="fa fa-link"></i>
                    </button>
                    <span class="btn btn-default btn-xs cardinalities_show"
                          tooltip="{{'APPLICATIONS.TOPOLOGY.CARDINALITIES_TOOLTIP' | translate}}"
                          tooltip-append-to-body="true">
                        {{requirementEntry.value.lowerBound}}..{{requirementEntry.value.upperBound | replaceAll:'unbounded':'&infin;' }}
                        ({{requirementEntry.value.canAddRel.remaining | replaceAll:'unbounded':'&infin;' }})
                    </span>
                  </span>
                  </div>
                  <div class="col-md-1" ng-init="reqComp = getComponent(selectedNodeTemplate, requirementEntry.value.type)">
                    <button id="btn-component-description-{{requirementEntry.key}}"
                            ng-if="reqComp.data.description"
                            ng-click="openSimpleModal('MODAL.TITLE.REQUIREMENT', reqComp.data.description)"
                            class="btn btn-default btn-xs" tooltip="{{ 'MODAL.TITLE.REQUIREMENT' | translate}}"
                            tooltip-append-to-body="true">
                      <i class="fa fa-question-circle"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="topology-level"
                   ng-if="!emptyProps"
                   collapse="isReqPropsCollapsed[requirementEntry.key]">
                <table class="table table-condensed" id="requirement_{{requirementEntry.key}}_properties">
                  <tr ng-repeat="(propertyKey,propertyValue) in requirementEntry.value.properties"
                      ng-init="isPropertyRequired = isCapabilityPropertyRequired(propertyKey)">
                    <!-- TODO manage edition / input / output of requirements properties-->
                    <td class="col-md-6" ng-class="{'property-required' : isPropertyRequired}">
                    <span ng-if="isPropertyRequired" tooltip="{{'REQUIRED' | translate}}"
                          tooltip-append-to-body="true">{{propertyKey}} *</span>
                    <span ng-if="!isPropertyRequired" tooltip="{{'OPTIONAL' | translate}}"
                          tooltip-append-to-body="true">{{propertyKey}}</span>
                    </td>
                    <td class="col-md-6" id="p_req_{{requirementEntry.key}}_{{propertyKey}}" ng-class="{'property-required' : isPropertyRequired}">
                      <span> {{propertyValue.value || '...'}} </span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Capabilities -->
        <div ng-if="selectedNodeTemplate.capabilities.length > 0">
          <div class="topology-node-expand clickable"
               ng-click="isCapabilitiesCollapsed = !isCapabilitiesCollapsed">
            <h4>
              <i class="pull-left fa" ng-class="{'fa-chevron-down' : !isCapabilitiesCollapsed, 'fa-chevron-right': isCapabilitiesCollapsed}"></i>
              {{'APPLICATIONS.TOPOLOGY.CAPABILITIES' | translate}}
            </h4>
          </div>
          <div collapse="isCapabilitiesCollapsed" class="topology-level">
            <div ng-repeat="capabilityEntry in selectedNodeTemplate.capabilities"
                 ng-init="isReqPropsCollapsed = {}; emptyProps = !checkMapSize(capabilityEntry.value.properties)">
              <div class="topology-node-expand" style="font-weight: normal"
                   ng-class="{'clickable' : !emptyProps}"
                   ng-click="isReqPropsCollapsed[capabilityEntry.key] = !isReqPropsCollapsed[capabilityEntry.key]">
                <div class="row">
                  <div class="col-md-3 ">
                    <i ng-if="!emptyProps" class="pull-left fa"
                       ng-class="{'fa-chevron-down' : !isReqPropsCollapsed[capabilityEntry.key], 'fa-chevron-right': isReqPropsCollapsed[capabilityEntry.key]}">
                    </i>
                    <span>{{capabilityEntry.key}}</span>
                  </div>
                  <div class="col-md-3" id="capability-{{capabilityEntry.key}}">
                  <span tooltip="{{capabilityEntry.value.type}}"
                        tooltip-append-to-body="true">{{getShortName(capabilityEntry.value.type)}}</span>
                  </div>
                  <div class="col-md-4">
                  <span class="btn-group pull-right">
                    <span class="btn btn-default btn-xs cardinalities_show"
                          tooltip="{{'APPLICATIONS.TOPOLOGY.CAPABILITY_CARDINALITIES_TOOLTIP' | translate}}"
                          tooltip-append-to-body="true">
                        {{capabilityEntry.value.upperBound | replaceAll:'unbounded':'&infin;' }}
                        ({{capabilityEntry.value.canAddRel.remaining | replaceAll:'unbounded':'&infin;' }})
                    </span>
                  </span>
                  </div>
                  <div class="col-md-1" ng-init="capaComp = getComponent(selectedNodeTemplate, capabilityEntry.value.type)">
                    <button id="btn-description-{{capabilityEntry.value.type}}"
                            ng-if="capaComp.data.description"
                            ng-click="openSimpleModal('MODAL.TITLE.CAPABILITY', capaComp.data.description)"
                            class="btn btn-default btn-xs"
                            tooltip="{{ 'MODAL.TITLE.CAPABILITY' | translate}}"
                            tooltip-append-to-body="true">
                      <i class="fa fa-question-circle"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="topology-level"
                   ng-if="!emptyProps"
                   collapse="isReqPropsCollapsed[capabilityEntry.key]">
                <table class="table table-condensed" id="capability_{{capabilityEntry.key}}_properties">
                  <tr ng-repeat="(propertyKey,propertyValue) in capabilityEntry.value.properties"
                      ng-init="isPropertyRequired = isCapabilityPropertyRequired(propertyKey)">
                    <td class="col-md-6" ng-class="{'property-required' : isPropertyRequired}">
                    <span ng-if="isPropertyRequired" tooltip="{{'REQUIRED' | translate}}"
                          tooltip-append-to-body="true">{{propertyKey}} *</span>
                    <span ng-if="!isPropertyRequired" tooltip="{{'OPTIONAL' | translate}}"
                          tooltip-append-to-body="true">{{propertyKey}}</span>
                    </td>
                    <td class="col-md-6" id="p_capa_{{capabilityEntry.key}}_{{propertyKey}}" ng-class="{'property-required' : isPropertyRequired}">
                      <span> {{propertyValue.value}} </span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Relationships -->
        <div ng-if="selectedNodeTemplate.relationships.length > 0">
          <div class="topology-node-expand clickable"
               ng-click="isRelationshipsCollapsed = !isRelationshipsCollapsed">
            <h4>
              <i class="pull-left fa" ng-class="{'fa-chevron-down' : !isRelationshipsCollapsed, 'fa-chevron-right': isRelationshipsCollapsed}"></i>
              {{'APPLICATIONS.TOPOLOGY.RELATIONSHIPS' | translate}}
            </h4>
          </div>
          <div collapse="isRelationshipsCollapsed">
            <div class="topology-level"
                 ng-repeat="relationshipEntry in selectedNodeTemplate.relationships">
              <div class="topology-node-expand clickable editable-small"
                   ng-click="isRelationshipCollapsed = !isRelationshipCollapsed"
                   id="relationship_{{relationshipEntry.key}}">
                <i class="pull-left fa"
                   ng-class="{'fa-chevron-down' : !isRelationshipCollapsed, 'fa-chevron-right': isRelationshipCollapsed}"></i>
              <span
                ng-init="relNameObj[relationshipEntry.key] = relationshipEntry.key"
                editable-text="relNameObj[relationshipEntry.key]" buttons="no" e-required onbeforesave="updateRelationshipName(relationshipEntry.key, $data)"
                blur="submit" ng-click="$event.stopPropagation();"
                tooltip="{{relationshipEntry.key | split:15}}" tooltip-append-to-body="true">
                {{relationshipEntry.key | truncate:25}}
                <i class="fa fa-pencil-square-o"></i>
              </span>
              <span class="pull-right">
                <delete-confirm id="btn-delete-rl-{{relationshipEntry.key}}" func="removeRelationship(relationshipEntry.key, selectedNodeTemplate)"
                                position="left" bssize="btn-xs" fastyle="fa-unlink">
                </delete-confirm>
              </span>
              </div>
              <div class="topology-level" collapse="isRelationshipCollapsed">
                <div class="row">
                  <div class="col-md-3">{{'APPLICATIONS.TOPOLOGY.TYPE' | translate}}</div>
                  <div class="col-md-9">{{relationshipEntry.value.type}}</div>
                </div>
                <div class="row">
                  <div class="col-md-3">{{'COMPONENTS.RELATIONSHIPS.TARGET' | translate}}</div>
                  <div class="col-md-9">{{relationshipEntry.value.target | split}}</div>
                </div>
                <div class="row" ng-if="topology.relationshipTypes[relationshipEntry.value.type].properties">
                  <div class="col-md-12">{{'APPLICATIONS.TOPOLOGY.PROPERTIES' | translate}} :</div>
                </div>
                <div class="row">
                  <table class="table table-condensed" id="relationshipProperties_{{relationshipEntry.key}}">
                    <tr ng-repeat="propertyEntry in topology.relationshipTypes[relationshipEntry.value.type].properties">
                      <td ng-init="propertyEntry.value.name=propertyEntry.key" style="border-bottom-width: 0px; padding-bottom: 0px; padding-top: 0px;">
                        <property-display
                          ng-init="condensed = false"
                          definition="propertyEntry.value"
                          property-value="relationshipEntry.value.properties[propertyEntry.key]"
                          on-save="updateRelationshipProperty(propertyEntry.value, propertyValue, relationshipEntry.value.type, relationshipEntry.key)"
                          editable="true"
                          condensed="condensed">
                        </property-display>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Artifacts -->
        <div ng-if="checkMapSize(selectedNodeTemplate.artifacts)">
          <div class="topology-node-expand clickable"
               ng-click="isArtifactsCollapsed = !isArtifactsCollapsed">
            <h4>
              <i class="pull-left fa" ng-class="{'fa-chevron-down' : !isArtifactsCollapsed, 'fa-chevron-right': isArtifactsCollapsed}"></i>
              {{'APPLICATIONS.TOPOLOGY.ARTIFACTS' | translate}}
            </h4>
          </div>
          <div collapse="isArtifactsCollapsed">
            <div class="topology-level"
                 ng-repeat="(artifactId, artifact) in selectedNodeTemplate.artifacts">
              <div class="topology-node-expand clickable"
                   ng-click="isArtifactCollapsed = !isArtifactCollapsed">
                <i class="pull-left fa"
                   ng-class="{'fa-chevron-down' : !isArtifactCollapsed, 'fa-chevron-right': isArtifactCollapsed}"></i>
                <span>{{artifactId}}</span>
                <i class="fa fa-fw "
                   ng-click="updateInputArtifactList(artifactId); $event.stopPropagation();"
                   tooltip="{{'APPLICATIONS.TOPOLOGY.ARTIFACTS_CHECK_INPUT' | translate}}"
                   ng-class="{'fa-check-square-o text-success' : ( artifactChecked = isInputArtifact(artifactId) ),  'fa-square-o': !artifactChecked}"></i>
              </div>
              <div class="topology-level" collapse="isArtifactCollapsed">
                <div class="row">
                  <div class="col-md-3">{{'APPLICATIONS.TOPOLOGY.TYPE' | translate}}</div>
                  <div class="col-md-9">{{artifact.artifactType}}</div>
                </div>
                <div class="row">
                  <div class="col-md-3">{{'APPLICATIONS.TOPOLOGY.REFERENCE' | translate}}</div>
                  <div class="col-md-9">
                    <div ng-if="!uploads[artifactId].isUploading">
                      <span tooltip="{{artifact.artifactName}}" tooltip-trigger="{{{true: 'mouseenter', false: 'never'}[artifact.artifactName.length > 20]}}">{{artifact.artifactName | truncate:20}}</span>

                      <div class="fileUploadImg btn" tooltip="{{'APPLICATIONS.TOPOLOGY.UPDATE_ARTIFACT' | translate}}">
                      <span>
                        <i class="fa fa-upload text-primary"></i>
                      </span>
                        <input type="file" class="upload" ng-file-select="onArtifactSelected($files, artifactId)">
                      </div>
                    </div>
                    <progressbar ng-if="uploads[artifactId].isUploading" class="progress-striped active" value="uploads[artifactId].uploadProgress"
                                 type="{{uploads[artifactId].type}}" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Scaling -->
      <div ng-if="isComputeType(selectedNodeTemplate) && topology.topology.scalingPolicies[selectedNodeTemplate.name]">
        <div class="topology-node-expand clickable"
             ng-click="isScalingPolicyCollapsed = !isScalingPolicyCollapsed">
          <h4>
            <i class="pull-left fa"
               ng-class="{'fa-chevron-down' : !isScalingPolicyCollapsed, 'fa-chevron-right': isScalingPolicyCollapsed}"></i>
            <span>{{'APPLICATIONS.TOPOLOGY.SCALING_POLICY' | translate}}</span></h4>
        </div>
        <div collapse="isScalingPolicyCollapsed">
          <table class="table table-condensed">
            <tr
              ng-repeat="(policyFieldName,policyFieldValue) in topology.topology.scalingPolicies[selectedNodeTemplate.name]">
              <td>{{policyFieldName}}</td>
              <td id="{{policyFieldName}}">
              <span editable-number="topology.topology.scalingPolicies[selectedNodeTemplate.name][policyFieldName]" buttons="no" e-required
                    onbeforesave="updateScalingPolicy(policyFieldName, $data)" blur="submit">
                {{policyFieldValue}} <i class="fa fa-pencil-square-o"></i>
              </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Components search -->
  <div ng-show="displays['displayAddNode'].active" class="topology-panel-style" ng-class="'col-md-' + displays['displayAddNode'].size">
    <div class="well">
      <span id='closeComponentsSearch' class="btn btn-default btn-xs pull-right close-btn-panel" ng-click="toggleDisplay('displayAddNode')"><i
        class="fa fa-remove close-panel"></i></span>

      <div id="slide-side-bar" style="overflow: auto;">
        <alien-search-component refresh="refresh"
                                display-detail-pannel="false"
                                on-select-item="nodeTypeSelected(item)"
                                drag-and-drop-enabled="true"
                                height-info="dimensions">
        </alien-search-component>
      </div>
    </div>
  </div>

  <!-- Dependencies -->
  <div ng-show="displays['displayDependencies'].active" class="topology-panel-style" ng-class="'col-md-' + displays['displayDependencies'].size">
    <div class="well">
      <span id='closeDependencies' class="btn btn-default btn-xs pull-right close-btn-panel" ng-click="toggleDisplay('displayDependencies')"><i
        class="fa fa-remove close-panel"></i></span>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ 'APPLICATIONS.TOPOLOGY.DEPENDENCY_NAME' | translate}}</th>
            <th>{{ 'APPLICATIONS.TOPOLOGY.DEPENDENCY_VERSION' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="dependency in topology.topology.dependencies">
            <td>{{dependency.name}}</td>
            <td>{{dependency.version}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Inputs -->
  <div ng-show="displays['displayInputs'].active" class="topology-panel-style" ng-class="'col-md-' + displays['displayInputs'].size">
    <div class="well">
      <span id='closeInputs' class="btn btn-default btn-xs pull-right close-btn-panel" ng-click="toggleDisplay('displayInputs')"><i
        class="fa fa-remove close-panel"></i></span>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Constraint</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(inputId, inputDefinition) in topology.topology.inputs">
            <td>
              <span editable-text="inputDefinition.inputId" buttons="no" onaftersave="updateInput(inputId, inputDefinition.inputId)" blur="submit">
                {{inputDefinition.inputId}}
                <i class="fa fa-pencil-square-o"></i>
              </span>
            </td>
            <td>{{inputDefinition.type}}</td>
            <td>{{inputDefinition.constraints}}</td>
            <td>
              <delete-confirm class="pull-right" func="removeInput(inputId)" position="left" bssize="btn-sm" fastyle="fa-trash-o">
              </delete-confirm>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Right vertical menu -->
  <nav id="topology-vertical-menu">
    <ul>
      <li>
        <span id="components-search-btn" ng-class="{'badge' : displays['displayAddNode'].active}" ng-click="toggleDisplay('displayAddNode')"
              style="transform: translate(-10px, 140px) rotate(-90deg);"><i
          class="fa fa-plus"></i> {{'APPLICATIONS.TOPOLOGY.ADD_NODETEMPLATE' | translate}}</span>
      </li>
      <li>
        <span ng-class="{'badge' : displays['displayDependencies'].active}" ng-click="toggleDisplay('displayDependencies')"
              style="transform: translate(-10px, 240px) rotate(-90deg);"><i class="fa fa-archive"></i> {{'APPLICATIONS.TOPOLOGY.DEPENDENCY' | translate}}</span>
      </li>
      <li>
        <span ng-class="{'badge' : displays['displayInputs'].active}" ng-click="toggleDisplay('displayInputs')"
              style="transform: translate(-10px, 295px) rotate(-90deg);"><i class="fa fa-cogs"></i> Inputs</span>
      </li>
    </ul>
  </nav>
</div>
