<uib-tabset>
  <div class="modal-header">
     <h3>{{'EDITOR.ARTIFACTS.SELECT' | translate}}</h3>
  </div>
  <uib-tab heading="{{'EDITOR.ARTIFACTS.REPOS.LOCAL' | translate}}" id="local-tab" active="activeTab === 'local'" ng-click="setActiveTab('local')">
    <form name="selectArtifactForm" class="form-horizontal" role="form" ng-submit="save(selectArtifactForm.$valid)" novalidate>

      <div class="modal-body">
        <treecontrol class="tree-classic" tree-model="treedata" options="opts" on-selection="onSelect(node)" on-node-toggle="onSelect(node)" selected-node="selected" expanded-nodes="expandedNodes">
          {{node.name}}
        </treecontrol>
        <input type="hidden" class="form-control" id="artifact_reference_id" ng-model="artifact.reference" name="name" required >
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" ng-click="cancel()">
          {{'CANCEL' | translate}}
        </a>
        <button id="select-artifact-button" ng-disabled="selectArtifactForm.$invalid" class="btn btn-primary">
          {{'SELECT' | translate}}
        </button>
      </div>
    </form>
  </uib-tab>
  <uib-tab heading="{{'EDITOR.ARTIFACTS.REPOS.REMOTE' | translate}}" id="remote-tab" active="activeTab === 'remote'" ng-click="setActiveTab('remote')">
    <form name="selectRemoteRepositoryForm" class="form-horizontal" role="form" ng-submit="selectRemote(selectRemoteRepositoryForm.$valid)" novalidate>
      <div class="modal-header">
          <select class="form-control" ng-model="selectedRepositoryIdx" ng-change="repositorySelected(selectedRepositoryIdx)">
            <option disabled>── {{'EDITOR.ARTIFACTS.REPOS.ARCHIVE_REPOSITORIES' | translate}} ──</option>
            <option ng-repeat="repository in repositories | filter: { classifier: 'archive' }" value="{{repository.idx}}" ng-selected="repository.id === initialRepositoryName">
            {{repository.id}}
            </option>
            <option disabled>── {{'EDITOR.ARTIFACTS.REPOS.GLOBAL_REPOSITORIES' | translate}} ──</option>
            <option ng-repeat="repository in repositories | filter: { classifier: 'global' }" value="{{repository.idx}}">
            {{repository.id}}
            </option>
            <option disabled>── {{'EDITOR.ARTIFACTS.REPOS.NEW_REPOSITORY' | translate}} ──</option>
            <option ng-repeat="repository in repositories | filter: { classifier: 'new' }" value="{{repository.idx}}">
            {{'EDITOR.ARTIFACTS.REPOS.NEW_REPOSITORY' | translate}}
            </option>
          </select>
      </div>
      <div class="modal-body">
        <div class="form-group" ng-class="{'has-error': !isRepositoryUnique() }">
          <label for="repository_id" class="col-lg-3 control-label">{{'EDITOR.ARTIFACTS.REPOS.ID' | translate}}</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="repository_id" ng-model="selectedRepository.id" value="{{ selectedRepository.id }}" required ng-disabled="!isRemoteArtifact(selectedRepository.classifier)" placeholder="{{'EDITOR.ARTIFACTS.REPOS.MUST_BE_UNIQUE' | translate}}">
            </input>
          </div>
        </div>
        <div class="form-group">
          <label for="repository_url" class="col-lg-3 control-label">{{'EDITOR.ARTIFACTS.REPOS.URL' | translate}}</label>
          <div class="col-lg-9">
          <input type="text" class="form-control" id="repository_url" ng-model="selectedRepository.url" value="{{ selectedRepository.url }}" required ng-disabled="selectedRepository.classifier !== 'new'">
          </input>
          </div>
        </div>
        <div class="form-group">
          <label for="repository_type" class="col-lg-3 control-label">{{'EDITOR.ARTIFACTS.REPOS.TYPE' | translate}}</label>
          <div class="col-lg-9">
          <select class="form-control" id="repository_type" ng-model="selectedRepository.type" required ng-disabled="selectedRepository.classifier !== 'new'" ng-if="selectedRepository.classifier === 'new'">
            <option ng-repeat="type in repositoryTypes" value="{{type}}">
            {{type}}
            </option>
          </select>
          <input type="text" class="form-control" id="repository_type" value="{{ selectedRepository.type }}" required ng-disabled="true" ng-if="selectedRepository.classifier !== 'new'">
          </input>
          </div>
        </div>
        <div class="form-group">
          <label for="repository_file" class="col-lg-3 control-label">{{'EDITOR.ARTIFACTS.REPOS.FILE' | translate}}</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="repository_file" ng-model="selectedRepository.file" value="{{ selectedRepository.file }}" required ng-disabled="!isRemoteArtifact(selectedRepository.classifier)">
            </input>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" ng-click="cancel()">
          {{'CANCEL' | translate}}
        </a>
        <button id="select-repository-button" ng-disabled="selectRemoteRepositoryForm.$invalid" class="btn btn-primary">
          {{'SELECT' | translate}}
        </button>
      </div>
    </form>
  </uib-tab>
</uib-tabset>
