<div id="history-explorer" class="topology-editor" style="height: {{dimensions.height}}px; width: {{dimensions.width}}px;">
  <div class="topology-row" style="height: {{dimensions.height}}px;">
    <div id="history-box" class="topology-column" style="width: {{displays.history.size}}px;">
      <div class="topology-column-box">
        <div class="topology-column-content-left" style="padding-top: 10px;">
          <table class="table table-hover">
            <thead>
              <th>{{'COMMON.AUTHOR' | translate}}</th>
              <th>{{'EDITOR.OPERATION' | translate}}</th>
            </thead>
            <tbody>
              <tr ng-class="{'info': (topology.operations.length - $index -1) <= topology.lastOperationIndex}" ng-repeat="operation in topology.operations.slice().reverse()" ng-click="selectOperation(operation)">
                <td>{{operation.author}}</td>
                <td>{{getShortName(operation.type)}}</td>
              </tr>
            </tbody>
          </table>
          <div style="padding: 10px;">
            <a class="btn btn-default btn-block" ng-click="gitHistory()"><i class="fa fa-git"></i> {{'EDITOR.GIT_HISTORY' | translate}}</a>
          </div>
        </div>
        <resizable-bar
          id="history-box-handler"
          direction="e"
          classes="topology-column-menu-right">
        </resizable-bar>
      </div>
    </div>
    <div id="file-content" class="topology-column" style="padding: 10px;">
      <div ng-if="gitCommits.length === 0">
        <h3 class="text-info"><i class="fa fa-info"></i>  {{'EDITOR.EMPTY_GIT_HISTORY' | translate}}</h3>
      </div>
      <div style="height: inherit; overflow: auto">
        <div ng-if="selectedOperation">
          <div class="row">
            <div class="col-md-12">
              <div class="topology-column-content-head">{{'EDITOR.HISTORY.DETAIL' | translate}}</div>
            </div>
          </div>
          <div class="row" ng-repeat="(key, value) in selectedOperation">
            <div ng-if="key !== 'previousOperationId' && key !== 'id'">
              <div class="col-md-2">
                <strong>{{key}}</strong>
              </div>
              <div class="col-md-10">
                {{value}}
              </div>
            </div>
          </div>
        </div>
        <div style="overflow: auto" ng-if="gitCommits">
          <table class="table table-striped table-hover" style="background-color: white;">
            <thead>
              <th>date</th>
              <th>name</th>
              <th>email</th>
              <th>message</th>
            </thead>
            <tbody>
              <tr ng-repeat="commit in gitCommits">
                <td>{{commit.date | date:"dd/MM/yyyy"}}</td>
                <td>{{commit.userName}}</td>
                <td>{{commit.userEmail}}</td>
                <td style="white-space: pre-line">{{commit.commitMessage}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
