<div id="topology_inputs_var" class="topology-editor topology-column-padding">
  <div class="topology-row" style="padding-top: 20px;">
    <div class="col-md-12">
      <uib-tabset>
        <uib-tab id="inputs-tab">
          <uib-tab-heading>
            <span><i class="fa fa-sign-in"></i> {{'NAVAPPLICATIONS.MENU_DEPLOY_NEXT_INPUTS' | translate}}</span>
          </uib-tab-heading>
          <editor-inputs></editor-inputs>
        </uib-tab>

        <uib-tab id="var-tab">
          <uib-tab-heading>
            <span><i class="fa fa-usd"></i> {{'NAVAPPLICATIONS.MENU_VARIABLES' | translate}}</span>
          </uib-tab-heading>
          <editor-variables></editor-variables>
        </uib-tab>
      </uib-tabset>
    </div>

  </div>
</div>
