<div id="topology-editor" class="topology-editor">
  <div class="topology-row" style="height: {{dimensions.height}}px;">
    <!-- TOPOLOGY display -->
    <div id="topology" class="topology-column">
      <div class="topology topology-column-box" alien-droppable drag-data="" drag-on-drop="nodes.onDragged(data)" ng-init="visual = true;">
        <topology-rendering ng-if="topology" dimensions="visualDimensions" topology="topology"
                            select-callback="editorCallback.selectNodeTemplate(newSelectedName, oldSelectedName)"
                            add-relationship-callback="editorCallback.addRelationship(sourceId, requirementName, requirementType, targetId, capabilityName, relationship)"
                            graph-control="graphControl"
                            runtime="false"></topology-rendering>
      </div>
    </div>

    <!-- NodeTemplate details -->
    <div id="nodetemplate-box" ng-show="selectedNodeTemplate && displays.nodetemplate.active" class="topology-column" style="width: {{displays.nodetemplate.size}}px;">
      <div class="topology-column-box">
        <resizable-bar
          id="nodetemplate-box-handler"
          classes="topology-column-menu-left">
        </resizable-bar>
        <div class="topology-column-content" ng-if="selectedNodeTemplate && displays.nodetemplate.active">
          <ng-include src="'views/topology/includes/selected_node.html'"></ng-include>
        </div>
      </div>
    </div>

    <!-- Components search -->
    <div id="catalog-box" ng-show="displays.catalog.active" class="topology-column" style="width: {{displays.catalog.size}}px;">
      <div class="topology-column-box">
        <resizable-bar
          id = "catalog-box-handler"
          classes="topology-column-menu-left">
        </resizable-bar>
        <div class="topology-column-content" ng-if="displays.catalog.active">
          <div class="topology-column-content-head">
            <span>
              <i class="fa fa-plus"></i> {{'APPLICATIONS.TOPOLOGY.ADD_NODETEMPLATE' | translate}}
            </span>
            <span id='closeComponentsSearch' class="btn btn-default btn-xs pull-right close-btn-panel" ng-click="display.toggle('catalog')">
              <i class="fa fa-remove close-panel"></i>
            </span>
          </div>

          <div id="slide-side-bar" style="overflow: auto;">
              <a4c-component-catalog ng-if="topology"
                component-type='NODE_TYPE'
                drag-and-drop-enabled="true"
                default-filters="defaultFilters"
                height-info="dimensions"
                static-facets="staticFacets"
                badges = "badges">
              </a4c-component-catalog>
          </div>
        </div>
      </div>
    </div>

    <!-- Dependencies -->
    <div id="dependencies-box" ng-show="displays.dependencies.active" class="topology-column" style="width: {{displays.dependencies.size}}px;">
      <div class="topology-column-box">
        <resizable-bar
          id="dependencies-box-handler"
          classes="topology-column-menu-left">
        </resizable-bar>
        <div class="topology-column-content" ng-if="displays.dependencies.active">
          <ng-include src="'views/topology/includes/dependencies.html'"></ng-include>
        </div>
      </div>
    </div>

    <!-- Inputs -->
    <div id="inputs-box" ng-show="displays.inputs.active" class="topology-column ui-resizable" style="width: {{displays.inputs.size}}px;">
      <div class="topology-column-box">
        <resizable-bar
          id="inputs-box-handler"
          classes="topology-column-menu-left">
        </resizable-bar>
        <div class="topology-column-content" ng-if="displays.inputs.active">
          <ng-include src="'views/topology/includes/inputs.html'"></ng-include>
        </div>
      </div>
    </div>

    <!-- Policies -->
    <div id="policies-box" ng-show="displays.policies.active" class="topology-column ui-resizable" style="width: {{displays.policies.size}}px;">
      <div class="topology-column-box">
        <resizable-bar
          id="policies-box-handler"
          classes="topology-column-menu-left">
        </resizable-bar>
        <div class="topology-column-content" ng-if="displays.policies.active">
          <ng-include src="'views/topology/includes/policies.html'"></ng-include>
        </div>
      </div>
    </div>

    <!-- Policies catalog -->
    <div id="policiescatalog-box" ng-show="displays.policiescatalog.active" class="topology-column ui-resizable" style="width: {{displays.policiescatalog.size}}px;">
      <div class="topology-column-box">
        <resizable-bar
          id="policiescatalog-box-handler"
          classes="topology-column-menu-left">
        </resizable-bar>
        <div class="topology-column-content" ng-if="displays.policiescatalog.active">
          <ng-include src="'views/topology/includes/policiescatalog.html'"></ng-include>
        </div>
      </div>
    </div>

    <!-- Node Groups -->
    <div id="groups-box" ng-show="displays.groups.active" class="topology-column ui-resizable" style="width: {{displays.groups.size}}px;">
      <div class="topology-column-box">
        <resizable-bar
          id="groups-box-handler"
          classes="topology-column-menu-left">
        </resizable-bar>
        <div class="topology-column-content" ng-if="displays.groups.active">
          <ng-include src="'views/topology/includes/groups.html'"></ng-include>
        </div>
      </div>
    </div>

    <!-- Substitution -->
    <div id="substitutions-box" ng-show="displays.substitutions.active" class="topology-column ui-resizable" style="width: {{displays.substitutions.size}}px;">
      <div class="topology-column-box">
        <resizable-bar
          id="substitutions-box-handler"
          classes="topology-column-menu-left">
        </resizable-bar>
        <div class="topology-column-content" ng-if="displays.substitutions.active">
          <ng-include src="'views/topology/includes/substitutions.html'"></ng-include>
        </div>
      </div>
    </div>

    <!-- Right vertical menu -->
    <div id="topology-vertical-menu" class="topology-column">
      <ul>
        <li ng-class="{'active': displays.catalog.active}">
          <span id="topology-components-search" ng-click="display.toggle('catalog')">
            <i class="fa fa-plus"></i> {{'APPLICATIONS.TOPOLOGY.ADD_NODETEMPLATE' | translate}}
          </span>
        </li>
        <li ng-class="{'active': displays.inputs.active}">
          <span id="topology-inputs" ng-click="display.toggle('inputs')">
            <i class="fa fa-sign-in"></i> Inputs
          </span>
        </li>
        <li ng-class="{'active': displays.policies.active}">
          <span id="topology-policies" ng-click="display.toggle('policies')">
            <i class="fa fa-gavel"></i> Policies
          </span>
        </li>
        <li ng-class="{'active': displays.groups.active}">
          <span id="topology-groups" ng-click="display.toggle('groups')">
            <i class="fa fa-list-alt"></i> {{'COMMON.GROUPS' | translate}}
          </span>
        </li>
        <li ng-class="{'active': displays.substitutions.active}">
          <span id="topology-substitutions" ng-click="display.toggle('substitutions')">
            <i class="fa fa-recycle"></i> {{'APPLICATIONS.TOPOLOGY.SUBSTITUTIONS.TITLE' | translate}}
          </span>
        </li>
        <li ng-class="{'active': displays.dependencies.active}">
          <span id="topology-dependencies" ng-click="display.toggle('dependencies')">
            <i class="fa fa-archive"></i> {{'APPLICATIONS.TOPOLOGY.DEPENDENCY' | translate}} <i ng-show="topology.dependencyConflicts.length" class="fa fa-exclamation-triangle text-warning"></i>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
