<div id="editor-workflow" class="topology-editor" style="height: {{dimensions.height}}px; width: {{dimensions.width}}px;">
  <div class="topology-row" style="height: {{dimensions.height}}px;">
    <div id="workflow-graph" class="topology-column">
      <topology-plan ng-if="topology" id="plan-graph-container"></topology-plan>
    </div>
    <div id="workflow-menu-box" class="topology-column ui-resizable" style="width: {{displays.workflows.size}}px;">
      <div class="topology-column-box">
        <resizable-bar
          id="workflow-menu-box-handler"
          classes="topology-column-menu-left">
        </resizable-bar>
        <div class="topology-column-content">
          <div class="topology-column-content-head">
            <span>
              <i class="fa fa-power-off"></i> {{'APPLICATIONS.WF.title' | translate}}
            </span>
          </div>
          <!-- The workflow selection box -->
          <div class="well wfbox">
            <div class="row">
              <div class="col-md-10">
                <select name="wf-select" id="wf-select" ng-model="currentWorkflowName" ng-change="workflows.setCurrentWorkflowName(currentWorkflowName)">
                 <option ng-repeat="w in topology.topology.workflows" value="{{w.name}}" ng-selected="w.name === currentWorkflowName">{{w.name}}</option>
                </select>
              </div>
              <div class="col-md-2" style="margin-top: 6px;">
                <div class="pull-right">
                    <a id="wfUnpinStep"
                       class="btn btn-primary btn-sm"
                       uib-tooltip="{{ 'APPLICATIONS.WF.addWorkflow' | translate}}"
                       tooltip-append-to-body="true" ng-click="workflows.createWorkflow()">
                      <i class="fa fa-plus-square"></i>
                    </a>
                </div>
              </div>
            </div>
          </div>
          <!-- The error box -->
          <div class="well wfbox" ng-if="currentWorkflowName && topology.topology.workflows[currentWorkflowName].errors">
            <div id="wf-errors-header" class="clickable text-danger"
                 ng-click="isWfErrorsCollapsed = !isWfErrorsCollapsed">
              <h5>
                <i class=" fa" ng-class="{'fa-caret-down' : !isWfErrorsCollapsed, 'fa-caret-right': isWfErrorsCollapsed}"></i>
                {{topology.topology.workflows[currentWorkflowName].errors.length}} {{'APPLICATIONS.WF.hasErrors' | translate}}
              </h5>
            </div>
            <div id="wf-errors-panel" uib-collapse="isWfErrorsCollapsed" >
              <span class="label label-danger wfLabelError" ng-repeat="error in topology.topology.workflows[currentWorkflowName].errors" ng-init="errorType = workflows.getErrorType(error)">
                {{'APPLICATIONS.WF.errors.' + errorType | translate:error}}
              </span>
            </div>
          </div>
          <!-- The workflow edition box -->
          <div class="well wfbox" ng-if="currentWorkflowName">
            <div class="row">
              <div class="col-md-8">
                <h4 class="pull-left">
                  <span editable-text="workflows.workflowName" buttons="no" e-required onbeforesave="workflows.renameWorkflow($data)" blur="submit" ng-if="!topology.topology.workflows[currentWorkflowName].standard">
                    {{ currentWorkflowName }}
                    <i class="fa fa-pencil-square-o"></i>
                  </span>
                  <span ng-if="topology.topology.workflows[currentWorkflowName].standard">{{ currentWorkflowName }}</span>
                </h4>
              </div>
              <div class="col-md-4" style="margin-top: 6px;">
                <div>
                  <delete-confirm
                    class="pull-right"
                    ng-if="!topology.topology.workflows[currentWorkflowName].standard"
                    id="btn-delete-wf" func="workflows.removeWorkflow()"
                    position="left" bssize="btn-sm" fastyle="fa-trash-o">
                  </delete-confirm>
                  <!--<a id="wfViewMode"-->
                     <!--class="btn btn-default btn-sm pull-right"-->
                     <!--ng-class="{'active' : wfViewMode === 'full'}"-->
                     <!--uib-tooltip="{{ 'APPLICATIONS.WF.changeViewMode' | translate}}"-->
                     <!--tooltip-append-to-body="true" ng-click="workflows.switchViewMode()">-->
                    <!--<i class="fa fa-binoculars"></i>-->
                  <!--</a>-->
                </div>
              </div>
            </div>
            <div ng-if="topology.topology.workflows[currentWorkflowName].standard">
              <a class="btn btn-default btn-md"
                confirm="{{'CONFIRM_MESSAGE' | translate}}"
                confirm-title="{{'CONFIRM' | translate }}"
                confirm-handler="workflows.reinitWorkflow()"
                confirm-placement="top" ng-click="$event.stopPropagation();"
                confirm-class="popover">{{'APPLICATIONS.WF.reinit' | translate}}</a>
            </div>
            <div>
              <a class="btn btn-default btn-md"
                ng-mouseover="workflows.addStepPreview()"
                ng-mouseleave="workflows.resetPreview()"
                ng-click="workflows.addOperation()">{{'APPLICATIONS.WF.addOperationActivity' | translate}}</a>
            </div>
            <div>
              <a class="btn btn-default btn-md"
                 ng-mouseover="workflows.addStepPreview()"
                 ng-mouseleave="workflows.resetPreview()"
                 ng-click="workflows.addInline()">{{'APPLICATIONS.WF.addInlineActivity' | translate}}</a>
            </div>
            <div>
              <a class="btn btn-default btn-md"
                ng-mouseover="workflows.addStepPreview()"
                ng-mouseleave="workflows.resetPreview()"
                ng-click="workflows.addState()">{{'APPLICATIONS.WF.addStateActivity' | translate}}</a>
            </div>
          </div>
          <!-- The displayed step -->
          <div class="well wfbox" ng-if="previewWorkflowStep">
            <h4 class="pull-left break-word">{{previewWorkflowStep.name}}</h4>
            <i class="fa pull-right">{{workflows.getStepActivityTypeIcon(previewWorkflowStep)}}</i>
            <span class="clearfix"></span>
            <div class="row">
             <div class="col-md-3">
               <img ng-if="!previewWorkflowStep.targetRelationship" ng-src="img?id={{workflows.getStepNodeIcon(previewWorkflowStep)}}&quality=QUALITY_64" />
               <span ng-if="previewWorkflowStep.targetRelationship" >
                 <img ng-show="!onTargetImage" ng-mouseleave="onSourceImage = false" ng-mouseenter="onSourceImage = true; onTargetImage = false" ng-src="img?id={{workflows.getStepNodeIcon(previewWorkflowStep)}}&quality=QUALITY_64" class="wf-source-rel-img"/>
                 <img ng-show="!onSourceImage" ng-mouseleave="onTargetImage = false" ng-mouseenter="onTargetImage = true; onSourceImage = false" ng-src="img?id={{workflows.getStepTargetNodeIcon(previewWorkflowStep)}}&quality=QUALITY_64" class="wf-target-rel-img"/>
               </span>
             </div>
              <div class="col-md-9">
                <span ng-if="!previewWorkflowStep.targetRelationship && previewWorkflowStep.target">{{'COMMON.NODE' | translate}}: <b class="break-word">{{previewWorkflowStep.target}}</b><br></span>
                <span ng-if="previewWorkflowStep.targetRelationship">
                  {{'COMMON.SOURCE' | translate}}: <b class="break-word">{{previewWorkflowStep.target}}</b><br>
                  {{'COMMON.RELATIONSHIP' | translate}}: <b class="break-word">{{previewWorkflowStep.targetRelationship}}</b><br>
                  {{'COMMON.TARGET' | translate}}: <b class="break-word">{{workflows.getTargetNodeForRelationshipStep(previewWorkflowStep)}}</b><br>
                </span>
                <span ng-init="previewWorkflowStepHost=workflows.getStepHost(previewWorkflowStep)" ng-if="previewWorkflowStepHost">{{'APPLICATIONS.WF.host' | translate}}: <b class="break-word">{{previewWorkflowStepHost}}</b><br></span>
               {{'APPLICATIONS.WF.activity' | translate}}: <b>{{ 'APPLICATIONS.WF.' + workflows.getStepActivityType(previewWorkflowStep) | translate}}</b><br>
             </div>
           </div>
           <div class="row" ng-repeat="(k,v) in workflows.getStepActivityDetails(previewWorkflowStep)">
             <div class="col-md-3">{{'APPLICATIONS.WF.' + k | translate}}: </div>
             <div class="col-md-9 wfActivityDetail"><b>{{v}}</b></div>
           </div>
          </div>
          <!-- The current selection -->
          <div class="well wfbox" ng-if="workflowCurrentStepSelection.length > 0">
            <h4>{{'APPLICATIONS.WF.currentSelection' | translate}}</h4>
            <ul>
              <li ng-repeat="wfStep in workflowCurrentStepSelection">
                <a href="" id="wfRemoveStepSelection_{{wfStep}}" ng-click="workflows.unselectStep(wfStep)" >
                  <span>{{wfStep}}</span>&nbsp;
                  <i class="fa fa-times"></i>
                </a>
              </li>
            </ul>
          </div>
          <!-- The pinned edge to be edited -->
          <div class="well wfbox" ng-if="wfPinnedEdge">
            <div class="row">
              <div class="col-md-10">
                {{ wfPinnedEdge.from }} - {{ wfPinnedEdge.to }}
              </div>
              <div class="col-md-2" style="margin-top: 6px;">
                <div class="pull-right">
                    <a id="wfUnpinStep"
                       class="btn btn-default btn-sm"
                       uib-tooltip="{{ 'APPLICATIONS.WF.unpin' | translate}}"
                       tooltip-append-to-body="true" ng-click="workflows.unPinCurrentEdge()">
                      <i class="fa fa-unlock"></i>
                    </a>
                </div>
              </div>
            </div>
              <div>
                <a class="btn btn-default btn-md"
                  ng-mouseover="workflows.removeEdgePreview(wfPinnedEdge.from, wfPinnedEdge.to)"
                  ng-mouseleave="workflows.resetPreview()"
                  confirm="{{'CONFIRM_MESSAGE' | translate}}"
                  confirm-title="{{'CONFIRM' | translate }}"
                  confirm-handler="workflows.removeEdge(wfPinnedEdge.from, wfPinnedEdge.to)"
                  confirm-placement="top" confirm-class="popover" ng-click="$event.stopPropagation();">{{'APPLICATIONS.WF.disconnect' | translate}}</a>
              </div>
          </div>
          <!-- The pinned step to be edited -->
          <div class="well wfbox" ng-if="pinnedWorkflowStep">
            <div class="row">
              <div class="col-md-10">
                <h4 class="pull-left">
                 <span editable-text="pinnedWorkflowStep.name" buttons="no" e-required onbeforesave="workflows.renameStep(pinnedWorkflowStep.name, $data)" blur="submit">
                    {{ pinnedWorkflowStep.name }}
                    <i class="fa fa-pencil-square-o"></i>
                  </span>
                </h4>
              </div>
              <div class="col-md-2" style="margin-top: 6px;">
                <div class="pull-right">
                    <a id="wfUnpinStep"
                       class="btn btn-default btn-sm"
                       uib-tooltip="{{ 'APPLICATIONS.WF.unpin' | translate}}"
                       tooltip-append-to-body="true" ng-click="workflows.unpinCurrent()">
                      <i class="fa fa-unlock"></i>
                    </a>
                </div>
              </div>
            </div>

              <div
                ng-repeat="precedingNodeId in pinnedWorkflowStep.precedingSteps">
                <a class="btn btn-default btn-md"
                  ng-mouseover="workflows.removeEdgePreview(precedingNodeId, pinnedWorkflowStep.name)"
                  ng-mouseleave="workflows.resetPreview()"
                  confirm="{{'CONFIRM_MESSAGE' | translate}}"
                  confirm-title="{{'CONFIRM' | translate }}"
                  confirm-handler="workflows.removeEdge(precedingNodeId, pinnedWorkflowStep.name)"
                  confirm-placement="top" confirm-class="popover" ng-click="$event.stopPropagation();">{{'APPLICATIONS.WF.disconnectFrom' | translate}} {{precedingNodeId}}</a>
              </div>
              <div
                ng-repeat="followingNodeId in pinnedWorkflowStep.onSuccess">
                <a class="btn btn-default btn-md"
                  ng-mouseover="workflows.removeEdgePreview(pinnedWorkflowStep.name, followingNodeId)"
                  ng-mouseleave="workflows.resetPreview()"
                  confirm="{{'CONFIRM_MESSAGE' | translate}}"
                  confirm-title="{{'CONFIRM' | translate }}"
                  confirm-handler="workflows.removeEdge(pinnedWorkflowStep.name, followingNodeId)"
                  confirm-placement="top" confirm-class="popover" ng-click="$event.stopPropagation();">{{'APPLICATIONS.WF.disconnectTo' | translate}} {{followingNodeId}}</a>
              </div>
              <div ng-if="workflowCurrentStepSelection.length > 0">
                <a class="btn btn-default btn-md"
                  ng-mouseover="workflows.connectFromPreview()"
                  ng-mouseleave="workflows.resetPreview()"
                  confirm="{{'CONFIRM_MESSAGE' | translate}}"
                  confirm-title="{{'CONFIRM' | translate }}"
                  confirm-handler="workflows.connectFrom()"
                  confirm-placement="top" confirm-class="popover" ng-click="$event.stopPropagation();">{{'APPLICATIONS.WF.connectFromSelection' | translate}}</a>
              </div>
              <div ng-if="workflowCurrentStepSelection.length > 0">
                <a class="btn btn-default btn-md"
                  ng-mouseover="workflows.connectToPreview()"
                  ng-mouseleave="workflows.resetPreview()"
                  confirm="{{'CONFIRM_MESSAGE' | translate}}"
                  confirm-title="{{'CONFIRM' | translate }}"
                  confirm-handler="workflows.connectTo()"
                  confirm-placement="top" confirm-class="popover" ng-click="$event.stopPropagation();">{{'APPLICATIONS.WF.connectToSelection' | translate}}</a>
              </div>
              <div
                ng-repeat="precedingNodeId in pinnedWorkflowStep.precedingSteps">
                <a class="btn btn-default btn-md"
                  ng-mouseover="workflows.swapPreview(precedingNodeId, pinnedWorkflowStep.name)"
                  ng-mouseleave="workflows.resetPreview()"
                  confirm="{{'CONFIRM_MESSAGE' | translate}}"
                  confirm-title="{{'CONFIRM' | translate }}"
                  confirm-handler="workflows.swap(precedingNodeId, pinnedWorkflowStep.name)"
                  confirm-placement="top" confirm-class="popover" ng-click="$event.stopPropagation();">{{'APPLICATIONS.WF.swapLeft' | translate}} ({{precedingNodeId}})</a>
              </div>
              <div
                ng-repeat="followingNodeId in pinnedWorkflowStep.onSuccess">
                <a class="btn btn-default btn-md"
                  ng-mouseover="workflows.swapPreview(pinnedWorkflowStep.name, followingNodeId)"
                  ng-mouseleave="workflows.resetPreview()"
                  confirm="{{'CONFIRM_MESSAGE' | translate}}"
                  confirm-title="{{'CONFIRM' | translate }}"
                  confirm-handler="workflows.swap(pinnedWorkflowStep.name, followingNodeId)"
                  confirm-placement="top" confirm-class="popover" ng-click="$event.stopPropagation();">{{'APPLICATIONS.WF.swapRigth' | translate}} ({{followingNodeId}})</a>
              </div>
              <div>
                <a class="btn btn-default btn-md"
                  ng-mouseover="workflows.removeStepPreview(pinnedWorkflowStep.name)"
                  ng-mouseleave="workflows.resetPreview()"
                  confirm="{{'DELETE_CONFIRM' | translate}}"
                  confirm-title="{{'DELETE' | translate }}"
                  confirm-handler="workflows.removeStep(pinnedWorkflowStep.name)"
                  confirm-placement="top" confirm-class="popover" ng-click="$event.stopPropagation();">{{'APPLICATIONS.WF.removeStep' | translate}}</a>
              </div>
              <div>
                <a class="btn btn-default btn-md"
                  ng-mouseover="workflows.insertStepPreview(pinnedWorkflowStep.name)"
                  ng-mouseleave="workflows.resetPreview()"
                  ng-click="workflows.insertOperation(pinnedWorkflowStep.name)">{{'APPLICATIONS.WF.insertOperationActivity' | translate}}</a>
              </div>
              <div>
                <a class="btn btn-default btn-md"
                  ng-mouseover="workflows.appendStepPreview(pinnedWorkflowStep.name)"
                  ng-mouseleave="workflows.resetPreview()"
                  ng-click="workflows.appendOperation(pinnedWorkflowStep.name)">{{'APPLICATIONS.WF.appendOperationActivity' | translate}}</a>
              </div>
            <div>
              <a class="btn btn-default btn-md"
                 ng-mouseover="workflows.insertStepPreview(pinnedWorkflowStep.name)"
                 ng-mouseleave="workflows.resetPreview()"
                 ng-click="workflows.insertInline(pinnedWorkflowStep.name)">{{'APPLICATIONS.WF.insertInlineActivity' | translate}}</a>
            </div>
            <div>
              <a class="btn btn-default btn-md"
                  ng-mouseover="workflows.appendStepPreview(pinnedWorkflowStep.name)"
                  ng-mouseleave="workflows.resetPreview()"
                  ng-click="workflows.appendInline(pinnedWorkflowStep.name)">{{'APPLICATIONS.WF.appendInlineActivity' | translate}}</a>
            </div>
              <div>
                <a class="btn btn-default btn-md"
                  ng-mouseover="workflows.insertStepPreview(pinnedWorkflowStep.name)"
                  ng-mouseleave="workflows.resetPreview()"
                  ng-click="workflows.insertState(pinnedWorkflowStep.name)">{{'APPLICATIONS.WF.insertStateActivity' | translate}}</a>
              </div>
              <div>
                <a class="btn btn-default btn-md"
                  ng-mouseover="workflows.appendStepPreview(pinnedWorkflowStep.name)"
                  ng-mouseleave="workflows.resetPreview()"
                  ng-click="workflows.appendState(pinnedWorkflowStep.name)">{{'APPLICATIONS.WF.appendStateActivity' | translate}}</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
