<div id="topology_validation" class="topology-editor topology-column-padding" style="min-height: 320px;">
  <div class="topology-row" style="height: {{dimensions.height}}px; padding-top: 20px;">
    <div class="col-md-12">
      <uib-tabset>
        <uib-tab id="current-topology-tab">
          <uib-tab-heading>
            <i class="fa" ng-class="{'fa-check': validCurrentTopologyDTO.valid, 'fa-exclamation-triangle text-danger': !validCurrentTopologyDTO.valid}"></i>
            <span> {{'EDITOR.VALIDATION.CURRENT_TOPOLOGY' | translate}}</span>
          </uib-tab-heading>
          <div class="col-md-12" ng-if="validCurrentTopologyDTO.valid">
            <h3 class="text-success"><i class="fa fa-check"></i> {{'APPLICATIONS.TOPOLOGY.TASK.VALIDATION_SUCCESS_CURRENT_TOPOLOGY' | translate}}</h3>
          </div>

          <topology-validation-display validation-dto="validCurrentTopologyDTO"></topology-validation-display>
        </uib-tab>

        <uib-tab id="last-topology-tab">
          <uib-tab-heading>
            <i class="fa fa-exclamation-triangle text-danger" ng-if="!validTopologyDTO.valid"></i>
            <i class="fa fa-check" ng-if="validTopologyDTO.valid"></i>
            <span> {{'EDITOR.VALIDATION.LAST_SAVED_TOPOLOGY' | translate}}</span>
          </uib-tab-heading>

          <topology-validation-display validation-dto="validTopologyDTO"></topology-validation-display>
        </uib-tab>
      </uib-tabset>
    </div>

  </div>
</div>
