<div ng-if="validMessage && validationDto.valid">
  <h4 class="text-success"><i class="fa fa-check"></i> {{validMessage | translate}}</h4>
</div>

<div class="row" ng-if="!_.isEmpty(validationDto.taskList)">
  <div id="deploymentTodoList" class="col-md-12">
    <h4 class="text-danger"><i class="fa fa-exclamation-triangle"></i> {{'APPLICATIONS.TOPOLOGY.TASK.LABEL' | translate}}</h4>
    <!-- case the topology is empty -->
    <div class="col-md-12" ng-if="validationDto.taskList['EMPTY'].length > 0">
      <div class="task-list-box">
        {{'APPLICATIONS.TOPOLOGY.TASK.EMPTY_TOPOLOGY_MESSAGE' | translate}}
      </div>
    </div>

    <!--  Node Filter stepTasks  -->
    <div class="col-md-12" ng-if="validationDto.taskList['NODE_FILTER_INVALID'].length>0">
      <div class="task-list-box">
        <node-filters-errors-display
          tasks="validationDto.taskList['NODE_FILTER_INVALID']"
          input-column=false>
        </node-filters-errors-display>
      </div>
    </div>

    <!--  LowerBound not satisfied stepTasks  -->
    <div class="col-md-12" ng-if="validationDto.taskList['SATISFY_LOWER_BOUND'].length>0">
      <div class="task-list-box">
        <lowerbound-errors-display
          tasks="validationDto.taskList['SATISFY_LOWER_BOUND']">
        </lowerbound-errors-display>
      </div>
    </div>

    <!--  Required properties stepTasks  -->
    <div class="col-md-12" ng-if="validationDto.taskList.PROPERTIES.length > 0">
      <div class="task-list-box">
        <properties-errors-display
          tasks="validationDto.taskList.PROPERTIES">
        </properties-errors-display>
      </div>
    </div>

    <!--  scalability configuration stepTasks  -->
    <div class="col-md-12" ng-if="validationDto.taskList['SCALABLE_CAPABILITY_INVALID'].length>0">
      <div class="task-list-box">
        <scalability-errors-display
          tasks="validationDto.taskList['SCALABLE_CAPABILITY_INVALID']" >
        </scalability-errors-display>
      </div>
    </div>

    <!-- Artifact stepTasks  -->
    <div class="col-md-12" ng-if="validationDto.taskList['ARTIFACT_INVALID'].length>0">
      <div class="task-list-box">
        <artifacts-errors-display
          tasks="validationDto.taskList['ARTIFACT_INVALID']">
        </artifacts-errors-display>
      </div>
    </div>

    <!--  Workflow stepTasks  -->
    <div class="col-md-12" ng-if="(wfTasks = validationDto.taskList['WORKFLOW_INVALID']).length>0">
      <div class="task-list-box">
        <h4 class="clickable" ng-init="isWorkflowsCollapsed = false" ng-click="isWorkflowsCollapsed = !isWorkflowsCollapsed">
          <i class="fa" ng-class="{'fa-caret-down' : !isWorkflowsCollapsed, 'fa-caret-right': isWorkflowsCollapsed}"></i>
          <span>{{'APPLICATIONS.TOPOLOGY.TASK.WORKFLOWS.TITLE' | translate}}</span>
        </h4>

        <div uib-collapse="isWorkflowsCollapsed" >
          <ul>
            <li ng-repeat="wfTask in wfTasks">
              {{'APPLICATIONS.TOPOLOGY.TASK.WORKFLOWS.HAS_ERROR' | translate:wfTask}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
