<form name="variable" class="form-horizontal" role="form" novalidate>
  <div class="modal-header">
    <h3>{{'APPLICATIONS.VARIABLES.MODAL_HEADER' | translate:{var:varName} }}</h3>
  </div>


  <div id="var-explorer" class="modal-body">
    <div class="topology-row" >
      <div id="var-scope-box" class="topology-column">
        <div class="topology-column-box">
          <div class="topology-column-content-left" style="padding-top: 10px; padding-left: 10px;">

            <div>
              <h4 class="var-scope-title clickable"
                ng-class= "{'var-defined': appScopeDTO.expression,
                            'var-undefined': !appScopeDTO.expression,
                            'var-scope-selected': selectedScope.id === topology.topology.archiveName}"
                ng-click="showAppVarExpression(appScopeDTO.expression)">  {{'APPLICATIONS.VARIABLES.APP_SCOPE' | translate}}</h4>
            </div>

            <div style="margin-top: 30px">
              <div class="content-head clickable"
                ng-click="toggle('envType')">
                {{'APPLICATIONS.VARIABLES.ENV_TYPE_SCOPE' | translate}}
                <i style="padding-right: .8em;" class="vertical-align-middle fa" ng-class="{'fa-caret-down' : !collapsed.envType, 'fa-caret-right': collapsed.envType}"></i>
              </div>
              <div uib-collapse="collapsed.envType">
                <!-- inplace search bar-->
                <form class="grp-margin">
                  <div>
                    <input id="env-inplace-search-query" type="text" class="form-control input-xs" placeholder="{{'COMMON.SEARCH' | translate}}" ng-model="searchEnvType">
                  </div>
                </form>
                <div class="var-scope-item clickable"
                     ng-repeat="varDTO in envTypeScopeDTO | filter:searchEnvType"
                     ng-click="showEnvTypeVarExpression(varDTO)"
                     ng-class= "{'var-defined': varDTO.variable.expression,
                                 'var-undefined': !varDTO.variable.expression,
                                 'var-scope-selected': selectedScope.id === varDTO.scopeId}" >
                  <span>{{varDTO.scopeName}}</span>
                </div>
              </div>
            </div>

            <div style="margin-top: 30px">
              <div class="content-head clickable"
                ng-click="toggle('env')">
                {{'APPLICATIONS.VARIABLES.ENV_SCOPE' | translate}}
                <i style="padding-right: .8em;" class="vertical-align-middle fa" ng-class="{'fa-caret-down' : !collapsed.env, 'fa-caret-right': collapsed.env}"></i>
              </div>
              <div uib-collapse="collapsed.env">
                <!-- inplace search bar-->
                <form class="grp-margin">
                  <div>
                    <input id="env-inplace-search-query" type="text" class="form-control input-xs" placeholder="{{'COMMON.SEARCH' | translate}}" ng-model="searchEnv">
                  </div>
                </form>
                <div class="var-scope-item clickable"
                     ng-repeat="varDTO in envScopeDTO | filter:searchEnv"
                     ng-click="showEnvVarExpression(varDTO)"
                     ng-class= "{'var-defined': varDTO.variable.expression,
                                 'var-undefined': !varDTO.variable.expression,
                                 'var-scope-selected': selectedScope.id === varDTO.scopeId}" >
                  <span>{{varDTO.scopeName}}</span> (<span>{{varDTO.scopeId}}</span>)
                </div>
              </div>
            </div>

          </div>
          <!-- <resizable-bar
            id="var-scope-box-handler"
            direction="e"
            classes="topology-column-menu-right">
          </resizable-bar> -->
        </div>
      </div>
      <div id="var-expression" class="topology-column">
        <div ng-if="!isImage" style="margin-top:10px;">
          <div style="margin-left: 10px;">
            <button class="btn btn-default btn-sm" id="save-file"
              ng-disabled="!selectedScope"
              ng-click="saveEdited()">
              <i class="fa fa-save"></i> {{'EDITOR.SAVE' | translate}}
            </button>
            <span class="text-info">{{selectedScope.name}}<span>
          </div>
          <div ng-model="editorContent" ui-ace="{mode: 'yaml', useWrapMode: true, readonly: 'true', onLoad : aceLoaded}" style="margin-top:10px; min-height: 100px;">
          </div>
        </div>
        <div ng-if="isImage" style="margin-top:10px;" class="well"><img ng-src="{{imageUrl}}" /></div>
      </div>
    </div>
  </div>


  <div class="modal-footer">
    <button id="modal-push-button" class="btn btn-primary" ng-click="ok()">
      {{ 'GENERIC_FORM.SAVE'| translate}}
    </button>
    <button id="modal-close-button" class="btn btn-default" ng-click="cancel()">
      {{'GENERIC_FORM.CANCEL' | translate}}
    </button>
  </div>
</form>
