<div class="form-group" ng-class="{'form-item-selected': !showTree && isActivePath}">
  <label class="col-md-3 control-label">{{propertyName | translate}}</label>

  <div class="col-md-6">
    <select id="{{idPrefix + 'selectImplementation'}}" class="form-control" ng-model="propertyType._selectedImplementation[propertyName]">
      <option ng-repeat="(implementationId, implementation) in propertyType._implementationTypes" value="{{implementationId}}"
              ng-selected="implementationId == propertyType._selectedImplementation[propertyName]" id="{{implementation._label}}">{{implementation._label | translate}}
      </option>
    </select>
  </div>
  <div class="col-md-3">
    <button id="{{idPrefix + 'deletebutton'}}" type="button" uib-tooltip="{{ 'GENERIC_FORM.DELETE' | translate }}" class="btn btn-danger btn-sm"
            ng-click="deleteForm()" ng-if="isDeletable">
      <i class="fa fa-trash-o"></i>
    </button>
    <button id="{{idPrefix + 'editbutton'}}" type="button" uib-tooltip="{{ 'GENERIC_FORM.GOTO' | translate }}" class="btn btn-default btn-sm" ng-click="goTo()">
      <i class="fa fa-pencil-square-o"></i>
    </button>
  </div>
</div>
