  <div ng-class="{
    'form-container-no-tree-window form-container-vertical-scroll': configuration.formStyle === 'window'}"
    ng-show="isActivePath">
    <div class="form-group">
      <label class="col-md-4 control-label"
             uib-tooltip="{{labelName | translate}}"
             tooltip-trigger="{{{true: 'mouseenter', false: 'never'}[(labelName | translate).length > configuration.labelSize]}}">
        {{labelName | translate | truncate:configuration.labelSize}}
      </label>

      <div class="col-md-8">
        <div uib-tooltip="Add" style="display: inline-block;" tooltip-placement="top">
          <button id="{{idPrefix + 'addelementbutton'}}" type="button" class="btn btn-default btn-sm"
                  ng-click="addElementToArray()" ng-disabled="configuration.isReadOnly">
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <button type="button" uib-tooltip="{{'GENERIC_FORM.DELETE' | translate}}" class="btn btn-danger btn-sm"
                ng-click="deleteForm()" ng-if="isDeletable">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
    </div>
    <div class="form-group" ng-show="hasElements()">
      <div class="col-md-12">
        <div class="{{complexContainerElementId}}"></div>
      </div>
    </div>
  </div>
