<div class="form-group" ng-class="{'form-item-selected': configuration.formStyle === 'window' && isActivePath}">
  <label class="col-md-4 control-label"
         uib-tooltip="{{labelName | translate}}"
         tooltip-trigger="{{{true: 'mouseenter', false: 'never'}[(labelName | translate).length > configuration.labelSize]}}"
         tooltip-append-to-body=false>
    {{labelName | translate | truncate:configuration.labelSize}}
  </label>

  <div class="col-md-8">
    <button id="{{idPrefix + 'editbutton'}}" type="button" uib-tooltip="{{ 'GENERIC_FORM.GOTO' | translate }}"
            class="btn btn-default btn-sm" ng-click="goTo()">
      <i class="fa fa-pencil-square-o"></i>
    </button>
    <button id="{{idPrefix + 'deletebutton'}}" type="button" uib-tooltip="{{ 'GENERIC_FORM.DELETE' | translate }}"
            class="btn btn-danger btn-sm"
            ng-click="deleteForm()" ng-if="isDeletable && !configuration.isReadOnly">
      <i class="fa fa-trash-o"></i>
    </button>
  </div>
</div>
