<div class="form-horizontal" role="form">
  <div ng-class="{'panel panel-default form-panel': formTitle}">
    <div ng-if="formTitle" class="panel-heading">
      <h4 style="display: inline;">{{formTitle | translate}} </h4>
      <button id="deleteGenericFormButton" type="button" class="btn btn-danger btn-xs" ng-click="deleteData()"
              ng-if="isRemovable && automaticSave" tooltip="{{ 'GENERIC_FORM.DELETE' | translate }}"><i
          class="fa fa-trash-o"></i></button>
      <button id="closeGenericFormButton" type="button" class="close" ng-click="cancelForm()" aria-hidden="true"
              ng-if="isCancelable && automaticSave">&times;</button>
    </div>
    <div ng-class="{'panel-body': formTitle}">
      <div class="row" ng-if="showPath">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li>
              <a href="" id="breadcrumbrootlabel" ng-click="activePathChangeTo(-1)">
                {{ rootName | translate }}
              </a>
            </li>
            <li ng-repeat="activePathElement in configuration.activeLabelPath track by $index">
              <a href="" ng-click="activePathChangeTo($index)">{{activePathElement | translate}}</a>
            </li>
          </ol>
        </div>
      </div>
      <div class="row" ng-show="configuration.validationErrors && configuration.showErrorsAlert">
        <div class="col-md-12">
          <div class="alert alert-danger alert-dismissible">
            <button id="genericFormErrorDismiss" type="button" class="close" aria-hidden="true"
                    ng-click="closeErrors()">&times;</button>
            <ul>
              <li ng-repeat="(error, paths) in configuration.validationErrors">{{error |
                translate}} : <span ng-repeat="path in paths"><span ng-if="$index > 0">, </span><span
                    ng-repeat="label in path"><span ng-if="path.length > 1">/</span>{{label | translate}}</span></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" ng-if="showTree">
          <div class="well form-container-scroll form-container-with-tree">
            <div class="row">
              <div class="form-tree-element">
                <i ng-click="isCollapsed = !isCollapsed" class="form-tree-expand fa"
                   ng-class="{'fa-caret-down' : !isCollapsed, 'fa-caret-right': isCollapsed}"></i> <span
                  id="treeFormrootlabel" class="form-tree-label"
                  ng-class="{'form-tree-label-active': configuration.activePath.length == 0}"
                  ng-click="activePathChangeTo(-1)">{{ rootName | translate }}</span>
              </div>
            </div>
            <div collapse="isCollapsed">
              <div class="form-tree-level treecontainer"></div>
            </div>
          </div>
        </div>
        <div
            ng-class="{'col-md-12' : configuration.formStyle === 'window' || (configuration.formStyle === 'tree' && !showTree), 'col-md-8' : (configuration.formStyle === 'tree' && showTree)}">
          <div class="genericformtypescontainer"
               ng-class="{
                 'form-container-no-tree form-container-horizontal-scroll': configuration.formStyle === 'window',
                 'well form-container-with-tree form-container-scroll': configuration.formStyle === 'tree',
                 '{{formClass}}': configuration.formStyle === 'tree' && formClass,
                 'form-with-title': formTitle
               }">
            <!-- The root form -->
            <div class="genericformpropertiescontainer"
                ng-class="{
                  'form-container-no-tree-window form-container-vertical-scroll': configuration.formStyle === 'window',
                  '{{formClass}}': configuration.formStyle === 'window' && formClass
                }"
                ng-show="isActivePath">
            </div>
            <!-- Other nested complex object will be added dynamically after the root form -->
          </div>
        </div>
      </div>
      <div class="form-group" ng-if="!isReadOnly && !automaticSave">
        <div class="text-center">
          <button type="button" class="btn btn-primary" ng-click="saveAction(rootObject)">{{
            'GENERIC_FORM.SAVE' | translate }}
          </button>
          <button type="button" class="btn btn-default" ng-click="cancelForm()" ng-if="isCancelable">{{
            'GENERIC_FORM.CANCEL' |
            translate }}
          </button>
          <button type="button" class="btn btn-danger" ng-click="deleteData()" ng-if="isRemovable">{{
            'GENERIC_FORM.DELETE' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
