<div>
  <div class="row">
    <div class="form-tree-element">
      <i class="fa fa-minus"></i>
      <span id="{{idPrefix + 'label'}}"
            class="form-tree-label"
            ng-class="{'form-tree-label-active': isActivePath}"
            ng-click="goTo()"
            uib-tooltip="{{labelName}}"
            tooltip-trigger="{{{true: 'mouseenter', false: 'never'}[(labelName | translate).length > configuration.labelSize]}}">
        {{labelName | translate | truncate:configuration.labelSize}}
      </span>
      <i class="fa fa-check text-success" ng-if="input.value != null"></i>
    </div>
  </div>
</div>
