<div ng-if="propertyType._isTitle" class="form-group"
     ng-class="{'has-error': !isInputValid && configuration.showErrors}" style="margin-bottom: 40px;"
     id="{{idPrefix + 'input'}}">
  <div class="col-md-8 col-md-offset-4">
    <div class="h3 form-editable" style="display: inline-block;">
      <span ng-if="!propertyType._isReadOnly && !configuration.isReadOnly"
            class="form-input-editable"
            editable-text="input.value"
            buttons="no"
            onbeforesave="inputCheck($data)"
            onaftersave="inputChanged()"
            e-typeahead="item for item in suggestion.get($viewValue)"
            typeahead-min-length="suggestion.minLength"
            blur="submit">
          {{input.value}}
          <em ng-if="input.value === null || input.value === undefined" class="text-muted">{{'GENERIC_FORM.UNDEFINED'
            | translate}}</em>
          <i class="fa fa-pencil-square-o"></i>
      </span>
      <span ng-if="propertyType._isReadOnly || configuration.isReadOnly">
          {{input.value}}
          <em ng-if="input.value === null || input.value === undefined" class="text-muted">{{'GENERIC_FORM.UNDEFINED_READ_ONLY'
            | translate}}</em>
      </span>
    </div>
  </div>
</div>
<div ng-if="!propertyType._isTitle && !validValues" ng-switch="propertyType._type">
  <div class="form-group" ng-class="{'has-error': !isInputValid && configuration.showErrors}"
       ng-switch-when="string">
    <label class="col-md-4 control-label" tooltip="{{labelName | translate}}"
           tooltip-trigger="{{{true: 'mouseenter', false: 'never'}[(labelName | translate).length > configuration.labelSize]}}">
      {{labelName | translate | truncate:configuration.labelSize}} </label>

    <div id="{{idPrefix + 'input'}}" class="form-editable"
         ng-class="{'col-md-5': isDeletable, 'col-md-8': !isDeletable}">
      <div ng-if="!propertyType._isReadOnly && !configuration.isReadOnly">
        <span ng-if="configuration.useXeditable && !propertyType._isPassword"
              class="form-input-editable"
              editable-text="input.value"
              buttons="no"
              onbeforesave="inputCheck($data)"
              onaftersave="inputChanged()"
              e-typeahead="item for item in suggestion.get($viewValue)"
              typeahead-min-length="suggestion.minLength"
              blur="submit">
            {{input.value | truncate:30}}
            <em ng-if="input.value === null || input.value === undefined" class="text-muted">{{'GENERIC_FORM.UNDEFINED'
              | translate}}</em>
            <i class="fa fa-pencil-square-o"></i>
        </span>
          <span ng-if="configuration.useXeditable && propertyType._isPassword"
                class="form-input-editable"
                editable-text="input.value"
                e-type="password"
                buttons="no"
                onbeforesave="inputCheck($data)"
                onaftersave="inputChanged()"
                e-typeahead="item for item in suggestion.get($viewValue)"
                typeahead-min-length="suggestion.minLength"
                blur="submit">
            {{input.value  | password:'*' | truncate:30}}
            <em ng-if="input.value === null || input.value === undefined" class="text-muted">{{'GENERIC_FORM.UNDEFINED'
              | translate}}</em>
            <i class="fa fa-pencil-square-o"></i>
        </span>
        <input ng-if="!configuration.useXeditable && !propertyType._isPassword"
               class="form-control"
               type="text"
               ng-model="input.newValue"
               ng-change="inputCheckForNonXeditable(input.newValue)"
               ng-blur="inputChangedForNonXeditable()"
               typeahead="item for item in suggestion.get($viewValue)">
                <span ng-if="input.error && !configuration.useXeditable"
                      class="help-inline text-danger">{{input.error}}</span>
          <input ng-if="!configuration.useXeditable && propertyType._isPassword"
                 class="form-control"
                 type="password"
                 ng-model="input.newValue"
                 ng-change="inputCheckForNonXeditable(input.newValue)"
                 ng-blur="inputChangedForNonXeditable()"
                 typeahead="item for item in suggestion.get($viewValue)">
          <span ng-if="input.error && !configuration.useXeditable"
                class="help-inline text-danger">{{input.error}}</span>
      </div>
      <div ng-if="propertyType._isReadOnly || configuration.isReadOnly">
                <span ng-if="propertyType._isReadOnly || configuration.isReadOnly">
                {{input.value | truncate:30}}
                    <em ng-if="input.value === null || input.value === undefined" class="text-muted">{{'GENERIC_FORM.UNDEFINED_READ_ONLY'
                      | translate}}</em>
                </span>
      </div>
    </div>
    <div class="col-md-3" ng-if="isDeletable && !configuration.isReadOnly">
      <button type="button" tooltip="{{ 'GENERIC_FORM.DELETE' | translate }}" class="btn btn-danger btn-sm"
              ng-click="deleteForm()">
        <i class="fa fa-trash-o"></i>
      </button>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': !isInputValid && configuration.showErrors}"
       ng-switch-when="text">
    <label class="col-md-4 control-label" tooltip="{{labelName | translate}}"
           tooltip-trigger="{{{true: 'mouseenter', false: 'never'}[(labelName | translate).length > configuration.labelSize]}}">
      {{labelName | translate | truncate:configuration.labelSize}} </label>

    <div id="{{idPrefix + 'input'}}" class="form-editable"
         ng-class="{'col-md-5': isDeletable, 'col-md-8': !isDeletable}">
      <div ng-if="!propertyType._isReadOnly && !configuration.isReadOnly">
        <span ng-if="configuration.useXeditable"
              class="form-input-editable"
              editable-textarea="input.value"
              buttons="no"
              onbeforesave="inputCheck($data)"
              onaftersave="inputChanged()"
              e-typeahead="item for item in suggestion.get($viewValue)"
              typeahead-min-length="suggestion.minLength"
              blur="submit">
            {{input.value | truncate:30}}
            <em ng-if="input.value === null || input.value === undefined" class="text-muted">{{'GENERIC_FORM.UNDEFINED'
              | translate}}</em>
            <i class="fa fa-pencil-square-o"></i>
        </span>
        <textarea ng-if="!configuration.useXeditable"
               class="form-control"
               type="text"
               ng-model="input.newValue"
               ng-change="inputCheckForNonXeditable(input.newValue)"
               ng-blur="inputChangedForNonXeditable()"
               typeahead="item for item in suggestion.get($viewValue)"></textarea>
                <span ng-if="input.error && !configuration.useXeditable"
                      class="help-inline text-danger">{{input.error}}</span>
      </div>
      <div ng-if="propertyType._isReadOnly || configuration.isReadOnly">
                <span ng-if="propertyType._isReadOnly || configuration.isReadOnly">
                {{input.value | truncate:30}}
                    <em ng-if="input.value === null || input.value === undefined" class="text-muted">{{'GENERIC_FORM.UNDEFINED_READ_ONLY'
                      | translate}}</em>
                </span>
      </div>
    </div>
    <div class="col-md-3" ng-if="isDeletable">
      <button type="button" tooltip="{{ 'GENERIC_FORM.DELETE' | translate }}" class="btn btn-danger btn-sm"
              ng-click="deleteForm()">
        <i class="fa fa-trash-o"></i>
      </button>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': !isInputValid && configuration.showErrors}"
       ng-switch-when="boolean">
    <label class="col-md-4 control-label" tooltip="{{labelName | translate}}"
           tooltip-trigger="{{{true: 'mouseenter', false: 'never'}[(labelName | translate).length > configuration.labelSize]}}">
      {{labelName | translate | truncate:configuration.labelSize}} </label>

    <div ng-class="{'col-md-5': isDeletable, 'col-md-8': !isDeletable}">
      <div ng-if="!propertyType._isReadOnly && !configuration.isReadOnly" class="btn-group" id="{{idPrefix + 'input'}}">
        <a id="{{idPrefix + 'true'}}"
           class="btn btn-default"
           ng-class="{'active': input.value === true}"
           ng-click="toggleBooleanValue(true)">
          {{'COMMON.YES' | translate}}
        </a>
        <a id="{{idPrefix + 'false'}}"
           class="btn btn-default"
           ng-class="{'active': input.value === false}"
           ng-click="toggleBooleanValue(false)">
          {{'COMMON.NO' | translate}}
        </a>
      </div>
      <div ng-if="propertyType._isReadOnly || configuration.isReadOnly">
        <span ng-if="input.value === true">
            {{'COMMON.YES' | translate}}
        </span>
        <span ng-if="input.value === false">
            {{'COMMON.NO' | translate}}
        </span>
        <span ng-if="input.value === undefined || input.value === null">
            {{'GENERIC_FORM.UNDEFINED_READ_ONLY' | translate}}
        </span>
      </div>
    </div>
    <div class="col-md-3" ng-if="isDeletable">
      <button type="button" tooltip="{{ 'GENERIC_FORM.DELETE' | translate }}" class="btn btn-danger btn-sm"
              ng-click="deleteForm()">
        <i class="fa fa-trash-o"></i>
      </button>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': !isInputValid && configuration.showErrors}" ng-switch-default>
    <label class="col-md-4 control-label" tooltip="{{labelName | translate}}"
           tooltip-trigger="{{{true: 'mouseenter', false: 'never'}[(labelName | translate).length > configuration.labelSize]}}">
      {{labelName | translate | truncate:configuration.labelSize}} <span ng-if="propertyType._unit">({{propertyType._unit}})</span>
    </label>

    <div id="{{idPrefix + 'input'}}" class="form-editable"
         ng-class="{'col-md-5': isDeletable, 'col-md-8': !isDeletable}">
      <div ng-if="!propertyType._isReadOnly && !configuration.isReadOnly">
        <span ng-if="configuration.useXeditable"
              class="form-input-editable"
              editable-number="input.value"
              buttons="no"
              onbeforesave="inputCheck($data)"
              onaftersave="inputChanged()"
              e-typeahead="item for item in suggestion.get($viewValue)"
              typeahead-min-length="suggestion.minLength"
              blur="submit"
              e-step="{{propertyType._step}}">
            {{input.value | number}} <span
            ng-if="propertyType._unit && input.value !== null && input.value !== undefined">{{propertyType._unit}}</span>
            <em ng-if="input.value === null || input.value === undefined" class="text-muted">{{'GENERIC_FORM.UNDEFINED'|translate}}
            </em>
            <i class="fa fa-pencil-square-o"></i>
        </span>
        <input ng-if="!configuration.useXeditable"
               class="form-control"
               type="number"
               ng-model="input.newValue"
               ng-change="inputCheckForNonXeditable(input.newValue)"
               ng-blur="inputChangedForNonXeditable()"
               typeahead="item for item in suggestion.get($viewValue)">
                <span ng-if="input.error && !configuration.useXeditable"
                      class="help-inline text-danger">{{input.error}}</span>
      </div>
      <div>
        <span ng-if="propertyType._isReadOnly || configuration.isReadOnly">
        {{input.value}} <span
            ng-if="propertyType._unit && input.value !== null && input.value !== undefined">{{propertyType._unit}}</span>
            <em ng-if="input.value === null || input.value === undefined" class="text-muted">{{'GENERIC_FORM.UNDEFINED_READ_ONLY'
              | translate}}</em>
        </span>
      </div>
    </div>
    <div class="col-md-3" ng-if="isDeletable">
      <button type="button" tooltip="{{ 'GENERIC_FORM.DELETE' | translate }}" class="btn btn-danger btn-sm"
              ng-click="deleteForm()">
        <i class="fa fa-trash-o"></i>
      </button>
    </div>
  </div>
</div>
<div ng-if="!propertyType._isTitle && validValues" class="form-group"
     ng-class="{'has-error': !isInputValid && configuration.showErrors}">
  <label class="col-md-4 control-label" tooltip="{{labelName | translate}}"
         tooltip-trigger="{{{true: 'mouseenter', false: 'never'}[(labelName | translate).length > configuration.labelSize]}}"> {{labelName
    | translate | truncate:configuration.labelSize}} </label>

  <div ng-class="{'col-md-5': isDeletable, 'col-md-8': !isDeletable}">
    <div ng-if="!propertyType._isReadOnly && !configuration.isReadOnly">
      <select class="form-control" ng-model="input.value" ng-change="inputChanged()" id="{{idPrefix + 'input'}}">
        <option value="" ng-selected="!inputValue">-- {{'GENERIC_FORM.UNDEFINED' | translate}} --</option>
        <option ng-repeat="value in validValues" value="{{value}}" ng-selected="value == input.value">{{value}}
        </option>
      </select>
    </div>
    <div class="form-editable" ng-if="propertyType._isReadOnly || configuration.isReadOnly" id="{{idPrefix + 'input'}}">
      <span>
      {{input.value | truncate:30}}
          <em ng-if="input.value === null || input.value === undefined" class="text-muted">{{'GENERIC_FORM.UNDEFINED_READ_ONLY'
            | translate}}</em>
      </span>
    </div>
  </div>
  <div class="col-md-3" ng-if="isDeletable">
    <button type="button" tooltip="{{ 'GENERIC_FORM.DELETE' | translate }}" class="btn btn-danger btn-sm"
            ng-click="deleteForm()">
      <i class="fa fa-trash-o"></i>
    </button>
  </div>
</div>
