<div class="row">
  <div class="form-tree-element">
    <i ng-click="isCollapsed = !isCollapsed"
       class="form-tree-expand fa"
       ng-class="{'fa-caret-down' : !isCollapsed, 'fa-caret-right': isCollapsed}"></i>
    <span id="{{idPrefix + 'label'}}"
          class="form-tree-label"
          ng-class="{'form-tree-label-active': isActivePath}"
          ng-click="goTo()">{{labelName | translate | truncate:20}}</span>
    <i class="fa fa-check text-success"
       ng-if="hasChildren()"></i>
  </div>
  <div uib-collapse="isCollapsed">
    <div class="form-tree-level {{treeContainerElementId}}"></div>
  </div>
</div>
