<div class="content-head-error">
  <span>{{'APPLICATIONS.TOPOLOGY.TASK.ARTIFACT.LABEL' | translate}}</span>
</div>
<div class="content-body">
  <table class="table table-condensed">
      <thead>
      <th>{{'APPLICATIONS.TOPOLOGY.TASK.ARTIFACT.NODE' | translate}}</th>
      <th>{{'APPLICATIONS.TOPOLOGY.TASK.ARTIFACT.LABEL' | translate}}</th>
      <th>{{'APPLICATIONS.TOPOLOGY.TASK.ARTIFACT.ERROR' | translate}}</th>
      </thead>
      <tbody>
      <tr ng-repeat="task in stepTasks">
          <td>
              <strong>{{task.nodeTemplateName}}</strong>
          </td>
          <td>
              <strong>{{task.artifactName}}</strong>
          </td>
          <td>{{'APPLICATIONS.TOPOLOGY.TASK.ARTIFACT.ERRORS.' + task.artifactTaskCode | translate}}</td>
      </tr>
      </tbody>
  </table>
</div>
