<div class="content-head-error">
  <span>{{'APPLICATIONS.TOPOLOGY.TASK.TOADD_RELATIONSHIP_LABEL' | translate}}</span>
</div>
<div class="content-body">
  <table class="table table-condensed">
    <thead>
      <th></th>
      <th>{{'APPLICATIONS.TOPOLOGY.REQUIREMENTS' | translate}}</th>
    </thead>
    <tbody>
      <tr ng-repeat=" task in stepTasks">
        <td>
          <span>{{task.nodeTemplateName}}</span>
          <span>({{task.component.elementId}})</span>
        </td>
        <td>
          <div class="row" ng-repeat=" req in task.requirementsToImplement">
            <div class="col-md-10">
              <span>{{req.name}}</span>
              <span>({{req.type}})</span>
            </div>
            <div class="col-md-2">
              <span>{{req.remainingBound}}</span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
