<div ng-if="tasks.length>0">
  <h4 class="clickable" ng-init="isToImplementNodesCollapsed = false"
       ng-click="isToImplementNodesCollapsed = !isToImplementNodesCollapsed">
    <i class="fa" ng-class="{'fa-caret-down' : !isToImplementNodesCollapsed, 'fa-caret-right': isToImplementNodesCollapsed}"></i>
    <span>{{'APPLICATIONS.TOPOLOGY.TASK.NODE_FILTER.NODE_FILTER_INVALID' | translate}} :</span>
  </h4>

  <div uib-collapse="isToImplementNodesCollapsed" class="topology-level">
    <div ng-repeat=" task in tasks">
      <span>{{task.nodeTemplateName}} :</span>

      <div ng-repeat=" nodeFilterToSatisfy in task.nodeFiltersToSatisfy">
        <span style="padding-left: 5px;">{{nodeFilterToSatisfy.relationshipName}} :</span>
        <!-- node_filters capabilities -->
        <table class="table table-condensed" ng-if="_.isNotEmpty(nodeFilterToSatisfy.missingCapabilities)">
          <thead>
            <th>{{ 'APPLICATIONS.TOPOLOGY.TASK.NODE_FILTER.CAPABILITY_NAME' | translate}}</th>
            <th>{{'APPLICATIONS.DEPLOYMENT.PROPERTIES.WARNING' | translate}}</th>
          </thead>
          <tbody>
            <tr ng-repeat="(missingCapabilityName, missingCapability) in nodeFilterToSatisfy.missingCapabilities">
              <td>
                <span>{{missingCapability}}</span>
              </td>
              <td>
                <span>{{ 'APPLICATIONS.TOPOLOGY.TASK.NODE_FILTER.CAPABILITY_MISSING_ERROR' | translate}}</span>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- node_filters properties -->
        <table class="table table-condensed" ng-if="_.isNotEmpty(nodeFilterToSatisfy.violations)">
          <thead>
            <th>{{ 'APPLICATIONS.TOPOLOGY.TASK.NODE_FILTER.PROPERTY_NAME' | translate}}</th>
            <th ng-if="inputColumn">{{ 'APPLICATIONS.TOPOLOGY.TASK.RELATED_INPUT' | translate }}</th>
            <th>{{'APPLICATIONS.DEPLOYMENT.PROPERTIES.WARNING' | translate}}</th>
          </thead>
          <tbody>
            <tr ng-repeat= "violation in nodeFilterToSatisfy.violations">
              <td>
                {{violation.propertyName}}
              </td>
              <td ng-if="inputColumn">
                  {{violation.relatedInput || '---' }}
              </td>
              <td>
                {{violation.violatedConstraints[0].message}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
