<div class="content-head-error">
  <span>{{'APPLICATIONS.TOPOLOGY.TASK.NODE_FILTER.NODE_FILTER_INVALID' | translate}} :</span>
</div>
<div class="content-body">
  <div ng-repeat=" task in stepTasks">
    <p><span style="font-weight: 500">{{'COMMON.NODE' | translate}} : </span> <span>{{task.nodeTemplateName}}</span></p>

    <div style="padding-left: 5px;" ng-repeat=" nodeFilterToSatisfy in task.nodeFiltersToSatisfy">
        <span style="font-weight: 500"> {{'APPLICATIONS.TOPOLOGY.TASK.RELATIONSHIP' | translate}}: </span><span>{{nodeFilterToSatisfy.relationshipName}}</span>
        <span style="font-weight: 500; margin-left: 2em"> {{'COMMON.TARGET' | translate}}: </span><span>{{nodeFilterToSatisfy.targetName}}</span>
      <!-- node_filters missing capabilities -->
      <table class="table table-condensed" ng-if="_.isNotEmpty(nodeFilterToSatisfy.missingCapabilities)">
        <thead>
          <th>{{ 'APPLICATIONS.TOPOLOGY.TASK.NODE_FILTER.CAPABILITY' | translate}}</th>
          <th>{{'COMMON.MESSAGE' | translate}}</th>
        </thead>
        <tbody>
          <tr ng-repeat="(missingCapabilityName, missingCapability) in nodeFilterToSatisfy.missingCapabilities">
            <td>
              <span>{{missingCapability}}</span>
            </td>
            <td>
              <span>{{ 'APPLICATIONS.TOPOLOGY.TASK.NODE_FILTER.CAPABILITY_MISSING_ERROR' | translate}}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- node_filters (capabilities) properties -->
      <table class="table table-condensed" ng-if="_.isNotEmpty(nodeFilterToSatisfy.violations)">
        <thead>
          <th>{{ 'APPLICATIONS.TOPOLOGY.TASK.NODE_FILTER.CAPABILITY' | translate}}</th>
          <th>{{ 'APPLICATIONS.TOPOLOGY.TASK.NODE_FILTER.PROPERTY' | translate}}</th>
          <th ng-if="inputColumn">{{ 'APPLICATIONS.TOPOLOGY.TASK.RELATED_INPUT' | translate }}</th>
          <th>{{'COMMON.MESSAGE' | translate}}</th>
        </thead>
        <tbody>
          <tr ng-repeat= "violation in nodeFilterToSatisfy.violations">
            <td>
              {{violation.capabilityName || '---'}}
            </td>
            <td>
              {{violation.propertyName}}
            </td>
            <td ng-if="inputColumn">
              {{violation.relatedInput || '---' }}
            </td>
            <td>
              {{violation.violatedConstraints[0].message}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
