<div ng-if="tasks.length>0">
  <h4 class="topology-node-expand clickable" ng-init="isToImplementNodesCollapsed = false"
       ng-click="isToImplementNodesCollapsed = !isToImplementNodesCollapsed">
    <i class="fa" ng-class="{'fa-chevron-down' : !isToImplementNodesCollapsed, 'fa-chevron-right': isToImplementNodesCollapsed}"></i>
    <span>{{'APPLICATIONS.TOPOLOGY.TASK.NODE_FILTER.NODE_FILTER_INVALID' | translate}} :</span>
  </h4>

  <div collapse="isToImplementNodesCollapsed" class="topology-level">
    <div ng-repeat=" task in tasks">
      <span>{{task.nodeTemplateName}} :</span>

      <div ng-repeat=" nodeFilterToSatisfy in task.nodeFiltersToSatisfy">
        <span style="padding-left: 5px;">{{nodeFilterToSatisfy.relationshipName}} :</span>
        <!-- node_filters capabilities -->
        <table class="table table-condensed" ng-if="nodeFilterToSatisfy.missingCapabilities">
          <thead>
            <th>{{ 'APPLICATIONS.TOPOLOGY.TASK.NODE_FILTER.CAPABILITY_NAME' | translate}}</th>
            <th>{{'APPLICATIONS.DEPLOYMENT.PROPERTIES.WARNING' | translate}}</th>
          </thead>
          <tbody>
            <tr ng-repeat="(missingCapabilityName, missingCapability) in nodeFilterToSatisfy.missingCapabilities">
              <td>
                <span>{{missingCapability}}</span>
              </td>
              <td>
                <span>{{ 'APPLICATIONS.TOPOLOGY.TASK.NODE_FILTER.CAPABILITY_MISSING_ERROR' | translate}}</span>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- node_filters properties -->
        <table class="table table-condensed" ng-if="nodeFilterToSatisfy.violatedConstraints">
          <thead>
            <th>{{ 'APPLICATIONS.TOPOLOGY.TASK.NODE_FILTER.PROPERTY_NAME' | translate}}</th>
            <th>{{'APPLICATIONS.DEPLOYMENT.PROPERTIES.WARNING' | translate}}</th>
          </thead>
          <tbody>
            <tr ng-repeat="(violatedConstraintName, violatedConstraint) in nodeFilterToSatisfy.violatedConstraints">
              <td>
                <span>{{violatedConstraintName}}</span>
              </td>
              <td>
                <span>{{violatedConstraint[0].message}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>