<div class="content-head-error">
  <span>{{'APPLICATIONS.TOPOLOGY.TASK.REQUIRED_PROPERTIES_LABEL' | translate}}</span>
</div>
<div class="content-body">
  <table class="table table-condensed">
    <thead>
      <th>NodeTemplateName</th>
      <th>{{'APPLICATIONS.DEPLOYMENT.PROPERTIES.REQUIRED' | translate}}</th>
    </thead>
    <tbody>
      <tr ng-repeat="task in stepTasks">
        <td>
          <strong>{{task.nodeTemplateName}}</strong>
          <span>({{task.component.elementId}})</span>
        </td>
        <td>
          <ul class="td_list liste-no-style">
            <li ng-repeat="property in task.properties['REQUIRED']">
              {{property}}
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
