<div ng-if="tasks.length>0" >
  <h4 class="clickable" ng-init="isRequiredPropertiesCollapsed = false" ng-click="isRequiredPropertiesCollapsed = !isRequiredPropertiesCollapsed">
    <i class="fa" ng-class="{'fa-caret-down' : !isRequiredPropertiesCollapsed , 'fa-caret-right': isRequiredPropertiesCollapsed }"></i>
    <span>{{'APPLICATIONS.TOPOLOGY.TASK.REQUIRED_PROPERTIES_LABEL' | translate}}</span>
  </h4>
  <div uib-collapse="isRequiredPropertiesCollapsed " class="topology-level ">
    <table class="table table-condensed">
      <thead>
        <th></th>
        <th>{{'APPLICATIONS.DEPLOYMENT.PROPERTIES.REQUIRED' | translate}}</th>
      </thead>
      <tbody>
        <tr ng-repeat="task in tasks">
          <td>
            <strong>{{task.nodeTemplateName}}</strong>
            <span>({{task.component.elementId}})</span>
          </td>
          <td>
            <ul class="td_list liste-no-style">
              <li ng-repeat="property in task.properties['REQUIRED']">
                {{property}}
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> <!--  End Required properties tasks  -->
