<div class="content-head-error">
  <span>{{'APPLICATIONS.TOPOLOGY.TASK.SCALABLE_CAPABILITY_INVALID.LABEL' | translate}}</span>
</div>
<div class="content-body">
  <table class="table table-condensed">
    <tbody>
      <tr ng-repeat="task in stepTasks">
        <td>
          <strong>{{task.nodeTemplateName}}</strong>
        </td>
        <td>
          <ul class="td_list liste-no-style">
            <li ng-repeat="property in task.properties['ERROR']">
              {{'APPLICATIONS.TOPOLOGY.TASK.SCALABLE_CAPABILITY_INVALID.ERRORS.' + property | translate }}
            </li>
            <li ng-repeat="property in task.properties['REQUIRED']">
              {{property}} {{'APPLICATIONS.TOPOLOGY.TASK.SCALABLE_CAPABILITY_INVALID.MISSING' | translate}}
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
