<div class="alert alert-danger" ng-if="orchestrator.state !== 'CONNECTED'">
  {{'ORCHESTRATORS.LOCATIONS.CONFIG_REQUIRES_CONNEXION' | translate}}
</div>
<div ng-if="orchestrator.state === 'CONNECTED'">
  <div ng-if="multipleLocations || (locationsDTOs && locationsDTOs.length === 0)" class="row">
    <div class="col-md-3">
      <button id="new-location-button" class="btn btn-success" ng-click="openNewModal()">
        <i class="fa fa-plus-circle"></i> {{'ORCHESTRATORS.LOCATIONS.NEW' | translate}}
      </button>
    </div>
    <div class="col-md-6">
      <select ng-if="locationsDTOs" ng-disabled="locationsDTOs.length < 1" class="form-control" ng-model="uiModel.locationDTO" ng-change="selectLocation(uiModel.locationDTO)" ng-options="loc.location.name for loc in locationsDTOs track by loc.location.id"></select>
    </div>
    <div class="col-md-3" ng-if="uiModel.locationDTO">
      <delete-confirm class="pull-right" id="delete-location-button" text="{{'ORCHESTRATORS.LOCATIONS.DELETE' | translate}}" func="deleteLocation(uiModel.locationDTO)" position="left" fastyle="fa-trash-o">
      </delete-confirm>
    </div>
  </div>
  <hr class="separator-h">
  <div ng-if="uiModel.locationDTO">
    <div class="row">
      <div class="col-md-4">
        <b>{{'COMMON.NAME' | translate}}:</b>
        <span editable-text="uiModel.locationDTO.location.name" buttons="no" e-required e-class="input-lg" onbeforesave="updateLocation({name: $data})" blur="submit">
          {{uiModel.locationDTO.location.name}} <i class="fa fa-edit"></i>
        </span>
      </div>
      <div class="col-md-4">
        <b>{{'ORCHESTRATORS.LOCATIONS.INFRA_TYPE' | translate}}:</b> {{uiModel.locationDTO.location.infrastructureType}}
      </div>
      <div class="col-md-4">
        <b>{{'ORCHESTRATORS.LOCATIONS.ENVIRONMENT_TYPE' | translate}}:</b>
        <select ng-model="uiModel.locationDTO.location.environmentType" ng-change="updateLocation({'environmentType': uiModel.locationDTO.location.environmentType})" ng-options="'CLOUDS.ENVIRONMENT.'+env | translate for env in envTypes"></select> <i class="fa" assass="{'fa-spinner fa-spin': saving, 'text-success fa-check': savedSuccess, 'text-danger fa-times': savedError}"></i>
      </div>

      <!-- tabs for location configuration states -->
      <div class="col-md-12 grp-margin" ng-include="'views/_ref/layout/tab_menu_layout.html'">
      </div>

    </div>
  </div>
</div>
