<form name="newOrchestratorForm" class="form-horizontal" role="form" ng-submit="save(plugins && newOrchestratorForm.$valid)" novalidate>
  <div class="modal-header">
    <h3>{{'ORCHESTRATORS.NEW' | translate}}</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" ng-if="!plugins">
      {{'ORCHESTRATORS.NO_PLUGIN' | translate}}
    </div>
    <div class="form-group" ng-class="{'has-error': newOrchestratorForm.name.$invalid}" ng-if="plugins">
      <label for="orchestrator_name_id" class="col-lg-3 control-label">
        {{'COMMON.NAME' | translate}}
      </label>
      <div class="col-lg-9">
        <input type="text" class="form-control" id="orchestrator_name_id" ng-model="newOrchestrator.name" name="name" required placeholder="{{'COMMON.NAME' | translate}}" autofocus>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': newOrchestratorForm.provider.$invalid}" ng-if="plugins">
      <label class="col-lg-3 control-label">
        {{'ORCHESTRATORS.PLUGIN' | translate}}
      </label>
      <div class="col-lg-9">
        <select class="form-control" name="plugin" required ng-model="newOrchestrator.plugin" ng-options="p.nameAndId for p in plugins">
          <option value="">{{'ORCHESTRATORS.PLUGIN_SELECT' | translate}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button id="modal-create-button" ng-disabled="newOrchestratorForm.$invalid" class="btn btn-primary">
      {{'CREATE' | translate}}
    </button>
    <button id="modal-cancel-button" class="btn btn-default" ng-click="cancel()">
      {{'CANCEL' | translate}}
    </button>
  </div>
</form>
