<ul class="vertical-navbar">
  <li ng-repeat="menuItem in menu" ui-sref-active="active" ng-if="menuItem.show">
    <a id="{{menuItem.id}}"
      ng-click="onItemClick($event, menuItem)"
      ui-sref="{{menuItem.state}}"
      uib-tooltip="{{menuItem.key | translate}}"
      tooltip-placement="right"
      tooltip-append-to-body="true"
      ng-class="{'disabled' : menuItem.disabled}">
      <i class="{{menuItem.icon}}" ng-show="menuItem.icon" ng-class="{'text-muted' : menuItem.disabled}"></i>
    </a>
  </li>
</ul>
<div class="horizontal-panel">
  <!-- Application title -->
  <div class="row">
    <div class="col-md-12 pull-left">
      <i class="fa fa-magic"></i> {{context.orchestrator.name}}
      <i class="fa fa-puzzle-piece" style="margin-left: 20px;"></i> {{context.orchestrator.pluginId}}
    </div>
  </div>
</div>
<div class="vertical-panel-shift" ui-view></div>
