<div>
<!--   <h1>Deployments</h1> -->
<!--   TODO list: -->
<!--   <ul> -->
<!--     <li>View/Search the deployments of the orchestrator</li> -->
<!--     <li>Allow filtering (per application/locations etc.)</li> -->
<!--     <li>Display status of the deployments</li> -->
<!--     <li>Allow redirecting to the application deployment runtime view to see the actual events /status for the deployment</li> -->
<!--   </ul> -->
  
  <div class=col-md-12 id="deployments-div">
      <div class="table-responsive large-data-container">
        <table class="table"  >
          <thead>
            <tr>
              <th>{{'CLOUDS.DEPLOYMENT_SOURCE' | translate}}</th>
              <th>{{'CLOUDS.DEPLOYMENT_TYPE' | translate}}</th>
              <th>{{'ORCHESTRATORS.NAV.LOCATIONS' | translate}}</th>
              <th>{{'START_DATE' | translate}}</th>
              <th>{{'END_DATE' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="deploymentDTO in deployments" name="app_{{deploymentDTO.source.name}}">
              <td>
                {{deploymentDTO.source.name}}
              </td>
              <td>
                {{deploymentDTO.deployment.sourceType | translate}}
              </td>
              <td>
                <span ng-if="deploymentDTO.deployment.locationIds" ng-repeat="locationId in deploymentDTO.deployment.locationIds"> {{deploymentDTO.locations[locationId].name}}</span>
                <span ng-if="!deploymentDTO.deployment.locationIds">---</span>
              </td>
              <td>
                {{deploymentDTO.deployment.startDate | date:'medium'}}
              </td>
              <td>
                {{deploymentDTO.deployment.endDate | date:'medium' || '---'}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  
</div>
