<div class="row" style="margin-top: 10px">
  <div class="col-md-12">
    <span>Resources types: </span>
    <select ng-model="selectedConfigurationResourceType"
            ng-options="type.elementId for type in context.configurationTypes">
    </select>
    <button ng-class="{'active': applyFilter}" ng-click="applyFilter = !applyFilter" class="btn btn-default btn-sm"><i class="fa fa-filter"></i> Filter</button>
    <button class="btn btn-primary btn-sm" ng-click="addResourceTemplate()"><i class="fa fa-plus"></i> Add</button>
  </div>
</div>
<div class="row" style="margin-top: 10px">
  <div class="col-md-6">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="template in context.locationResources.configurationTemplates"
            ng-click="selectTemplate(template)"
            class="clickable"
            ng-class="{'warning': selectedConfigurationResourceTemplate == template}"
            ng-if="!applyFilter || template.template.type == selectedConfigurationResourceType.elementId">
          <td>{{template.name}}</td>
          <td>{{template.template.type}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6" ng-if="selectedConfigurationResourceTemplate">
    <div class="well">
      <orchestrator-resource-template resource-template="selectedConfigurationResourceTemplate"
                                      resource-type="context.locationResources.configurationTypes[selectedConfigurationResourceTemplate.template.type]"
                                      context="context"
                                      on-save="saveResourceTemplate(resourceTemplate)"
                                      on-delete="deleteResourceTemplate(resourceTemplate)">
      </orchestrator-resource-template>
    </div>
  </div>
</div>