<div style="padding-bottom: 50px;">
  <a id="orchestrator-configuration-unlock-btn"
    class="pull-right btn btn-primary"
    ng-class="{'disabled' : disableUnlock()}"
    confirm="{{'ORCHESTRATORS.CONFIGURATION.UNLOCK-BTN-CONTENT' | translate}}"
    confirm-title="{{'ORCHESTRATORS.CONFIGURATION.UNLOCK-BTN-TITLE' | translate }}"
    confirm-handler="toggleLock()"
    confirm-placement="left"
    ng-click="$event.stopPropagation();"
    confirm-class="popover">
    <i class="fa fa-lock"></i> {{'ORCHESTRATORS.CONFIGURATION.UNLOCK-BTN-TITLE' | translate }}
  </a>
</div>

<!-- GLOBAL CONFIG -->
<div class="form-horizontal" role="form" style="margin-bottom:20px">
  <div class="panel panel-default form-panel">
    <div class="panel-heading">
      <h4 class="ng-binding" style="display: inline;">{{'CLOUDS.ADMINISTRATION.GLOBAL.TITLE' | translate}}</h4>
    </div>
    <div class="panel-body">
      <div class="">
        <label class="ng-scope ng-binding" uib-tooltip="{{'CLOUDS.ADMINISTRATION.GLOBAL.DEPLOYMENT_NAME' | translate}}" tooltip-trigger="mouseenter">
          {{'CLOUDS.ADMINISTRATION.GLOBAL.DEPLOYMENT_NAME' | translate}}
        </label>
        <simple-modal class="pull-right" title="{{ 'CLOUDS.ADMINISTRATION.HELP.TITLE' | translate}}" content="{{ 'CLOUDS.ADMINISTRATION.HELP.CONTENT' | translate}}" primary="true"> </simple-modal>
      </div>
      <div
        ng-if="orchestrator.state === 'CONNECTED' && lock"
        id="deploymentNamePattern">
        {{orchestrator.deploymentNamePattern}}
      </div>
      <div
        ng-if="orchestrator.state !== 'CONNECTED' || !lock"
        editable-text="orchestrator.deploymentNamePattern" id="deploymentNamePattern" buttons="no" e-style="width:90%;" e-required e-class="input-sm;" onBeforesave="updateDeploymentNamePattern($data)" blur="submit">
        {{orchestrator.deploymentNamePattern}} <i class="fa fa-edit"></i>
      </div>
    </div>
  </div>
</div>

<!-- DRIVER CONFIG  -->
<div>
  <div ng-if="orchestrator.state !== 'CONNECTED' || !lock">
    <div ng-if="configuration && configurationDefinition">
      <generic-form root-object="configuration"
        form-title="{{'CLOUDS.ADMINISTRATION.DRIVER.TITLE' | translate}}"
        type="configurationDefinition"
        form-style="window"
        suggest="suggest(searchConfiguration, text)"
        save="saveConfiguration(object)"
        automatic-save="lock"
        is-read-only="false">
      </generic-form>
    </div>
  </div>

  <div ng-if="orchestrator.state === 'CONNECTED' && lock">
    <div ng-if="configuration && configurationDefinition">
      <generic-form root-object="configuration"
        form-title="{{'CLOUDS.ADMINISTRATION.DRIVER.TITLE' | translate}}"
        type="configurationDefinition"
        form-style="window"
        is-read-only="true">
      </generic-form>
    </div>
  </div>
</div>
