<div class="row">
  <div class="col-md-12">
    <span>Resources types: </span>
    <select ng-model="selectedConfigurationResource"
            ng-options="type.elementId for type in context.configurationTypes">
    </select>
    <button class="btn btn-default btn-sm">Filter</button>
    <button class="btn btn-primary btn-sm">Add</button>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="template in context.locationResources.configurationTemplates" ng-click="openTemplate(template)" class="clickable">
          <td>{{template.name}}</td>
          <td>{{template.type}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h4>Edit template goes here</h4>
  </div>
</div>