<div ng-if="orchestrator.state !== 'CONNECTED' || !lock">
  <div ng-if="configuration && configurationDefinition">
    <generic-form root-object="configuration"
      form-title="{{'CLOUDS.ADMINISTRATION.DRIVER.TITLE' | translate}}"
      type="configurationDefinition"
      form-style="window"
      suggest="suggest(searchConfiguration, text)"
      save="saveConfiguration(object)"
      automatic-save="lock"
      is-read-only="false">
    </generic-form>
  </div>
</div>
<div ng-if="orchestrator.state === 'CONNECTED' && lock">
  <div style="padding-bottom: 50px;">
    <a id="orchestrator-configuration-unlock-btn"
      class="pull-right btn btn-primary ng-binding ng-scope"
      ng-click="$event.stopPropagation();"
      confirm="{{'ORCHESTRATORS.CONFIGURATION.UNLOCK-BTN-CONTENT' | translate}}"
      confirm-title="{{'ORCHESTRATORS.CONFIGURATION.UNLOCK-BTN-TITLE' | translate }}"
      confirm-placement="left"
      confirm-handler="toggleLock()">
      <i class="fa fa-lock"></i> {{'ORCHESTRATORS.CONFIGURATION.UNLOCK-BTN-TITLE' | translate }}
    </a>
  </div>
  <div ng-if="configuration && configurationDefinition">
    <generic-form root-object="configuration"
      form-title="{{'CLOUDS.ADMINISTRATION.DRIVER.TITLE' | translate}}"
      type="configurationDefinition"
      form-style="window"
      suggest="suggest(searchConfiguration, text)"
      save="saveConfiguration(object)"
      automatic-save="true"
      is-read-only="true">
    </generic-form>
  </div>
</div>
