<div class="row">
  <div class="col-sm-2">
    <i class="fa fa-2x ng-scope" ng-class="{
      'fa-circle text-success' : context.orchestrator.state == 'CONNECTED',
      'fa-circle text-muted' : context.orchestrator.state == 'DISABLED',
      'fa-question-circle text-danger' : context.orchestrator.state == 'DISCONNECTED',
      'fa-spinner fa-spin' : context.orchestrator.state == 'CONNECTING'
    }"></i>
    {{'ORCHESTRATORS.STATES.' + context.orchestrator.state | translate }}
  </div>
  <div class="col-sm-8">
    <div class="h2" style="margin: 0px" id="orchestrator-name">
      <span editable-text="context.orchestrator.name" buttons="no" e-required e-class="input-lg" onbeforesave="updateOrchestrator($data)" blur="submit">
        {{context.orchestrator.name}} <i class="fa fa-edit"></i>
      </span>
    </div>
  </div>
  <div class="col-sm-2">
    <delete-confirm id="btn-delete-app" func="removeOrchestrator()" position="left" fastyle="fa-trash-o" text="{{'DELETE' | translate}}"></delete-confirm>
  </div>
</div>
<div class="row" ng-if="orchestratorProperties">
  <div class="col-md-12">
    <hr class="separator-h">
    <meta-properties-display
    properties="orchestratorProperties"
    ng-if="orchestratorProperties"
    orchestrator="context.orchestrator"
    collapsable="false">
  </meta-properties-display>
</div>
</div>
<hr class="separator-h">
<div class="row">
  TODO list:
  <ul>
    <li>Display an icon of the orchestrator if the IOrchestrator plugin provides one.</li>
    <li>Add an help icon for meta-properties that display the documentation.</li>
  </ul>
</div>
