<div>
  <div class="row" style="margin-bottom: 10px;">
    <div class="col-md-9">
      <button id="new-orchestrator" class="btn btn-success" ng-click="openNewModal()">
        <i class="fa fa-plus-circle"></i> {{'ORCHESTRATORS.NEW' | translate}}
      </button>
    </div>
    <div class="col-md-3 pull-right">
      <form role="search" ng-submit="searchService.search()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="..." ng-model="query"> <span class="input-group-btn">
            <button type="submit" class="btn btn-default" data-loading-text="Loading...">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="large-data-container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>{{ 'COMMON.STATE' | translate}}</th>
              <th>{{ 'COMMON.NAME' | translate}}</th>
              <th>{{ 'ORCHESTRATORS.PLUGIN' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="orchestrator in orchestrators" id='orchestrator_{{orchestrator.id}}' class="clickable" ng-click="openOrchestrator(orchestrator.id)">
              <td>
                <i class="fa fa-2x ng-scope" uib-tooltip="{{'ORCHESTRATORS.STATES.' + orchestrator.state | translate}}" ng-class="{
                  'fa-circle text-success' : orchestrator.state == 'CONNECTED',
                  'fa-circle text-muted' : orchestrator.state == 'DISABLED',
                  'fa-question-circle text-danger' : orchestrator.state == 'DISCONNECTED',
                  'fa-spinner fa-spin' : orchestrator.state == 'CONNECTING'
                }"></i>
              </td>
              <td>{{orchestrator.name  || '---' }}</td>
              <td>{{orchestrator.pluginId || '---' }}</td>
            </tr>
          </tbody>
        </table>
        <empty-place-holder
          data="orchestrators">
        </empty-place-holder>
        <pagination-directive pagination-info="searchService.pagination"/>
      </div>
    </div>
  </div>
</div>
