<div>
  <div class="row">
    <div class="col-md-3 resource-user-roles" ng-repeat="orchestratorRole in orchestratorRoles">
      <div class="thumbnail">
        <h5>{{orchestratorRole}}</h5>
        <ul class="td_list liste-no-style">
          <!-- <li ng-repeat="username in orchestrator.authorizedUsers | orderBy:'username.toString()' " ng-show="userorchestratorRoles.indexOf(orchestratorRole) >=0"> -->
          <li ng-repeat="username in orchestrator.authorizedUsers | orderBy:'username.toString()' ">
            <i class="fa fa-user"></i>
            <span>{{ relatedUsers[username].firstName }}</span>
            <span>{{ relatedUsers[username].lastName}}</span>
            <span>({{username}})</span>
          </li>
          <li ng-repeat="groupId in orchestrator.authorizedGroups | orderBy:'relatedGroups[groupId].name' ">
            <i class="fa fa-users"></i>
            <span>{{ relatedGroups[groupId].name }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- SubTabs : USERS / GROUPS -->
  <div class="row" id="app-user-role">
    <div class="col-md-12">
      <hr class="separator-h">
    </div>
    <div class="col-md-12">
      <uib-tabset>
        <uib-tab heading="{{'ROLE_TABS.USERS' | translate}}" id="users-tab">
          <alien-search-user
            crud-support="false"
            managed-app-role-list="orchestratorRoles"
            managed-env-role-list="null"
            check-app-role-selected-callback="checkOrchestratorRoleSelectedForUser(user)"
            on-select-app-role-callback="handleRoleSelectionForUser(user, role)">
          </alien-search-user>
        </uib-tab>
        <uib-tab heading="{{'COMMON.GROUPS' | translate}}" id="groups-tab">
          <alien-search-group
            crud-support="false"
            managed-app-role-list="orchestratorRoles"
            managed-env-role-list="null"
            check-app-role-selected-callback="checkOrchestratorRoleSelectedForGroup(group)"
            on-select-app-role-callback="handleRoleSelectionForGroup(group, role)">
          </alien-search-group>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>
