<div>
  <div class="row" id="app-user-role">
    <div class="col-md-12">
      <uib-tabset>
        <uib-tab heading="{{'ROLE_TABS.USERS' | translate}}" id="users-tab">
          <alien-user-authorization
            crud-support="false"
            managed-app-role-list="locationRoles"
            managed-env-role-list="null"
            not-editable-role-list="orchestrator.authorizedUsers"
            check-app-role-selected-callback="checklocationRoleSelectedForUser(user, role)"
            on-select-app-role-callback="handleRoleSelectionForUser(user, role)">
          </alien-user-authorization>
        </uib-tab>
        <uib-tab heading="{{'COMMON.GROUPS' | translate}}" id="groups-tab">
          <alien-search-group
            crud-support="false"
            managed-app-role-list="locationRoles"
            managed-env-role-list="null"
            not-editable-role-list="orchestrator.authorizedGroups"
            check-app-role-selected-callback="checklocationRoleSelectedForGroup(group, role)"
            on-select-app-role-callback="handleRoleSelectionForGroup(group, role)">
          </alien-search-group>
        </uib-tab>
        <uib-tab heading="{{'NAVBAR.MENU_APPS' | translate}}" id="applications-tab">
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>
