<div
    ng-if="_.undefined(uiModel, 'locationDTO.secretProviderConfigurations.genericFormByPluginName') || _.size(uiModel.locationDTO.secretProviderConfigurations.genericFormByPluginName) <= 0">
  <p>{{ 'ORCHESTRATORS.LOCATIONS.SECRETS.NO_SECRET_PLUGIN' | translate }}</p>
</div>

<div
    ng-if="_.defined(uiModel, 'locationDTO.secretProviderConfigurations.genericFormByPluginName') && _.size(uiModel.locationDTO.secretProviderConfigurations.genericFormByPluginName) > 0">
  <select name="secret_plugins" id="secret_plugins" ng-model="currentPluginConfiguration.pluginName">
    <option
        ng-repeat="(pluginName,genericFormDescription) in uiModel.locationDTO.secretProviderConfigurations.genericFormByPluginName"
        value="{{pluginName}}" ng-selected="currentPluginConfiguration.pluginName === pluginName">{{pluginName}}
    </option>
  </select>
</div>

<br/>
<br/>

<div ng-if="_.defined(currentPluginConfiguration.pluginName)">
  <generic-form
      type="uiModel.locationDTO.secretProviderConfigurations.genericFormByPluginName[currentPluginConfiguration.pluginName]"
      form-title="{{currentPluginConfiguration.pluginName}}"
      root-object="currentPluginConfiguration.configuration"
      save="saveConfiguration()"
      remove="deleteConfiguration()"
      form-style="light"
      is-removable="true"
      is-read-only="false">
  </generic-form>
</div>
