<button ng-click="autoConfigureResources()" class="btn btn-primary btn-sm"><i class="fa fa-refresh" ng-class="{'disabled fa-spin': autoConfiguring }"></i> {{'ORCHESTRATORS.LOCATIONS.AUTO_CONFIG' | translate}}</button>

<div class="btn-sm btn-group" uib-dropdown>
  <button ng-disabled="_.isEmpty(context.selectedResourceTemplates)" id="multi-authorization" type="button" class="btn btn-default" uib-dropdown-toggle>
    Authorizations <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
    <li role="menuitem"><a ng-click="openUsersdModal('grant')">Authorize users</a></li>
    <li role="menuitem"><a ng-click="openUsersdModal('revoke')">Revoke users</a></li>
    <li class="divider"></li>
    <li role="menuitem"><a ng-click="openGroupsdModal('grant')">Authorize groups</a></li>
    <li role="menuitem"><a ng-click="openGroupsdModal('revoke')">Revoke groups</a></li>
    <li class="divider"></li>
    <li role="menuitem"><a href="#">Authorize applications / environments</a></li>
    <li role="menuitem"><a href="#">Revoke applications / environments</a></li>
  </ul>
</div>

<orchestrator-location-resources
  resources-types="context.nodeTypes"
  resources-types-map="context.locationResources.nodeTypes"
  resources-templates="context.locationResources.nodeTemplates"
  context="context",
  show-catalog="true">
</orchestrator-location-resources>
