<div ng-controller="OrchestratorLocationResourcesTemplateCtrl">
  <div class="row" style="margin-top: 10px">
    <div class="col-md-12">
      <span>{{'ORCHESTRATORS.LOCATIONS.RESOURCES.TYPE' | translate}} </span>
      <select ng-model="selectedConfigurationResourceType"
              ng-options="type.elementId for type in resourcesTypes">
      </select>
      <button ng-class="{'active': applyFilter}" ng-click="applyFilter = !applyFilter" class="btn btn-default btn-sm"><i class="fa fa-filter"></i> {{'COMMON.FILTER' | translate}}
      </button>
      <button class="btn btn-primary btn-sm" ng-click="addResourceTemplate()"><i class="fa fa-plus"></i> {{'COMMON.ADD' | translate}}</button>
    </div>
  </div>
  <div class="row" style="margin-top: 10px">
    <div class="col-md-6">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>{{'COMMON.NAME' | translate}}</th>
            <th>{{'COMMON.TYPE' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="template in resourcesTemplates | orderBy:'name'"
              ng-click="selectTemplate(template)"
              class="clickable"
              ng-class="{'warning': selectedResourceTemplate == template}"
              ng-if="!applyFilter || template.template.type == selectedConfigurationResourceType.elementId">
            <td ng-init="nodeIcon = getIcon(template)">
              <i ng-if="!nodeIcon" class="fa fa-cogs fa-3x"></i>
              <img ng-if="nodeIcon" ng-src="img?id={{nodeIcon}}&quality=QUALITY_32">
            </td>
            <td>{{template.name}}</td>
            <td>{{template.template.type}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6" ng-if="selectedResourceTemplate">
      <div class="well">
        <orchestrator-location-resource-template resource-template="selectedResourceTemplate"
                                                 resource-type="resourcesTypesMap[selectedResourceTemplate.template.type]"
                                                 resource-capability-types="context.locationResources.capabilityTypes"
                                                 dependencies="context.location.dependencies"
                                                 is-editable="true"
                                                 is-property-editable="isPropertyEditable()"
                                                 on-delete="deleteResourceTemplate(resourceTemplate)"
                                                 on-update="updateLocationResource(propertyName, propertyValue)"
                                                 on-property-update="updateResourceProperty(propertyName, propertyValue)"
                                                 on-capability-property-update="updateResourceCapabilityProperty(capabilityName, propertyName, propertyValue)"
                                                 on-portability-property-update="updatePortabilityProperty(propertyName, propertyValue)">
        </orchestrator-location-resource-template>
      </div>
    </div>
  </div>
</div>
