<div>
  <div class="row" id="app-user-role">
    <div class="col-md-12">
      <uib-tabset>
        <uib-tab heading="{{'ROLE_TABS.USERS' | translate}}" id="users-tab">
          <alien-user-authorization
            orchestrator="orchestrator"
            location="context.location">
          </alien-user-authorization>
        </uib-tab>
        <uib-tab heading="{{'COMMON.GROUPS' | translate}}" id="groups-tab">
        </uib-tab>
        <uib-tab heading="{{'NAVBAR.MENU_APPS' | translate}}" id="applications-tab">
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>
