<div class="search-row">
  <h2>
    {{ 'AUDIT.LOG' | translate }}
    <a id="configureAuditButton" type="button" uib-tooltip="{{'AUDIT.CONFIGURATION.LABEL' | translate}}" class="btn btn-default btn-xs" href="" ng-click="goToAuditConfiguration()">
      <i class="fa fa-wrench"></i>
    </a>
  </h2>

  <div class="row">
    <div id="audit-search-side-panel" class="search-columns search-filter-side">
      <!-- Search result column -->
      <div class="well">
        <div style="margin-bottom: 10px;">
          <form role="search" ng-submit="doSearch()">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="..."
                ng-model="searchedKeyword"> <span class="input-group-btn">
                <button type="submit" class="btn btn-default"
                  data-loading-text="Loading..." id="btn-search-component">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
        <!-- Displaying facets -->
        <div>
          <facets facet-filters="facetFilters"
                  facets="facets"
                  do-search="doSearch()">
          </facets>
        </div>
        <!-- END : Displaying active filters -->
      </div>
    </div>

    <div class="search-columns" id="audit-search-result-panel">
      <table ng-table="auditTableParam" show-filter="true" template-pagination="custom/pager" class="table">

        <thead>
          <tr>
            <td colspan="{{columns.length}}" class="bg-info">

              <div class="form-horizontal">
                <div class="form-group">
                  <div class="col-sm-12  center-block">

                      <label class="checkbox-inline" ng-repeat="column in columns">
                        <input type="checkbox" ng-model="column.visible" /> {{'AUDIT.COLUMNS.'+(column.field | uppercase) | translate}}
                      </label>

                  </div>
                </div>
              </div>

            </td>
          </tr>

          <tr>
            <th ng-repeat="column in columns" show-filter="true" ng-show="column.visible" class="text-center sortable" ng-class="{
                      'sort-asc': auditTableParam.isSortBy(column.field, 'asc'),
                      'sort-desc': auditTableParam.isSortBy(column.field, 'desc')
                    }" ng-click="auditTableParam.sorting(column.field, auditTableParam.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
              {{'AUDIT.COLUMNS.'+(column.field | uppercase) | translate}}
            </th>
          </tr>
        </thead>

        <tr ng-repeat="trace in $data">
          <td class="text-center" ng-repeat="column in columns" ng-show="column.visible" sortable="column.field">
            {{trace[column.field]}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!-- custom pager -->
<script type="text/ng-template" id="custom/pager">
  <ul class="pager ng-cloak">
    <li ng-repeat="page in pages" ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}" ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
      <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
      <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
    </li>
    <li>
      <div class="btn-group">
        <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
        <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
        <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
      </div>
    </li>
  </ul>
</script>
