<div>
  <div class="row" style="margin-bottom: 10px;">
    <!--  Create button -->
    <div class="col-md-9" ng-if="isManager">
      <button class="btn btn-success" id="app-env-new-btn" ng-click="openNewAppVersion()">
        <i class="fa fa fa-plus-circle"></i> {{'APPLICATIONS.VERSION.NEW' | translate}}
      </button>
    </div>

    <!--  Version search -->
    <div class="col-md-3 pull-right">
      <form role="search" ng-submit="search()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="..." ng-model="query">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default" data-loading-text="Loading...">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <div class="table-responsive large-data-container" id="users-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>{{'APPLICATIONS.VERSION.VERSION' | translate}}</th>
              <th>{{'APPLICATIONS.VERSION.DESCRIPTION' | translate}}</th>
              <th>{{'APPLICATIONS.VERSION.ID' | translate}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="version in searchAppVersionResult" id="{{version.id}}">
              <td>{{version.version}}</td>
              <td>{{version.description}}</td>
              <td>{{version.id}}</td>
              <td ng-if="isManager">
                <!-- Remove an VERSION -->
                <delete-confirm class="pull-right" id='delete-env_{{version.version}}' func="delete(version.id)" position="left" bssize="btn-sm" fastyle="fa-trash-o">
                </delete-confirm>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-directive pagination-info="searchService.pagination" />
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="newApplicationVERSION.html">

    <form name="newApplicationVERSION" class="form-horizontal" role="form" ng-submit="create(newApplicationVERSION.$valid,selectedCloud.id,selectedEnvType,selectedVersion.id)" novalidate>
      <div class="modal-header">
        <h3>{{'APPLICATIONS.VERSION.NEW' | translate}}</h3>
      </div>
      <div class="modal-body">
        <div class="form-group" ng-class="{'has-error': newApplicationVERSION.name.$invalid}">
          <label for="nameid" class="col-lg-3 control-label">{{'APPLICATIONS.VERSION.FORM.NAME' | translate}}</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="nameid" ng-model="VERSION.name" name="name" required="" placeholder="{{'APPLICATIONS.VERSION.FORM.NAME' | translate}}">
          </div>
        </div>
        <div class="form-group">
          <label for="descid" class="col-lg-3 control-label">{{'APPLICATIONS.VERSION.FORM.DESCRIPTION' | translate}}</label>
          <div class="col-lg-9">
            <textarea class="form-control" id="descid" rows="3" ng-model="VERSION.description" placeholder="{{'APPLICATIONS.VERSION.FORM.DESCRIPTION' | translate}}"></textarea>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': newApplicationVERSION.clouds.$invalid}">
          <label for="cloudid" class="col-lg-3 control-label">{{'APPLICATIONS.VERSION.FORM.CLOUD' | translate}}</label>
          <div class="col-lg-9">
            <select name="clouds" required="" class="form-control" id="cloudid" ng-model="selectedCloud" ng-options="c.name for c in clouds">
              <option value="">{{'APPLICATIONS.VERSION.FORM.CLOUD_SELECT' | translate}}</option>
            </select>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': newApplicationVERSION.envtypes.$invalid}">
          <label for="envtypelistid" class="col-lg-3 control-label">{{'APPLICATIONS.VERSION.FORM.ENV_TYPE' | translate}}</label>
          <div class="col-lg-9">
            <select name="envtypes" required="" class="form-control" id="envtypelistid" ng-model="selectedEnvType" ng-options="e for e in envTypeList.data">
              <option value="">{{'APPLICATIONS.VERSION.FORM.ENV_TYPE_SELECT' | translate}}</option>
            </select>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': newApplicationVERSION.applicationVersions.$invalid}">
          <label for="envtypelistid" class="col-lg-3 control-label">
            {{'APPLICATIONS.VERSION.FORM.ENV_VERSION' | translate}}
          </label>
          <div class="col-lg-9">
            <select name="applicationVersions" required="" class="form-control" id="versionslistid" ng-model="selectedVersion" ng-options="v.version for v in versions">
              <option value="">{{'APPLICATIONS.VERSION.FORM.ENV_VERSION_SELECT' | translate}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn-create" ng-disabled="newApplicationVERSION.$invalid" class="btn btn-primary">{{'CREATE' | translate}}</button>
        <button id="btn-cancel" class="btn btn-default" ng-click="cancel()">{{'CANCEL' | translate}}</button>
      </div>
    </form>
  </script>

</div>
