<ul class="vertical-navbar">
  <li ng-repeat="menuItem in menu" ui-sref-active="active" ng-if="menuItem.show">
    <a id="{{menuItem.id}}" ng-click="onItemClick($event, menuItem)" ui-sref="{{menuItem.state}}" tooltip="{{menuItem.key | translate}}" tooltip-placement="right" tooltip-append-to-body="true" ng-class="{'disabled' : menuItem.disabled}">
      <i class="{{menuItem.icon}}" ng-show="menuItem.icon" ng-class="{'text-muted' : menuItem.disabled}"></i>
    </a>
  </li>
</ul>
<div class="horizontal-panel">

  <!-- Application title + Environment select -->
  <div class="row">
    <div class="col-md-6 pull-left">
      {{application.name}}
    </div>
    <div class="col-md-6 pull-right">

      <i class="fa fa-share-alt-square fa-lg"></i>

      <div class="btn-group btn-group-xs">

        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="environment_{{selectedEnvironment.name}}">
          {{selectedEnvironment.name}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li ng-repeat="env in envs" ng-class="{'option-selected' : env.id == selectedEnvironment.id}">
            <a id="environment_{{env.name}}" ng-click="changeEnvironment(env)">
              <i class="fa fa-angle-right" ng-if="env.id == selectedEnvironment.id"></i> {{env.name}}
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>

</div>

<div class="vertical-panel-shift" ui-view></div>
