<div>
  <div id="upload-csar" class="row" ng-if="isComponentManager">
    <upload-directive
      target-url="'rest/v1/csars'"
      drag-and-drop-message="'COMPONENTS.DRAG_DROP_UPLOAD'"
      button-message="'COMPONENTS.UPLOAD'"
      upload-success-callback="uploadSuccessCallback(data)" />
  </div>
  <div class="row">
    <alien-search-node-type
      refresh="refresh"
      display-detail-pannel="true"
      on-select-item="openComponent(item)"
      global-context="true"
      height-info="heightInfo"
      width-info="widthInfo"
      default-filters="defaultFilters"
      badges = "badges"/>
  </div>
</div>
