<div>
  <!-- CSAR search form -->
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-3" id="search-container">
      <facet-search-panel search-url="rest/latest/csars/search"
                          page-size="10"
                          max-page-count="10"
                          filter-prefix="COMPONENTS.CSAR."
                          on-search="onSearch(searchConfig)"
                          static-facets="staticFacets">
      </facet-search-panel>
    </div>

    <!-- CSAR search result display -->
    <div class="col-md-9" id = "result-container">
      <div class="table-responsive large-data-container" id="csars-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>{{ 'COMMON.NAME' | translate}}</th>
              <th>{{ 'COMMON.VERSION' | translate}}</th>
              <th>{{ 'COMMON.DESCRIPTION' | translate}}</th>
              <th>{{ 'COMMON.SOURCE' | translate}}</th>
              <th>{{ 'UPDATE_DATE' | translate}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="csar in searchConfig.result.data" ng-click="openCsar(csar.id)" id="csar_{{csar.id}}" name="csar_{{csar.id}}" class="clickable">
              <td>
                <i class="pull-left media-object fa fa-archive fa-2x"></i>
              </td>
              <td>{{csar.name}}</td>
              <td>{{csar.version}}</td>
              <td>{{csar.description || '---' }}</td>
              <td>{{csar.importSource || '---' }}</td>
              <td>{{(csar.importDate | date:'medium') || '---' }}</td>
              <td>
                <delete-confirm
                  ng-if="!csar.substitutionTopologyId && writeWorkspaces.indexOf(csar.workspace) >= 0"
                  id="delete-csar_{{csar.id}}" func="remove(csar.id);" position="left" bssize="btn-sm" fastyle="fa-trash-o">
                </delete-confirm>
              </td>
            </tr>
          </tbody>
        </table>

        <empty-place-holder
          for="'COMPONENTS.ARCHIVE'"
          data="searchConfig.result.data">
        </empty-place-holder>

        <pagination-directive pagination-info="searchConfig.service.pagination"/>
      </div>
    </div>
  </div>
</div>
