<div class="modal-header">
  <h3 class="modal-title">{{archiveName}} {{archiveVersion}}</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-2">
      <treecontrol class="tree-classic" tree-model="treedata" options="opts" on-selection="showSelected(node)" selected-node="selected" expanded-nodes="expandedNodes">
        {{node.name}}
      </treecontrol>
    </div>
    <div class="col-md-10">
      <div ng-if="!isImage" ng-model="editorContent" ui-ace="{mode: mode}" readonly="true" style="height: 500px;"></div>
      <img ng-if="isImage" ng-src="{{imageUrl}}" />
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="cancel()">{{'CLOSE' | translate }}</button>
</div>
