<div>
  <!-- Import result display -->
  <div class="row">
    <div class="upload-infos-bloc" ng-repeat="importInfo in importInfos">
      <alert type="importInfo.infoType" close="closeUploadInfos($index)" style="margin-top: 15px;">
        <div class="col-md-5 upload-file-infos">
          <div class=" show-error-link col-md-2"
             ng-click="importInfo.isErrorBlocCollapsed = !importInfo.isErrorBlocCollapsed"
             ng-show="importInfo.errors || importInfo.otherError">
             <i ng-class="{'fa fa-angle-double-down fa-lg' : importInfo.isErrorBlocCollapsed,  'fa fa-angle-double-up fa-lg' : !importInfo.isErrorBlocCollapsed }"></i>
             <i class="fa fa-exclamation-triangle"></i>
          </div>
          <span><strong>{{importInfo.name}}</strong></span>
        </div>
        <progressbar class="progress-striped active"
          value="importInfo.progress" type="{{importInfo.infoType}}">{{importInfo.progress}}% {{'UPLOAD.COMPLETE' | translate}}</progressbar>
      </alert>
      <!-- Error details -->
      <div ng-if="importInfo.errors || importInfo.otherError" collapse="importInfo.isErrorBlocCollapsed">
        <div class="well well-sm">
          <div class="panel panel-default" ng-repeat="error in importInfo.errors">
            <div class="panel-heading">
               <i class="fa fa-file"></i> <b>{{'COMPONENTS.UPLOAD_ERROR.FILE_PATH' | translate}}</b> : {{error.fileName}}
            </div>
            <div class="panel-body table-responsive">
              <table class="table table-condensed">
                <tr ng-repeat="csarError in error.parsingErrors" ng-class="{'warning': csarError.errorLevel==='WARNING', 'info': csarError.errorLevel==='INFO', 'danger': csarError.errorLevel==='ERROR'}">
                  <td><i class="fa" ng-class="{'fa-warning': csarError.errorLevel==='WARNING', 'fa-info': csarError.errorLevel==='INFO', 'fa-minus-circle': csarError.errorLevel==='ERROR'}"></i></td>
                  <td>
                    <span ng-if="csarError.startMark">
                      l:{{csarError.startMark.line}} c: {{csarError.startMark.column}}</td>
                    </span>
                  <td>{{'COMPONENTS.UPLOAD_ERROR.'+csarError.errorCode | translate:csarError}}</td>
                </tr>
              </table>
            </div>
          </div>

          <div ng-if="importInfo.otherError"  class="input-group">
            <span class="input-group-addon">
              <span><i class="fa fa-info"></i></span>
            </span>
            <span class="form-control-noheightlimit">{{'COMPONENTS.UPLOAD_ERROR.'+importInfo.otherError.code | translate:csarError }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- search form -->
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-2 well">
      <form role="search" ng-submit="searchCsarsGit()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="..."
          ng-model="queryCsarGit">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default"
              data-loading-text="Loading...">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
      <div class="btn-group-vertical btn-block" style="margin-top: 5px" role="group" aria-label="...">
        <button class="btn btn-success" ng-disabled="isImporting" id="MODAL_NEWCSAR" ng-click="openNewCsarGitTemplate()">
          <i class="fa fa fa-plus-circle"></i>  {{ 'CSAR.NEW_GIT' | translate}}
        </button>
        <button class="btn btn-default ng-binding"  id="IMPORTALL_CSARGIT"  ng-disabled="isImporting" ng-click="triggerImportAllCsarGit()">
          <i class="fa fa-download fa-lg"> </i>  {{'CSAR.IMPORT_ALL' | translate}}
        </button>
      </div>
    </div>

    <!-- CSAR Git search result display -->
    <div class="col-md-10">
      <div class="table-responsive large-data-container" id="users-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>{{ 'CSAR.URL' | translate}}</th>
              <th>{{ 'CSAR.ARCHIVE' | translate}}</th>
              <th>{{ 'CSAR.BRANCH' | translate}}</th>
              <th>{{ 'CSAR.ACTIONS' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="csar in csarGits"  id="csar_{{csar.id}}" name="csar_{{csar.id}}" >
              <td>{{csar.repositoryUrl}}</td>
              <td>
                <span style="display:block;"ng-repeat="location in csar.importLocations"> {{location.subPath || '*'}}</span>
              </td>
              <td>
                <span style="display:block;"ng-repeat="location in csar.importLocations"> {{location.branchId || '*'}}</span>
              </td>
              <td>
                <button class=" btn-sm btn btn-default ng-binding" ng-disabled="isImporting" tooltip="{{ 'CSAR.IMPORTTOOLTIP' | translate}}" ng bssize="btn-sm" position="left" id="IMPORT_CSARGIT" ng-click="triggerImport(csar.id, csar.repositoryUrl)">
                  <i class="fa fa-download fa-lg" ng-class="{'fa-download fa-lg': !isImporting, 'fa-spinner fa-spin': isImporting}"></i>
                </button>
                <button class=" btn-sm btn btn-default ng-binding"  ng-disabled="isImporting" ng bssize="btn-sm" tooltip="{{ 'CSAR.EDITTOOLTIP' | translate}}" position="left" id="UPDATE_CSARGIT" ng-click="openCsarGit(csar)">
                  <i class="fa fa-pencil-square-o fa-lg" ></i>
                </button>
                <delete-confirm id="delete-csargit" ng-disabled="isImporting" func="removeCsarGit(csar.id);" position="left" bssize="btn-sm" fastyle="fa-trash-o"></delete-confirm>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-directive pagination-info="searchService.pagination"/>
      </div>
    </div>
  </div>
</div>
