<form name="newCsarGit" class="form" role="form" novalidate>
  <div class="modal-header">
    <h3>{{'CSAR.MODAL_NEWCSAR' | translate}}</h3>
  </div>
  <div class="modal-body" >
    <div class="form-group" >
      <label for="csargit_url" class="control-label">
        {{'CSAR.URL' | translate}}
      </label>
      <input type="url" class="form-control"  id="csargit_url" ng-model="csarGit.url" name="url" required="" placeholder="{{'CSAR.URL' | translate}}">
    </div>
    <div class="form-group">
      <label for="csargit_credentials" class="control-label" >
        {{'CSAR.CREDENTIALS' | translate}}
      </label>
      <div class="input-group">
        <span class="input-group-addon">{{'CSAR.USERNAME' | translate}}</span>
        <input type="text"class="form-control" id="username" ng-model="csarGit.username" name="username" placeholder="{{'OPTIONAL' | translate}}"></input>
        <span class="input-group-addon" style="border-left: 0; border-right: 0;">{{'CSAR.PASSWORD' | translate}}</span>
        <input type="password" class="form-control" id="password" ng-model="csarGit.password" name="password"  placeholder="{{'OPTIONAL' | translate}}">
      </div>
      <span class="help-block">
        <i class="fa fa-question-circle"></i><i>  {{'CSAR.CREDENTIALSINFO' | translate}}</i>
      </span>
      <div class="form-group">
        <table class="table table-condensed" style="width: auto;" align="center">
          <thead>
            <tr>
              <th data-field="branchName">{{'CSAR.BRANCHE_TO_IMPORT' | translate}}</th>
              <th data-field="archiveName" >{{'CSAR.ARCHIVE_TO_IMPORT' | translate}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="location in importLocation track by $index">
              <td>
                <span>
                  <strong>{{location.branchId}}</strong>
                </span>
              </td>
              <td>
                <span>
                  <strong>{{location.subPath || '*'}}</strong>
                </span>
              </td>
              <td>
                <delete-confirm id="delete-csargit-location" func="removeCsarLocation(location.subPath);" position="left" bssize="btn-sm" fastyle="fa-trash-o">
                </delete-confirm>
              </td>
            </tr>
            <tr>
              <td>
                <input type="text"class="form-control" id="branchId" ng-model="location.branchId" name="branchId" placeholder="{{'CSAR.BRANCHE' | translate}}"></input>
              </td>
              <td>
                <input type="text" class="form-control" id="archive_id" ng-model="location.subPath" name="subPath"  placeholder="{{'CSAR.ARCHIVE' | translate}}">
              </td>
              <td>
                <button id="btn-createTextField" class="btn btn-info" ng bssize="btn-sm" ng-disabled="!csarGit.url || !location.branchId" ng-click="addLocation(location)">
                  <i class="fa fa-plus-circle fa-lg"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="csarGit.isStoredLocally" ng-init="csarGit.isStoredLocally=false"/> {{'CSAR.SAVE_LOCALLY' | translate}}
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <button id="btn-create" ng-disabled="!csarGit.url || !importLocation.length >0" ng-click="create(csarGit)" class="btn btn-primary">{{'CREATE' | translate}}</button>
      <button id="btn-cancel" type="button" class="btn btn-default" ng-click="cancel()">{{'CANCEL' | translate}}</button>
    </div>
  </div>
</form>
