<div>
  <!-- CSAR search form -->
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-2 well" id="search-container">
      <form role="search" ng-submit="search()">
        <div class="input-group">
          <input
          	id = "csar-query-input"
          	type="text" class="form-control" placeholder="..."
            ng-model="query"> <span class="input-group-btn">
            <button
              id="btn-search-csar"
              type="submit" class="btn btn-default"
              data-loading-text="Loading...">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
    </div>

    <!-- CSAR search result display -->
    <div class="col-md-10" id = "result-container">
      <div class="table-responsive large-data-container" id="csars-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>{{ 'COMMON.NAME' | translate}}</th>
              <th>{{ 'COMMON.VERSION' | translate}}</th>
              <th>{{ 'COMMON.DESCRIPTION' | translate}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="csar in searchResult.data" ng-click="openCsar(csar.id)" id="csar_{{csar.id}}" name="csar_{{csar.id}}" class="clickable">
              <td>
                <i class="pull-left media-object fa fa-archive fa-2x"></i>
              </td>
              <td>{{csar.name}}</td>
              <td>{{csar.version}}</td>
              <td>{{csar.description || '---' }}</td>
              <td>
                <delete-confirm
                  ng-if="!csar.substitutionTopologyId"
                  id="delete-csar_{{csar.id}}" func="remove(csar.id);" position="left" bssize="btn-sm" fastyle="fa-trash-o">
                </delete-confirm>
              </td>
            </tr>
          </tbody>
        </table>

        <empty-place-holder
          for="'COMPONENTS.ARCHIVE'"
          data="searchResult.data">
        </empty-place-holder>

        <pagination-directive pagination-info="searchService.pagination"/>
      </div>
    </div>
  </div>
</div>
