<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success" ng-click="openCreateRepositoryModal()"><i class="fa fa-plus"></i>{{'REPOSITORY.ADD'
            | translate}}
        </button>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-3">
        <facet-search-panel search-url="rest/latest/repositories/search"
                            component-prefix="REPOSITORY."
                            on-search="onSearch(searchConfig)"></facet-search-panel>
    </div>
    <div class="col-md-9">
        <h1>{{searchConfig.result.data.length}}</h1>
    </div>
</div>