
<!-- Components list and details -->
<!-- Search result column -->
<div>
  <div class="col-md-2 well" id="comp-search-side-panel">
    <div style="margin-bottom: 10px;">
      <form role="search" ng-submit="doSearch()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="..."
                 ng-model="query"> <span class="input-group-btn">
						<button type="submit" class="btn btn-default"
                    data-loading-text="Loading...">
              <i class="fa fa-search"></i>
            </button>
					</span>
        </div>
      </form>
    </div>
    <facets facet-filters="facetFilters"
            default-filters="defaultFilters"
            facet-id-converter="facetIdConverter"
            facets="searchResult.facets"
            filter-prefix="COMPONENTS."
            do-search="forcedDoSearch()">
    </facets>
  </div>

  <div class="col-md-10" id="rel-search-result-panel">
    <ul class="list-group ">
      <li class="list-group-item overflowmedia clickable-media"
          ng-repeat="component in searchResult.data" ng-mouseover="setComponent(component)"
          id="li_{{component.id}}" ng-click="handleItemSelection(component)">
        <div class="media">
          <div class="media-body" >
            <ng-include src="'views/components/search_component_archive_dislay.html'">
            </ng-include>
            <h4 class="media-heading">{{component.elementId}}</h4>
            <div class="h4">
              <p class="small" ng-if="component.validSources" id="component-source">{{
                'COMMON.SOURCE' | translate }} : {{component.validSources}}</p>
              <p class="small" ng-if="component.validTargets" id="component-target">{{
                'COMMON.TARGET' | translate }} : {{component.validTargets}}</p>
              <p class="small" ng-if="component.description">{{component.description}}</p>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <!-- pagination bar -->
    <pagination-directive pagination-info="searchService.pagination"/>
  </div>
</div>
