<!-- Components list and details -->
<div class="search-row">
  <div id="comp-search-side-panel"
    ng-class="{'search-columns search-filter-side':globalContext}">
    <!-- Search result column -->
    <div style="{{searchStyle}}">
      <div ng-class="{'well': globalContext}">
        <div style="margin-bottom: 10px;" ng-init="collapseAdvancedSearch=true">
          <form role="search" ng-submit="doSearch()">
            <div class="input-group">
              <input id = "component_query_input" type="text" class="form-control" placeholder="..."
                ng-model="query"> <span class="input-group-btn">
                <button type="submit" class="btn btn-default"
                  data-loading-text="Loading..." id="btn-search-component">
                  <i class="fa fa-search"></i>
                </button>
                <button ng-show="!globalContext"
                  id="displayFacetManagement"
                  class="btn btn-default"
                  ng-class="{'active': !collapseAdvancedSearch}"
                  ng-click="collapseAdvancedSearch = !collapseAdvancedSearch">
                  <i class="fa fa-filter"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
        <!-- Displaying active filters -->
        <div uib-collapse="collapseAdvancedSearch && !globalContext">
          <facets facet-filters="facetFilters"
                  default-filters="defaultFilters"
                  facet-id-converter="facetIdConverter"
                  facets="searchResult.facets"
                  filter-prefix="COMPONENTS."
                  do-search="forcedDoSearch()">
          </facets>
        </div>
      </div>
    </div>
  </div>
  <!-- Cannot use ng-class because of a safari bug when changing style in display: table-cell -->
  <div ng-if="globalContext" class="search-columns" id="comp-search-result-panel">
    <div ng-include="'views/components/search_node_type_results_template.html'"></div>
  </div>
  <div ng-if="!globalContext" id="comp-search-result-panel">
    <div ng-include="'views/components/search_node_type_results_template.html'"></div>
  </div>
</div>
