<div>

  <!-- CSAR search form -->
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-2 well">
      <form role="search" ng-submit="search()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="..."
            ng-model="query"> <span class="input-group-btn">
            <button type="submit" class="btn btn-default"
              data-loading-text="Loading...">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
    </div>

    <!-- CSAR search result display -->
    <div class="col-md-10">
      <ul class="list-group">
        <li class="list-group-item clickable-media" style="padding:6px;"
        ng-repeat="csar in csarSearchResult.data.data" ng-click="openCsar(csar.id)" id="csar_{{csar.id}}">
          <div class="media">
            <i class="pull-left media-object fa fa-archive fa-4x"></i>
            <div class="media-body">

              <div class="pull-right">
                  <delete-confirm id="delete-csar_{{csar.id}}" func="remove(csar.id);" position="left" bssize="btn-sm" fastyle="fa-trash-o">
                  </delete-confirm>
              </div>

              <h4 class="media-heading">
                {{csar.name}}
                <p>{{csar.description}}</p>
              </h4>

            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>

  <script type="text/ng-template" id="newCsar.html">
    <form name="newCsar" class="form-horizontal" role="form" ng-submit="create(newCsar.$valid)" novalidate>
      <div class="modal-header">
        <h3>{{'CSAR.MODAL_NEWCSAR' | translate}}</h3>
      </div>
      <div class="modal-body">
        <div class="form-group" ng-class="{'has-error': newCsar.name.$invalid}">
          <label for="name_id" class="col-lg-2 control-label">
            {{'CSAR.FIELD_NAME' | translate}}
          </label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="name_id" ng-model="csar.name" name="name" required="" placeholder="{{'CSAR.FIELD_NAME' | translate}}">
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': newCsar.version.$invalid}">
          <label for="version_id " class="col-lg-2 control-label">
            {{'CSAR.FIELD_VERSION' | translate}}
          </label>
          <div class="col-lg-10">
            <div class="input-group">
              <input type="text" class="form-control" id="version_id" ng-model="csar.version" name="version" required="" placeholder="{{'CSAR.FIELD_VERSION' | translate}}">
              <span class="input-group-btn">
                <button class="btn btn-default disabled" type="button">-SNAPSHOT</button>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="description_id " class="col-lg-2 control-label">
            {{'CSAR.FIELD_DESCRIPTION' | translate}}
          </label>
          <div class="col-lg-10">
            <textarea class="form-control" id="description_id" rows="3" ng-model="csar.description" name="description" placeholder="{{'CSAR.FIELD_DESCRIPTION' | translate}}"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button ng-disabled="newCsar.name.$invalid" class="btn btn-primary">
          {{'CREATE' | translate}}
        </button>
        <button class="btn btn-default" ng-click="cancel()">
          {{'CANCEL' | translate}}
        </button>
      </div>
    </form>
  </script>

</div>
