<div ng-controller="SubjectAuthorizationDirectiveCtrl">
  <div class="row grp-margin">
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="..." ng-model="searchText">
        <div class="input-group-addon">
          <i class="fa fa-filter"></i>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <button class="pull-right btn btn-sm btn-success"
        alien-authorize-groups
        on-close="onModalClose(result)"
        authorized-subjects="authorizedSubjects"
        search-config-builder="searchConfigBuilder()"
        display-custom-search="displayCustomSearch">
        <i class="fa fa-plus-circle"></i> {{'ORCHESTRATORS.LOCATIONS.AUTHORIZATIONS.GROUPS.ADD' | translate}}
      </button>
    </div>
  </div>
  <div class="row grp-margin">
    <div class="col-md-12">
      <empty-place-holder
          data="authorizedSubjects">
      </empty-place-holder>
      <div class="table-responsive large-data-container" id="groups-table" ng-if="authorizedSubjects.length > 0">
        <table class="table table-hover">
          <thead>
          <tr>
            <th></th>
            <th>{{ 'COMMON.NAME' | translate}}</th>
            <th>{{ 'COMMON.EMAIL' | translate}}</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="group in authorizedSubjects | filter:searchText"
              id="group_{{group.id}}">
            <td>
              <i class="fa fa-group fa-2x" ng-if="!group.imageId"></i>
              <img ng-if="group.imageId" ng-src="'img?id=' + group.imageId + '&quality=QUALITY_32'"/>
            </td>
            <td>{{group.name || '---' }}</td>
            <td>{{group.email || '---' }}</td>
            <td>
              <delete-confirm id="btn-revoke-{{group.name}}" func="revoke(group)" position="left" bssize="btn-xs" fastyle="fa-trash-o"></delete-confirm>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
