<div ng-controller="GroupsDirectiveCtrl">
  <div class="row" style="margin-bottom: 10px;">
    <div class="col-md-6" ng-show="crudSupport">
      <button class="btn btn-success" ng-click="openNewGroupModal()">
        <i class="fa fa-plus-circle"></i> {{'GROUPS.NEW' | translate}}
      </button>
    </div>
  </div>
  <div class="row grp-margin">
    <div class="col-md-2">
      <form role="search" ng-submit="searchService.search()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="..." ng-model="query"> <span class="input-group-btn">
            <button type="submit" class="btn btn-default" data-loading-text="Loading...">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
    </div>
    <div class="col-md-10">
      <div class="table-responsive large-data-container" id="groups-table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>{{ 'COMMON.NAME' | translate}}</th>
              <th ng-if="displayAll || displayEmail">{{ 'COMMON.EMAIL' | translate}}</th>
              <th>{{ 'COMMON.DESCRIPTION' | translate}}</th>
              <th ng-if="displayAll || displayRoles">{{ 'GROUPS.ROLES' | translate}}</th>
              <th class="text-center"> <i ng-if="managedEnvRoleList" class="fa fa-desktop" uib-tooltip="{{'APPLICATIONS.APPLICATION' | translate }}" tooltip-placement="top" tooltip-append-to-body="true"></i></th>
              <th class="text-center" ng-if="managedEnvRoleList"><i class="fa fa-share-alt" uib-tooltip="{{'APPLICATIONS.ENVIRONMENT.ENV' | translate }}" tooltip-placement="top" tooltip-append-to-body="true"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="group in groupsData.data | orderBy:'name'" id="group_{{group.name}}">
              <td>
                <i class="fa fa-users fa-2x" ng-if="!group.imageId"></i>
                <img ng-if="group.imageId" ng-src="'img?id=' + group.imageId + '&quality=QUALITY_32'" />
              </td>
              <td id="group_{{group.name}}_name">
                <span ng-if="ALL_USERS_GROUP != group.name" class="form-input-editable" editable-text="group.name" buttons="no" onaftersave="groupChanged(group, 'name', group.name)" blur="submit">
                  {{group.name}} <i class="fa fa-pencil-square-o"></i>
                </span>
                <span ng-if="ALL_USERS_GROUP == group.name">{{group.name}}</span>
              </td>
              <td id="group_{{group.name}}_email" ng-if="displayAll || displayEmail">
                <span ng-if="ALL_USERS_GROUP != group.name" class="form-input-editable" editable-email="group.email" buttons="no" onaftersave="groupChanged(group, 'email', group.email)" blur="submit">
                  {{group.email || '---' }} <i class="fa fa-pencil-square-o"></i>
                </span>
                <span ng-if="ALL_USERS_GROUP == group.name">{{group.email}}</span>
              </td>
              <td id="group_{{group.name}}_description">
                <span ng-if="ALL_USERS_GROUP != group.name" class="form-input-editable" editable-textarea="group.description" buttons="no" onaftersave="groupChanged(group, 'description', group.description)" blur="submit">
                  {{ group.description || '---' }} <i class="fa fa-pencil-square-o"></i>
                </span>
                <span ng-if="ALL_USERS_GROUP == group.name">{{group.description}}</span>
              </td>
              <td ng-if="displayAll || displayRoles" name="roles">
                <span ng-if="!(groupRolesEmpty = !group.roles || group.roles.length <= 0)">
                  <ul class="td_list">
                    <li ng-repeat="groupRole in group.roles | orderBy:'toString()'">{{groupRole}}</li>
                  </ul>
                </span>
                <span ng-if="groupRolesEmpty">---</span>
              </td>
              <td class="text-center">
                <div class="btn-group" uib-dropdown dropdown-append-to-body>
                  <a id="edit-app-group-role-button" ng-if="!notEditableRoleList || notEditableRoleList.indexOf(group.id) < 0"  class="btn btn-sm btn-default" uib-dropdown-toggle uib-tooltip="{{'EDIT_RIGHTS.EDIT_ROLE_RESOURCE' | translate }}" tooltip-append-to-body="true"><i class="fa fa-key"></i></a>
                  <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" ng-click="preventClose($event)">
                    <li role="presentation" class="dropdown-header">{{'EDIT_RIGHTS.EDIT_ROLE_HEADER_RESOURCE' | translate }}</li>
                    <li ng-repeat="role in managedAppRoleList | orderBy:'toString()' ">
                      <a id="{{group.name}}_{{role}}" ng-class="{'checked_role':( roleChecked = checkIfAppRoleSelected(group, role))}" ng-click="onSelectAppRoleCallback({group:group, role:role})">
                        <i class="fa fa-fw" ng-class="{'fa-check-square-o' : roleChecked,  'fa-square-o': !roleChecked}"></i> {{role}}
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="btn-group" ng-if="ALL_USERS_GROUP != group.name">
                  <!-- Delete a group -->
                  <delete-confirm id="group_{{group.name}}_delete" ng-if="crudSupport" func="remove(group)" position="left" bssize="btn-sm" fastyle="fa-trash-o">
                  </delete-confirm>
                </div>
              </td>
              <td class="text-center" ng-if="managedEnvRoleList">
                <!-- Environment rights -->
                <div class="btn-group" uib-dropdown dropdown-append-to-body>
                  <a id="edit-env-group-role-button" class="btn btn-sm btn-default" uib-dropdown-toggle uib-tooltip="{{'EDIT_RIGHTS.EDIT_ROLE_ENV' | translate }}" tooltip-append-to-body="true"><i class="fa fa-key"></i></a>
                  <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" ng-click="preventClose($event)">
                    <li role="presentation" class="dropdown-header">{{'EDIT_RIGHTS.EDIT_ROLE_HEADER_ENV' | translate }}</li>
                    <li ng-repeat="role in managedEnvRoleList | orderBy:'toString()' ">
                      <a id="{{group.name}}_{{role}}" ng-class="{'checked_role':( roleChecked = checkIfEnvRoleSelected(group, role))}" ng-click="onSelectEnvRoleCallback({group:group, role:role})">
                        <i class="fa fa-fw" ng-class="{'fa-check-square-o' : roleChecked,  'fa-square-o': !roleChecked}"></i> {{role}}
                      </a>
                    </li>
                  </ul>
                </div>

              </td>
            </tr>
          </tbody>
        </table>
        <pagination-directive pagination-info="searchService.pagination" />
      </div>
    </div>
  </div>
</div>
