<div>
  <div class="modal-header">
    <h3>{{'ORCHESTRATORS.LOCATIONS.AUTHORIZATIONS.USERS.ADD_POPUP.TITLE' | translate}}</h3>
  </div>
  <div class="modal-body">
    <div>
      <div class="grp-margin">
        <div class="form-horizontal">
          <form role="search" ng-submit="search($event)">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="..." ng-model="query"/>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default" data-loading-text="Loading...">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
        <div ng-if="displayCustomSearch" class="filter-category">
          <a ng-click="toggleCustomSearch()" class="pull-rigth">
            <i class="fa fa-fw" ng-class="{'fa-check-square-o' : customSearchActive,  'fa-square-o': !customSearchActive}"></i>
              {{'ORCHESTRATORS.LOCATIONS.AUTHORIZATIONS.USERS.ADD_POPUP.LOC_AUTH_FILTER' | translate}}
          </a>
        </div>
      </div>
      <div class="row grp-margin">
        <div class="col-md-12">
          <empty-place-holder ng-if="customSearchActive"
              for="'ORCHESTRATORS.LOCATIONS.AUTHORIZATIONS.USERS.ADD_POPUP.EMPTY_PLACEHOLDER'"
              data="searchedData.data">
          </empty-place-holder>
          <empty-place-holder ng-if="!customSearchActive"
              for="'ROLE_TABS.USERS'"
              data="searchedData.data">
          </empty-place-holder>
          <div class="table-responsive large-data-container" id="users-table" ng-if="searchedData.data.length > 0">
            <table class="table table-hover">
              <thead>
              <tr>
                <th class="text-center">
                  <a ng-click="toggleSelectAll()">
                    <i class="fa fa-fw" ng-class="getSelectAllClass()"></i>
                  </a>
                </th>
                <th></th>
                <th>{{ 'USERS.FIRST_NAME' | translate}}</th>
                <th>{{ 'USERS.LAST_NAME' | translate}}</th>
                <th>{{ 'COMMON.USERNAME' | translate}}</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="user in searchedData.data" ng-init="isAuthorized = isAuthorized(user)" ng-class="{'option-selected text-muted': isAuthorized}">
                <td class="text-center">
                  <a ng-if="!isAuthorized" ng-click="toggleSelection(user)">
                    <i class="fa fa-fw"
                       ng-class="{'fa-check-square-o' : isSelected(user),  'fa-square-o': !isSelected(user)}"></i>
                  </a>
                  <i ng-if="isAuthorized" class="fa fa-fw fa-check-square-o"></i>
                </td>
                <td>
                  <i class="fa fa-user fa-2x" ng-if="!user.imageId"></i>
                  <img ng-if="user.imageId" ng-src="'img?id=' + user.imageId + '&quality=QUALITY_32'"/>
                </td>
                <td>{{user.firstName || '---' }}</td>
                <td>{{user.lastName || '---' }}</td>
                <td>{{user.username || '---' }}</td>
              </tr>
              </tbody>
            </table>
            <pagination-directive pagination-info="searchService.pagination"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer grp-margin">
    <a ng-disabled="selectedSubjects.length === 0" class="btn btn-primary" ng-click="ok()">{{'OK' | translate}}</a>
    <a class="btn btn-default" ng-click="cancel()">{{'CANCEL' | translate}}</a>
  </div>
</div>
