<div>
  <form name="newApplication" class="form-horizontal" role="form" ng-submit="create(newApplication.$valid)" novalidate>
    <div class="modal-header">
      <h3>Select users</h3>
    </div>
    <div class="modal-body">

      <div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-2">
            <form role="search" ng-submit="searchService.search()">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="..." ng-model="query"> <span class="input-group-btn">
                  <button type="submit" class="btn btn-default" data-loading-text="Loading...">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </form>
          </div>
          <div class="col-md-10">
            <div class="table-responsive large-data-container" id="users-table">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th>{{ 'USERS.FIRST_NAME' | translate}}</th>
                    <th>{{ 'USERS.LAST_NAME' | translate}}</th>
                    <th>{{ 'COMMON.USERNAME' | translate}}</th>
                    <th ng-if="displayAll || displayEmail">{{ 'COMMON.EMAIL' | translate}}</th>
                    <th>{{ 'COMMON.GROUPS' | translate}}</th>
                    <th ng-if="displayAll || displayRoles">{{ 'USERS.ROLES' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="user in usersData.data | orderBy:'firstName'" id="user_{{user.username}}" ng-show="user.allRoles.ADMIN || user.allRoles.DEPLOYER">
                    <td class="text-center">
                      <div class="btn-group">
                        <input type="checkbox" name="show_vscroll" id="show_vscroll">
                      </div>
                    </td>
                    <td>
                      <i class="fa fa-user fa-2x" ng-if="!user.imageId"></i>
                      <img ng-if="user.imageId" ng-src="'img?id=' + user.imageId + '&quality=QUALITY_32'" />
                    </td>
                    <td id="user_{{user.username}}_firstName">
                      <span ng-if="user.internalDirectory && crudSupport" class="form-input-editable" editable-text="user.firstName" buttons="no" onaftersave="userChanged(user, 'firstName', user.firstName)" blur="submit">
                        {{user.firstName || '---' }} <i class="fa fa-pencil-square-o"></i>
                      </span>
                      <span ng-if="!user.internalDirectory || !crudSupport">{{user.firstName || '---' }}</span>
                    </td>
                    <td id="user_{{user.username}}_lastName">
                      <span ng-if="user.internalDirectory && crudSupport" class="form-input-editable" editable-text="user.lastName" buttons="no" onaftersave="userChanged(user, 'lastName', user.lastName)" blur="submit">
                        {{user.lastName || '---' }} <i class="fa fa-pencil-square-o"></i>
                      </span>
                      <span ng-if="!user.internalDirectory || !crudSupport">{{user.lastName || '---' }}</span>
                    </td>
                    <td>{{user.username || '---' }}</td>
                    <td id="user_{{user.username}}_email" ng-if="displayAll || displayEmail">
                      <span ng-if="user.internalDirectory && crudSupport" class="form-input-editable" editable-email="user.email" buttons="no" onaftersave="userChanged(user, 'email', user.email)" blur="submit">
                        {{user.email || '---' }} <i class="fa fa-pencil-square-o"></i>
                      </span>
                      <span ng-if="!user.internalDirectory || !crudSupport">{{user.email || '---' }}</span>
                    </td>
                    <td name="groups">
                      <span ng-if="!(userGroupsEmpty = !user.groups || user.groups.length <= 0)">
                        <ul class="td_list">
                          <li ng-repeat="userGroup in user.groups | orderBy:'toString()' ">
                            {{ groupsMap[userGroup].name }}
                          </li>
                        </ul>
                      </span>
                      <span ng-if="userGroupsEmpty">---</span>
                    </td>
                    <td ng-if="displayAll || displayRoles" name="roles">
                      <span ng-if="user.allRoles.size > 0">
                        <ul class="td_list">
                          <li ng-repeat="(role, from) in user.allRoles" ng-if="role!='size'">
                            {{role}} <i ng-repeat="f in from" ng-class="{'fa fa-user': f=='u' , 'fa fa-users' : f=='g'}"><span ng-hide="$last">|</span>
                      </i>
                      </li>
                      </ul>
                      </span>
                      <span ng-if="user.allRoles.size == 0">---</span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-directive pagination-info="searchService.pagination" />
            </div>
          </div>
        </div>
      </div>

    <div class="modal-footer" style="margin-top: 10px;">
      <button id="btn-cancel" class="btn btn-default" ng-click="cancel()">{{'CANCEL' | translate}}</button>
      <button id="btn-create" ng-disabled="selectedTopologyError || newApplication.name.$invalid || newApplication.archiveName.$invalid" class="btn btn-primary">Authorize selected users</button>
    </div>
  </form>
</div>
