<uib-tabset>
  <uib-tab heading="{{'NAVADMIN.MENU_USERS' | translate}}" id="users-tab" select="tabSelected('users')">
    <alien-search-user
      crud-support="true"
      managed-app-role-list="alienRoles"
      managed-env-role-list="null"
      on-select-app-role-callback="handleRoleSelection(user, role)"
      on-select-app-group-callback="handleGroupSelection(invalid, user, groupId)"
      display-all="true">
    </alien-search-user>
  </uib-tab>
  <uib-tab heading="{{'COMMON.GROUPS' | translate}}" id="groups-tab">
    <alien-search-group
      crud-support="true"
      managed-app-role-list="alienRoles"
      managed-env-role-list="null"
      on-select-app-role-callback="handleGroupRoleSelection(group, role)"
      display-all="true">
    </alien-search-group>
  </uib-tab>
</uib-tabset>
