<div class="row grp-margin">
  <div class="col-md-3">
    <facet-search-panel search-url="rest/latest/catalog/topologies/search"
                        page-size="20"
                        max-page-count="10"
                        is-paginated-api="false"
                        filter-prefix="TOPOLOGY."
                        default-filters="defaultFilters"
                        static-facets="staticFacets"
                        on-search="onSearch(searchConfig)">
    </facet-search-panel>
  </div>
  <div class="col-md-9">
    <div class="table-responsive large-data-container" style="max-height:{{tableMaxHeight}}px; overflow-y:auto;" ng-if="searchConfig.result.data.length > 0">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>{{ 'COMMON.NAME' | translate}}</th>
            <th>{{ 'COMMON.DESCRIPTION' | translate}}</th>
            <th>{{ 'COMMON.VERSION' | translate}}</th>
            <th ng-if="archiveLink"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="topology in searchConfig.result.data" ng-click="onSelect({topology: topology})" id="topology_{{topology.archiveName}}" class="clickable"
            ng-class="{info: isSelected({topology: topology})}">
            <td>
              <i class="pull-left media-object fa fa-sitemap fa-2x"></i>
            </td>
            <td>{{topology.archiveName}}</td>
            <td>{{topology.description || '---' }}</td>
            <td>
              <div uib-dropdown>
                <button class="btn btn-default" uib-dropdown-toggle ng-click="fetchVersions(topology, $event)">
                   {{topology.archiveVersion}} <i class="fa fa-caret-down"></i>
                </button>
                <ul ng-if="!topology.allVersions" class="dropdown-menu" uib-dropdown-menu role="menu">
                  <li class="option-selected"><i class="fa fa-spin fa-spinner"></i> Loading</li>
                </ul>
                <ul ng-if="topology.allVersions" class="dropdown-menu" uib-dropdown-menu role="menu" ng-init="itemIdex = $index">
                  <li ng-repeat="version in topology.allVersions" class="option-selected"><a ng-click="selectVersion(topology, version, itemIdex, $event)">{{version.version}}</a></li>
                </ul>
              </div>
            </td>
            <td ng-if="archiveLink">
              <div class="pull-right">
                <button class="btn btn-sm btn-success" ng-click="clone(topology, $event)" uib-tooltip="{{'TEMPLATE.DUPLICATE' | translate}}">
                  <i class="fa fa-copy"></i>
                </button>
                <button class="btn btn-sm btn-default" ng-click="openCsar(topology.id, $event)" uib-tooltip="{{'COMPONENTS.ARCHIVE' | translate}}">
                  <i class="fa fa-archive"></i>
                </button>
                <button class="btn btn-sm btn-default" ng-click="openDeleteTopologyTemplateModal(topology.id, $event)" uib-tooltip="{{'TEMPLATE.REMOVE_TOOLTIP' | translate}}">
                  <i class="fa fa-trash-o"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <empty-place-holder
              data="searchConfig.result.data">
      </empty-place-holder>
      <pagination-directive pagination-info="searchConfig.service.pagination"/>
    </div>
  </div>
</div>
