<div>
  <div class="row">
    <div class="col-md-2" ng-if="isArchitect">
      <button class="btn btn-success" ng-click="openNewTopologyTemplate()" id="btn-add-template">
        <i class="fa fa fa-plus-circle"></i> {{ 'TEMPLATE.NEW' | translate}}
      </button>
    </div>

    <!-- Upload box -->
    <div id="upload-csar-topology" class="col-md-10" ng-if="isArchitect">
      <upload-directive
        target-url="'rest/v1/csars'"
        drag-and-drop-message="'COMPONENTS.DRAG_DROP_UPLOAD'"
        button-message="'COMPONENTS.UPLOAD'"
        upload-success-callback="searchService.search()" />
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
      <div class="col-md-3">
          <facet-search-panel search-url="rest/latest/catalog/topologies/search"
                              page-size="20"
                              max-page-count="10"
                              is-paginated-api="false"
                              filter-prefix="TOPOLOGY."
                              on-search="onSearch(searchConfig)">
          </facet-search-panel>
      </div>
      <div class="col-md-9">
          <div class="well">
            <div ng-repeat="topologyTemplate in searchConfig.result.data" class="alien-table-row">
              <div id="row_{{topologyTemplate.name}}" style="margin-top: -4px; padding-top: 8px;" class="row clickable-media" ng-click="openTopologyTemplate(topologyTemplate.id)">
                <div class="col-md-4"><i class="pull-left media-object fa fa-sitemap fa-2x"></i>{{topologyTemplate.name}}</div>
                <div class="col-md-6" class="">{{topologyTemplate.description}}</div>
                <div class="col-md-2" style="width: 130px;" ng-if="isArchitect" style="width: 115px;">
                  FIXME: we don't want delete here but a link to csar detail (this is where to delete).
                </div>
              </div>
            </div>

            <empty-place-holder
                    for="'TEMPLATE.BREADCRUMB.TEMPLATE_LIST'"
                    data="searchConfig.result.data">
            </empty-place-holder>
          </div>
          <pagination-directive pagination-info="searchConfig.service.pagination"/>
      </div>
  </div>
</div>
