<div class="input-group" ng-class="{'has-error': dateConfig.dateInValid}">
  <input type="text" class="form-control" placeholder="{{fieldName | translate}}"
         ng-model="dateConfig.dateText"
         ng-change="dateChanged(dateConfig.dateText)"
         uib-tooltip="{{fieldName | translate}}" tooltip-append-to-body="true">
  <span class="input-group-btn" uib-dropdown>
    <button class="btn btn-default" type="button" uib-dropdown-toggle
            uib-tooltip="{{fieldName | translate}}" tooltip-append-to-body="true" role="button">
      <i class="fa fa-calendar"></i>
    </button>
    <ul id="{{fieldNameFormatted}}DropDown" class="dropdown-menu" uib-dropdown-menu ng-class="{'dropdown-menu-right': position == 'right'}" role="menu">
      <datetimepicker data-ng-model="dateConfig.date" on-set-time="onSetTime(newDate)"/>
    </ul>
  </span>
</div>
