<div>
    <!-- Search query column -->
    <div class="well">
        <div style="margin-bottom: 10px;">
            <form role="search" ng-submit="doSearch()">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="..." ng-model="queryProvider.query">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default" data-loading-text="Loading..."> <i
                                    class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <facets facet-filters="facetFilters"
                facets="facets"
                filter-prefix="{{componentPrefix}}"
                do-search="doSearch()">
        </facets>
    </div>
</div>