<!-- pagination bar -->
<div ng-if="paginationInfo.totalItems > paginationInfo.maxSearchSize" class="pagination-div">
  <div class="alert alert-warning" ng-if="paginationInfo.isOverflowed()" role="alert">
    <span class="fa fa-warning" aria-hidden="true"></span> {{'PAGINATION.OVERFLOW' | translate}}
  </div>
  <ul uib-pagination class="pagination-sm"
    ng-model="paginationInfo.currentPage"
    ng-change="paginationInfo.selectPage(paginationInfo.currentPage)"
    total-items="paginationInfo.totalItems"
    max-size="5"
    items-per-page="paginationInfo.maxSearchSize"
    boundary-links="true"
    rotate="false"
    num-pages="numPages"
    next-text="Next"
    last-text="Last"
    previous-text="Previous"
    first-text="First">
  </ul>
</div>
