<div ng-show="uploadInfo.errors || uploadInfo.otherError" uib-collapse="uploadInfo.isErrorBlocCollapsed">
  <div class="well well-sm">
    <div class="panel panel-default" ng-repeat="(filePath, csrarErrors) in uploadInfo.errors">
      <div class="panel-heading">
        <i class="fa fa-file"></i> <b>{{'COMPONENTS.UPLOAD_ERROR.FILE_PATH' | translate}}</b> : {{filePath}}
      </div>
      <div class="panel-body table-responsive">
        <table class="table table-condensed parsing-error-table">
          <tr ng-repeat="csarError in csrarErrors"
              ng-class="{'warning': csarError.errorLevel==='WARNING', 'info': csarError.errorLevel==='INFO', 'danger': csarError.errorLevel==='ERROR'}">
            <td><i class="fa"
                   ng-class="{'fa-warning': csarError.errorLevel==='WARNING', 'fa-info': csarError.errorLevel==='INFO', 'fa-minus-circle': csarError.errorLevel==='ERROR'}"></i>
            </td>
            <td><span
                ng-if="csarError.startMark">l:{{csarError.startMark.line}} c: {{csarError.startMark.column}}</span></td>
            <td>{{'COMPONENTS.UPLOAD_ERROR.'+csarError.errorCode | translate:csarError}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div ng-show="uploadInfo.otherError" class="input-group">
          <span class="input-group-addon">
            <span><i class="fa fa-info"></i></span>
          </span>
      <span style="white-space: pre" class="form-control-noheightlimit">{{'COMPONENTS.UPLOAD_ERROR.'+uploadInfo.otherError.code | translate:uploadInfo.otherError }}</span>
    </div>
  </div>
</div>
