<div ng-class="{'row':condensed, 'form-group': !condensed}" ng-controller="PropertiesCtrl">
  <!-- Property Name -->
  <label ng-if="translated" id="p_name_{{propertyName}}" class="col-md-4 property-display-label-ellipsed control-label" ng-class="{'property-required': definition.required && definitionObject.uiEmpty}"
         uib-tooltip="{{propertyName | translate}}" tooltip-append-to-body="true">
    {{propertyName | translate}}
  </label>
  <label ng-if="!translated" id="p_name_{{propertyName}}" class="col-md-4 property-display-label-ellipsed control-label" ng-class="{'property-required': definition.required && definitionObject.uiEmpty}" uib-tooltip="{{propertyName}}" tooltip-append-to-body="true">
    {{propertyName}}
  </label>
  <div ng-class="{'col-md-5': deletable, 'col-md-8': !deletable, 'form-editable': !condensed}"
    ng-init="isStringDisplayType = (definitionObject.uiName === 'scalar-unit' || definitionObject.uiName === 'string');">

    <div id="div_{{propertyName}}"  ng-if="isStringDisplayType && !definitionObject.uiSecret" ng-class="{'property-required' : definition.required && definitionObject.uiEmpty}">

      <!-- Case : string -->
      <div class="col-md-9">
        <span id="p_{{propertyName}}" ng-if=" !definitionObject.uiPassword && !definitionObject.units && editable">
          <span ng-if="!isLongText"
                ng-click="switchLongTextChoice(true)"
                editable-text="definitionObject.uiValue" buttons="no"
                onbeforesave="propertySave($data)" blur="submit"
                onhide="switchLongTextChoice(false)"
                e-uib-typeahead="suggestion for suggestion in suggestion.get($viewValue)" class="typeahead editable-property"
                e-typeahead-min-length="suggestion.minLength"
                e-typeahead-wait-ms="suggestion.waitBeforeRequest"
                e-typeahead-loading="searching">
            <span>{{definitionObject.uiValue | truncate:30}}</span>
            <span class="fa fa-pencil-square-o clickable" ng-click="switchLongTextChoice(true)"></span>
          </span>
          <span ng-if="isLongText"
                ng-click="switchLongTextChoice(true)"
                editable-textarea="definitionObject.uiValue" buttons="no"
                onbeforesave="propertySave($data)" blur="submit"
                onhide="switchLongTextChoice(false)"
                e-uib-typeahead="suggestion for suggestion in suggestion.get($viewValue)" class="typeahead editable-property"
                e-typeahead-min-length="suggestion.minLength"
                e-typeahead-wait-ms="suggestion.waitBeforeRequest"
                e-typeahead-loading="searching">
            <span>{{definitionObject.uiValue | truncate:30}}</span>
            <span class="fa fa-pencil-square-o clickable" ng-click="switchLongTextChoice(true)"></span>
          </span>
          <span ng-if="definitionObject.uiValue" uib-tooltip="{{definitionObject.uiValue}}" class="fa fa-clipboard btn-cb clickable"></span>
          <span class="fa clickable" ng-class="{'fa-expand': !isLongText, 'fa-compress': isLongText}" ng-if="showLongTextChoice" ng-click="switchToLongText($event)"></span>
        </span>
        <span id="p_{{propertyName}}" ng-if=" !definitionObject.uiPassword && definitionObject.units && editable">
          <!-- Property with unit -->
          <span editable-text="definitionObject.uiValue" buttons="no" onbeforesave="propertySave($data)" blur="submit" e-form="scalarForm"
                ng-click="scalarForm.$show()" class="editable editable-click">
            {{definitionObject.uiValue}} <i class="fa fa-pencil-square-o"></i>
          </span>
          <div ng-if="definitionObject.units" class="btn-group btn-group-xs" uib-dropdown>
            <button type="button" class="btn btn-default btn-xs" uib-dropdown-toggle>
              {{definitionObject.uiUnit}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
              <li ng-repeat="unit in definitionObject.units" ng-class="{'option-selected selected': definitionObject.uiUnit === unit}">
                <a id="p_{{propertyName}}_unit_{{unit}}" ng-click="saveUnit(unit)">{{unit}}</a>
              </li>
            </ul>
          </div>
          <div ng-if="unitError" class="help-inline text-danger">{{unitError}}</div>
        </span>
        <em ng-if="!definitionObject.uiPassword && !editable">{{definitionObject.uiValue || '...'}}</em>
        <em ng-if="!definitionObject.uiPassword && !editable && definitionObject.uiValue" uib-tooltip="{{definitionObject.uiValue}}" class="fa fa-clipboard btn-cb clickable"></em>

        <!-- Case : password -->
        <span id="p_{{propertyName}}" ng-if=" definitionObject.uiPassword && editable" editable-text="definitionObject.uiValue" e-type="password" buttons="no" e-required
              onbeforesave="propertySave($data)" blur="submit">
          {{ definitionObject.uiValue | password:'*' }} <i class="fa fa-pencil-square-o"></i>
        </span>
        <em ng-if=" definitionObject.uiPassword && !editable">{{ definitionObject.uiValue | password:'*' }}</em>

        <em ng-if=" definitionObject.units && definitionObject.uiUnit && !editable">{{definitionObject.uiUnit}}</em>
        <label ng-if="definition.required" uib-tooltip="{{ 'REQUIRED' | translate }}">*</label>
      </div>
      <!-- Reset button for any property definition -->
      <span class="pull-right">
        <span id='reset-property-{{propertyName}}' ng-show="editable" class="btn btn-xs" ng-click="resetProperty();">
          <i class="fa fa-undo text-default" uib-tooltip="{{ 'PROPERTY_RESET' | translate }}"
            tooltip-append-to-body="true"
            tooltip-placement="left"></i>
        </span>
        <info content="definition.description"></info>
      </span>
    </div>
    <div ng-if="!isStringDisplayType && !definitionObject.uiSecret" ng-switch="definitionObject.uiName" ng-class="{'property-required' : definition.required}">
      <div class="col-md-9"> <!-- a div for making the cell -->
        <span ng-switch-when="select">
          <!-- Case : validValues  -->
          <select class="form-control form-control-inline" ng-model="definitionObject.uiSelectValue" ng-change="propertySave(definitionObject.uiSelectValue)"
                  ng-options="option for option in definitionObject.uiSelectValues" ng-if="editable">
          </select>
          <em ng-if="!editable">{{definitionObject.uiValue}}</em>
        </span>

        <span ng-switch-when="checkbox">
          <!-- Case : boolean -->
          <a ng-class="{'checked_role':( roleChecked = definitionObject.uiValue )}" ng-click="propertySaveBoolean(!roleChecked);" ng-if="editable">
            <i class="fa fa-fw" ng-class="{'fa-check-square-o' : roleChecked,  'fa-square-o': !roleChecked }"></i>
          </a>
          <span ng-class="{'checked_role':( roleChecked = definitionObject.uiValue )}" ng-if="!editable" ng-disabled="true">
            <i class="fa fa-fw" ng-class="{'fa-check-square-o' : roleChecked,  'fa-square-o': !roleChecked }"></i>
          </span>
        </span>

        <span ng-switch-when="date" ng-init="opened={}">
          <!-- Case : Timestamp (date) -->
          <a href="#" editable-bsdate="definitionObject.uiValue" e-datepicker-popup="dd-MMMM-yyyy" onbeforesave="propertySave($data)" ng-if="editable"
            onshow="opened.do = true"
            buttons="no"
            blur="submit"
            e-is-open="opened.do"
            e-ng-click="opened.do = !opened.do"
            e-class="input-sm"
            e-show-calendar-button="false">
            {{definitionObject.uiValue | date:"dd/MM/yyyy"}} <i class="fa fa-pencil-square-o"></i>
          </a>
          <em ng-if="!editable">{{definitionObject.uiValue}}</em>
        </span>

        <span ng-switch-default id="p_{{propertyName}}" ng-class="{'editable-empty': !definitionObject.uiValue}">
          <!-- Default case (list, map or data type)-->
          <button ng-if="editable" type="button" class="btn btn-default btn-xs" ng-click="openComplexPropertyModal()"><i class="fa fa-pencil-square-o"></i></button>
          <em ng-if="!editable">{{definitionObject.uiValue}}</em>
        </span>

        <label ng-if="definition.required" uib-tooltip="{{ 'REQUIRED' | translate }}">*</label>
      </div>
      <!-- Reset button for any property definition -->
      <span class="pull-right">
        <span id='reset-property-{{propertyName}}' ng-show="editable" class="btn btn-xs" ng-click="resetProperty();">
          <i class="fa fa-undo text-default" uib-tooltip="{{ 'PROPERTY_RESET' | translate }}"
            tooltip-append-to-body="true"
            tooltip-placement="left"></i>
        </span>
        <info content="definition.description"></info>
      </span>
    </div>
  </div>
  <div class="col-md-3" ng-if="deletable && editable">
    <button type="button" uib-tooltip="{{ 'GENERIC_FORM.DELETE' | translate }}" class="btn btn-danger btn-sm"
            ng-click="onDelete()">
      <i class="fa fa-trash-o"></i>
    </button>
  </div>

  <script type="text/ng-template" id="propertySuggestionModal.html">
    <form name="updateSuggestionProperty" class="form-horizontal" role="form" ng-init="choice.value = propertySuggestionData.propertyValue" novalidate>
      <div class="modal-header">
        <h3>{{'PROPERTY_SUGGESTION.MODAL.TITLE' | translate}}</h3>
      </div>
      <div class="modal-body">
        <div>
          {{'PROPERTY_SUGGESTION.MODAL.DESCRIPTION' | translate}} <span ng-if="propertySuggestionData.suggestions">
          <div class="container">
            <div class="row">
                <div class="col-md-4">
                  <div class="radio">
                    <label><input type="radio" name="newSuggestionValue" ng-model="choice.value" ng-value="propertySuggestionData.propertyValue"> {{'PROPERTY_SUGGESTION.MODAL.USE' | translate}} <b>'{{propertySuggestionData.propertyValue}}'</b> {{'PROPERTY_SUGGESTION.MODAL.USE_YOUR_VALUE' | translate}}</label>
                  </div>
                  <span ng-repeat="suggestion in propertySuggestionData.suggestions">
                    <div class="radio">
                      <label><input type="radio" name="newSuggestionValue" ng-model="choice.value" ng-value="suggestion">{{'PROPERTY_SUGGESTION.MODAL.USE' | translate}} <b>'{{suggestion}}'</b></label>
                    </div>
                  </span>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn-create" class="btn btn-primary" ng-click="create(choice.value)">{{'OK' | translate}}</button>
        <button id="btn-cancel" class="btn btn-default" ng-click="cancel();$event.stopPropagation();">{{'CANCEL' | translate}}</button>
      </div>
    </form>
  </script>
</div>
