<!-- Property Name -->
<label ng-if="translated" id="p_name_{{propertyName}}" class="col-md-4 property-display-label-ellipsed control-label" ng-class="{'property-required': definition.required && definitionObject.uiEmpty}"
       uib-tooltip="{{propertyName | translate}}" tooltip-append-to-body="true"  style="padding-left: 0px;">
  {{propertyName | translate}}
</label>
<label ng-if="!translated" id="p_name_{{propertyName}}" class="col-md-4 property-display-label-ellipsed control-label" ng-class="{'property-required': definition.required && definitionObject.uiEmpty}" uib-tooltip="{{propertyName}}" tooltip-append-to-body="true"  style="padding-left: 0px;">
  {{propertyName}}
</label>

<!-- secret -->
<label>get_secret: </label>
<span ng-if="editable" id="p_secret_{{propertyName}}" editable-text="propertyValue.parameters[0]" e-placeholder="Please enter the secret path" buttons="no"
      onbeforesave="save($data)" blur="submit">
  {{ propertyValue.parameters[0] }} <i class="fa fa-pencil-square-o"></i>
</span>
<em ng-if="!editable">{{ propertyValue.parameters[0] }}</em>

<!-- Property definition -->
<span class="pull-right">
  <info content="definition.description"></info>
</span>
