<div ng-controller="UploadCtrl">
  <div class="drop-box" ng-show="dropSupported" ngf-drop="uploadCtrl.onFileSelect($files)">
    <div class="drop-box-workspace" ng-if="uploadWorkspaceTemplateUrl">
      <ng-include src="uploadWorkspaceTemplateUrl"></ng-include>
    </div>
    <i class="fa fa-file-text"></i> {{ dragAndDropMessage | translate }}, {{'COMMON.OR' | translate}}
    <label>
      <span class="drop-box-browse">{{ 'UPLOAD.BROWSE' | translate }}</span>.
      <input type="file"
        ngf-select="uploadCtrl.onFileSelect($files)"
        style="display:none"
        multiple />
    </label>
  </div>
  <div ng-show="!dropSupported">
    <div class="col-md-2" ng-if="uploadWorkspaceTemplateUrl">
      <ng-include src="uploadWorkspaceTemplateUrl"></ng-include>
    </div>
    <div class="fileUploadBtn btn btn-success" >
      <span>
        <i class="fa fa-upload"></i> {{ buttonMessage | translate }}
      </span>
      <input id="fileUpload" type="file"
        class="upload"
        ngf-drop-available="dropSupported=true"
        ngf-select="uploadCtrl.onFileSelect($files)"
        multiple>
    </div>
  </div>
  <div class="upload-infos-bloc" ng-repeat="uploadInfo in uploadInfos">
    <div uib-alert ng-class="'alert-' + (uploadInfo.infoType || 'warning')" close="uploadCtrl.closeUploadInfos($index)" style="margin-top: 15px;">
      <div class="col-md-5 upload-file-infos">
        <span class=" show-error-link"
           ng-click="uploadInfo.isErrorBlocCollapsed = !uploadInfo.isErrorBlocCollapsed"
           ng-show="uploadInfo.errors || uploadInfo.otherError">
           <i ng-class="{'fa fa-angle-double-down fa-lg' : uploadInfo.isErrorBlocCollapsed,  'fa fa-angle-double-up fa-lg' : !uploadInfo.isErrorBlocCollapsed }"></i>
           <i class="fa fa-exclamation-triangle"></i>
        </span>
        <span><strong>{{uploadInfo.name}}</strong></span>
      </div>
      <uib-progressbar class="progress-striped active"
        value="uploadInfo.progress" type="{{uploadInfo.infoType}}">{{uploadInfo.progress}}% {{'UPLOAD.COMPLETE' | translate}}</uib-progressbar>
    </div>
    <!-- Error details -->
    <parsing-errors upload-info="uploadInfo"></parsing-errors>
  </div>
</div>
