server:
  port: 8088

# Configuration of alien4cloud's CSAR repository, temporary folder and upload settings.
directories:
  # alien4cloud main directory (other directories are relative path to this one)
  alien: ${user.home}/.alien
  # directory in which alien4cloud stores Cloud Service Archives
  csar_repository: csar
  # directory in which alien4cloud stores uploaded artifacts (war etc.).
  artifact_repository: artifacts
  # temporary directory for alien4cloud
  upload_temp: upload
  # directory in which alien4cloud stores images.
  images: images

paas_monitor:
  # PaaS monitoring is done by a polling mechanism. This property allow to specify the interval between pollings (in milliseconds).
  monitor_interval_ms: 1000
  # Number of threads to use to monitor Platform as a Service systems.
  threadpool_size: 5
  # Duration to keep monitoring events stored in Alien4Cloud.
  # Event lifetime unit : d (days), m (minutes), h (hours), ms (milliseconds) or w (weeks), milliseconds is used as default unit
  events_lifetime: "1d"

# Initial default components upload : from folder /alien4cloud-core/src/main/default-normative-types
archive:
  upload_all: false

# configure the boost factors for tosca elements in the search, elements with the highest boost factor appears first in search results
# the total boost factor for a component is the sum of the following boost factors.
components.search.boost:
  # boost components that are used in topologies by (number of active topologies that uses the component * usage)
  usage: 1
  # components that exist in latest version get a boost factor regarding other components. Note that this factor should be very high as every component
  # with latest version will be boosted.
  version: 1000
  # components that are configured as default for at least 1 capability get the following a boost factor.
  default: 10
  # define in hours at what frequency the components boost should be recalculated.
  frequency: 24

# Configuration of the elastic search cluster.
elasticSearch:
  clusterName: escluster
  local: false
  client: false
  resetData: false
  prefix_max_expansions: 10

# Configuration of default admin ensurer, if true it creates a default admin user if no admin can be found in the system.
alien_security:
  admin:
    # Alien checks that an admin user is defined at the application launch.
    ensure: true
    username: admin
    password: admin
    email: admin@mycompany.com
  demo: true

### Ldap Configuration
ldap:
  enabled: false
  anonymousReadOnly: true
  url: ldap://ldap.fastconnect.fr:389
  userDn: uid=admin,ou=system
  password: secret
  base: ou=People,dc=fastconnect,dc=fr
  defaultRoles: COMPONENTS_BROWSER

  # will join all objectClasses with & to get users
  objectClassesInclude: person,hordePerson
  objectClassesExclude: CalendarResource

  # user field import mapping
  userIdKey: uid
  userFirstNameKey: givenName
  userLastNameKey: sn
  userEmailKey: mail

  # field to dertermine if the user is active
  userActiveKey: accountStatus
  userActiveValue: active
### End  Ldap Configuration

saml:
  enabled: false
#  proxy:
#    host: 193.56.47.20
#    port: 8080
  ssl:
    keystore: samlKeystore.jks
    defaultKey: apollo
    keystorepassword: nalle123
  metadata:
    sp:
      entityId: "org:alien4cloud:sp"
      # entityBaseURL: defaults to localhost:8088
      # requestSigned:
      # wantAssertionSigned:

# configuration for the upload module.
upload:
  max_archive_size: 52428800

documentation:
  services:
    version: 1.0
    basePath: rest

audit:
  ttl: 1d

openstack:
  user: alien4cloud-os
  password: Op3nSt@ck_@L1eN
  tenant: ALIEN4Cloud
  url: http://129.185.67.11:5000/v2.0
  region: RegionOne
  cfy3:
    manager_name: alien33rc1-manager-server
    manager_user:
    manager_password:

logs_deployment_appender:
  enable: false

features:
  editor_auto_completion: false