<ul class="nav nav-tabs">
  <li role="presentation" ng-repeat="menuItem in menu" ui-sref-active="active" ng-if="menuItem.show"
    ng-class="{'disabled' : menuItem.disabled}">
    <a id="{{menuItem.id}}"
       ng-click="onItemClick($event, menuItem)"
       ui-sref="{{menuItem.state}}"
       uib-tooltip="{{menuItem.key | translate}}" tooltip-placement="right"
       tooltip-append-to-body="true">
      <i class="{{menuItem.icon}}" ng-show="menuItem.icon" ng-class="{'text-muted' : menuItem.disabled}"></i>
    </a>
  </li>
</ul>
<div ui-view></div>
