<div class="row">
  <!-- main bloc -->
  <div class="col-md-12">
    <div class="col-md-12 well">
      <div class="row">
        <div class="col-md-2 center visible-md visible-lg">
          <img ng-if="component" ng-src="img?id={{getIcon(component.tags)}}&quality=QUALITY_128" />
        </div>
        <div class="col-md-10">
          <div id="compElementIdDetail">
            <h1>
              <span>{{ component.elementId | splitAndGet:'.':'last' }} <small>(<span ng-bind-html="dotWb(component.elementId)"></span>)</small></span>
              <img ng-if="component.abstract"
                  class="icon_24"
                  alt="abstract_ico"
                  uib-tooltip="{{'COMPONENTS.COMPONENT.ABSTRACT_COMPONENT' | translate}}"
                  tooltip-placement="top"
                  src="images/abstract_ico.png"/>
            </h1>
          </div>

          <fieldset>
            <legend>
              <h4><i class="fa fa-archive"></i> {{'COMPONENTS.ARCHIVE' | translate }}</h4>
            </legend>
            <div class="row">
              <div class="col-md-2">
                <strong>{{'COMPONENTS.ARCHIVE_NAME' | translate }}</strong>
              </div>
              <div class="col-md-4" id="archive_name">{{component.archiveName}}</div>
              <div class="col-md-2">
                <strong>{{'CREATION_DATE' | translate }}</strong>
              </div>
              <div class="col-md-4">{{component.creationDate | date:'medium'}}</div>
            </div>
            <div class="row grp-margin">
              <div class="col-md-2">
                <strong>{{'COMPONENTS.ARCHIVE_VERSION' | translate }}</strong>
              </div>
              <div class="col-md-4" id="archive_version">{{component.archiveVersion}}</div>
              <div class="col-md-2">
                <strong>{{'UPDATE_DATE' | translate }}</strong>
              </div>
              <div class="col-md-4">{{component.lastUpdateDate | date:'medium'}}</div>
            </div>

            <!-- derived from -->
            <div class="row grp-margin">
              <div class="col-md-2">
                <strong>{{'COMPONENTS.DERIVEDFROM' | translate }}</strong>
              </div>
              <div class="col-md-4">
                <span ng-repeat="parent in component.derivedFrom" uib-tooltip="{{parent}}">
                  <i class="fa fa-long-arrow-right"></i> {{parent | splitAndGet:'.':'last'}}
                </span>
              </div>
              <div class="col-md-6">
                <a href ng-if="component.substitutionTopologyId" ng-click="displaySubtitutionTopology(component.archiveName, component.archiveVersion)">{{ 'APPLICATIONS.TOPOLOGY.SUBSTITUTIONS.DISPLAY' | translate}}</a>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="row">
        <!-- Component Documention bloc-->
        <div ng-if="component.description" class="col-md-6">
          <fieldset class="detail-bloc">
            <legend>
              <h4>
                <i class="fa fa-book"></i> {{'COMMON.DESCRIPTION' | translate}}
              </h4>
            </legend>
            <div>{{component.description}}</div>
          </fieldset>
        </div>

        <!-- Properties display -->
        <div ng-if="!_.isEmpty(component.properties)" class="col-md-6">
          <fieldset class="detail-bloc">
            <legend>
              <h4>
                <i class="fa fa-list"></i> {{'COMMON.PROPERTIES' | translate}}
              </h4>
            </legend>
            <table class="table table-condensed">
              <tr ng-repeat="propertyEntry in component.properties">
                <td><strong>{{propertyEntry.key}}</strong></td>
                <td>
                  <div ng-repeat="constraint in propertyEntry.value.constraints">
                    <span ng-repeat="(name, value) in constraint"> {{name}} : {{value}} </span>
                  </div>
                </td>
                <td>
                  <span class="pull-right">
                    <info content="propertyEntry.value.description" size="sm"></info>
                  </span>
                </td>
              </tr>
            </table>
          </fieldset>
        </div>

        <!-- Attributes display -->
        <div ng-if="!_.isEmpty(component.attributes)" class="col-md-6">
          <fieldset class="detail-bloc">
            <legend>
              <h4>
                <i class="fa fa-list"></i> {{'COMMON.ATTRIBUTES' | translate}}
              </h4>
            </legend>
            <table class="table table-condensed">
              <tr ng-repeat="propertyEntry in component.attributes">
                <td><strong>{{propertyEntry.key}}</strong>
                </td>
                <td>
                  <span>
                    {{propertyEntry.value.description || '--' }}
                  </span>
                </td>
              </tr>
            </table>
          </fieldset>
        </div>

        <!-- Tags display -->
        <div class="col-md-6">
          <fieldset class="detail-bloc">
            <legend>
              <h4>
                <i class="fa fa-tags"></i> Tags
              </h4>
            </legend>

            <table class="table table-condensed">
              <tr ng-repeat="tag in component.tags" ng-if="!isInternalTag(tag.name)" id="tag_{{tag.name}}">
                <td>
                  <span>
                    <strong>{{tag.name}}</strong>
                  </span>
                </td>
                <td>
                  <span editable-text="component.tags[$index].value" ng-if="isManager" buttons="no" e-required onaftersave="updateTag(tag.name,$data)" blur="submit">
                    {{tag.value}}
                    <i class="fa fa-pencil-square-o"></i>
                  </span>
                  <span ng-if="!isManager">
                     {{tag.value}}
                  </span>
                </td>
                <td>
                  <a id='delete_tag_{{tag.name}}' ng-click="deleteTag(tag)" ng-if="isManager">
                    <i class="fa fa-trash-o text-danger"></i>
                  </a>
                </td>
              </tr>
            </table>
            <form name="formAddTag" class="form-inline" ng-submit="addTag(newTag)">
              <div ng-class="{'form-group':true, 'has-error': newTag.val && formAddTag.tagkey.$invalid}">
                <input type="text" class="form-control" id="input-key" name="tagkey" ng-model="newTag.key" ng-pattern="tagKeyPattern" uib-typeahead="item for item in tagSuggestion.get($viewValue)" typeahead-min-length="tagSuggestion.minLength" required/>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="input-value" name="tagvalue" ng-model="newTag.val"/>
              </div>
              <div class="form-group">
                <button ng-disabled="formAddTag.tagkey.$invalid" type="submit" class="btn btn-primary btn-sm" id="btn-add-tag">
                  <i class="fa fa-plus-circle"></i>
                </button>
              </div>
              <div class="form-group">
                <p ng-class="{'text-danger': formAddTag.tagkey.$invalid}" ng-show="newTag.val && formAddTag.tagkey.$invalid">
                  {{ 'COMPONENTS.FORM_ERRORS.TAG_KEY' | translate }}
                </p>
              </div>
            </form>
            <meta-properties-display
                    properties-type="'component'"
                    target="component"
                    resturl="'rest/latest/components/:id/properties'"
                    params="{id: component.id}">
            </meta-properties-display>
          </fieldset>
        </div>

        <!-- Capabilities display -->
        <div ng-if="!_.isEmpty(component.capabilities)" class="col-md-6">
          <fieldset class="detail-bloc">
            <legend>
              <h4>
                <i class="fa fa-power-off fa-rotate-270"></i> {{ 'COMMON.CAPABILITIES'| translate }}
              </h4>
            </legend>
            <table class="table table-condensed">
              <tr ng-repeat="capability in component.capabilities" id="{{capability.id}}">
                <td>
                  <span ng-class="{'badge alert-success' : isDefaultCapability = isADefaultCapability(capability.type)}"><strong>{{capability.id}}</strong> <i ng-show="isDefaultCapability" class="fa fa-star"></i></span>
                </td>
                <td>
                  {{capability.type}}
                </td>
                <td>
                  <span class="cardinalities_show_component" uib-tooltip="{{'COMPONENTS.CAPABILITIES.CARDINALITIES_TOOLTIP' | translate}}" tooltip-append-to-body="true"><strong>
                      {{'BOUNDS' | translate}}:
                      {{capability.upperBound | replaceAll:'unbounded':'&infin;' }}</strong>
                  </span>
                </td>
                <td>
                  <a class=" btn btn-success btn-xs  pull-right"
                    id="{{capability.id}}_flagRecommended"
                    uib-tooltip="{{'COMPONENTS.COMPONENT.RECOMMEND_MESSAGE' | translate}}" tooltip-placement="bottom" ng-click="recommendForThisCapability(capability.type)" ng-if="!isDefaultCapability && isManager">
                      &nbsp;&nbsp;<i class="fa fa-star" ></i>&nbsp;&nbsp;
                  </a>
                  <a class=" btn btn-danger btn-xs  pull-right"
                    id="{{capability.id}}_unflagRecommended"
                    uib-tooltip="{{'COMPONENTS.COMPONENT.UNRECOMMEND_MESSAGE' | translate}}" tooltip-placement="bottom" ng-click="unflagAsDefaultForThisCapability(capability.type)" ng-if="isDefaultCapability && isManager">
                      &nbsp;&nbsp;<i class="fa fa-star-o"></i>&nbsp;&nbsp;
                  </a>
                </td>
              </tr>
            </table>
          </fieldset>
        </div>

        <!-- Requirement display -->
        <div ng-if="!_.isEmpty(component.requirements)" class="col-md-6">
          <fieldset class="detail-bloc">
            <legend>
              <h4>
                <i class="fa fa-power-off fa-rotate-90"></i> {{ 'COMPONENTS.REQUIREMENTS.TYPE'| translate }}
              </h4>
            </legend>
            <table class="table table-condensed">
              <tr ng-repeat="requirement in component.requirements">
                <td><strong>{{requirement.id}}</strong>
                </td>
                <td>{{requirement.type}}</td>
                <td>
                  <span class="cardinalities_show_component" uib-tooltip="{{'COMPONENTS.CARDINALITIES_TOOLTIP' | translate}}" tooltip-append-to-body="true"><strong>
                      {{'BOUNDS' | translate}}:
                      {{requirement.lowerBound}} .. {{requirement.upperBound | replaceAll:'unbounded':'&infin;' }}</strong>
                  </span>
                </td>
              </tr>
            </table>
          </fieldset>
        </div>

        <!-- Interfaces display -->
        <div ng-if="!_.isEmpty(component.interfaces)" class="col-md-6">
          <fieldset class="detail-bloc">
            <legend>
              <h4>
                <i class="fa fa-cogs"></i> {{'COMPONENTS.COMPONENT.INTERFACES' | translate}}
              </h4>
            </legend>
            <table class="table table-condensed">
              <tr ng-repeat="(interfaceName, interface) in component.interfaces">
                <td>
                  <a ng-init="interfaceCollapse=true" ng-click="interfaceCollapse = !interfaceCollapse"> <strong>{{interfaceName}}</strong>
                  </a>
                  <div class="table-responsive" style="padding-left: 20px;" uib-collapse="interfaceCollapse">
                    <table class="table table-condensed">
                      <tr ng-repeat="(operationName, operation) in interface.operations">
                        <td><b><a ng-click="openArchiveModal(operation.implementationArtifact.artifactRef)">{{operationName}}</b>
                          </a>
                        </td>
                        <td><span>{{operation.description}} {{operation.implementationArtifact.artifactRef}} {{operation.implementationArtifact.artifactType}}</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </fieldset>
        </div>

      </div>
    </div>
  </div>

  <script type="text/ng-template" id="confirmChoice.html">
    <div class="modal-header">
      <h3>{{'COMPONENTS.CONFIRM_RECOMMENDATION_MODAL.HEADER' | translate}}</h3>
    </div>
    <div class="modal-body">
      {{'COMPONENTS.CONFIRM_RECOMMENDATION_MODAL.MESSAGE' | translate:confirmObject}}
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="recommend()">{{'COMPONENTS.CONFIRM_RECOMMENDATION_MODAL.OK' | translate}}</button>
      <button class="btn btn-danger" ng-click="cancel()">{{'CANCEL' | translate}}</button>
    </div>
  </script>
</div>
