<div class="row" style="margin-bottom: 20px">
  <div class="col-md-12">
    <div class="pull-right">
      <delete-confirm id="btn-delete-cloud-image" func="delete()"
                      position="left" bssize="btn-sm" fastyle="fa-trash-o">
      </delete-confirm>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-3">
        <div ng-if="!cloudImage.iconId"
             class="drop-box drop-box-for-image"
             ng-file-drop="onIconSelected($files)">
          <div class="text-center">{{'CLOUD_IMAGES.ICON_UPLOAD' | translate}}</div>
        </div>
        <img ng-if="cloudImage.iconId"
             ng-src="{{cloudImage.iconId?('img?id=' + cloudImage.iconId + '&quality=QUALITY_128'):null}}"
             ng-file-drop="onIconSelected($files)" />
      </div>
      <div class="col-md-9">
        <simple-generic-form root-object="cloudImage"
                             type="cloudImageFormDescriptor"
                             save="save(object)">
        </simple-generic-form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        <simple-generic-form root-object="requirement"
                             type="requirementDescriptor"
                             save="saveRequirement(object)">
        </simple-generic-form>
      </div>
    </div>
  </div>
</div>