@import "bootstrap_variables";

.new-app-modal .modal-dialog {
  width: 90%;
}

.application-thumbnail {
  width: 266px;
  height: 306px;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  vertical-align: bottom;
}

.application-icon {
  width: 256px;
  height: 256px;
}

.application-name {
  border-top: 1px solid #dddddd;
  padding: 4px;
}

#app-name .help-block {
  font-size: 14px;
}

.nav-tabs li.active a {
  background-color: white;
}

.tab-pane {
  background-color: white;
  padding: 10px;
  border: 1px solid #dddddd;
  border-top-color: transparent;
}

.resource-user-roles h5 {
  text-align: center;
  color:white;
  background-color: #3276b1;
  padding: 5px;
  font-weight: 500;
}

.resource-user-roles .thumbnail {
  max-height: 500px;
  min-height: 200px;
  overflow: auto;
}

.task-list-box {
  padding-left: 5px;
  border-left: 3px solid $state-danger-text;
}

.warning-list-box {
  padding-left: 5px;
  border-left: 3px solid $state-warning-text;
}

.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

li.selected {
   background-color: #dff0d8;
}

// FIXME: just a hack to make menu popup visible
.dropdownAsSelect {
  position: relative !important;
}

.table-responsive tr > td {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-left: 0px;
  word-wrap: break-word;
  max-width: 40px;
}

.table-responsive tr > td.image-in-table-responsive {
  min-width: 65px;
  max-width: 66px;
}
