// This file is used to replace bootstrap bold (700) usages in 500.
dt {
  font-weight: 500;
}
b,
strong {
  font-weight: 500;
}
.label {
  font-weight: 500;
}
label {
  font-weight: 500;
}
th {
  font-weight: 500;
}
