/*drop box*/
.drop-box {
  background: #F8F8F8;
  border: 3px dashed #DDD;
  //width: 80%;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  margin: 15px auto;
  color: #C8C8C8;
  font-weight: 500;
}

.drop-box div {
  position: absolute;
  top: 47%;
}

.drop-box-for-image {
  height: 256px;
}

/*file upload button*/
.fileUploadBtn {
  overflow: hidden;
}

.fileUploadBtn input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity = 0);
}

.fileUploadImg {
  position: relative;
  overflow: hidden;
  padding: 0px;
  border: 0px;
}

.fileUploadImg input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity = 0);
}

.upload-infos-bloc {
  // width: 80%;
  margin: auto;
  margin-bottom: 15px;
  padding-bottom: 0;
}

.upload-infos-bloc .alert {
  margin-bottom: 0;
}

.upload-infos-bloc table tr.info {
  cursor: inherit;
}

.upload-file-infos {
  padding-left: 0px;
}

.upload-file-infos .show-error-link {
  cursor: pointer;
  text-align: left;
  margin-right: 15px;
}

.progress {
  margin-bottom: 0px;
}
