.language.flag-fr {
  background-image: url("../images/flags/flags_iso/24/fr-fr.png");
  background-repeat: no-repeat;

}
.language.flag-us {
  background-image: url("../images/flags/flags_iso/24/en-us.png");
  background-repeat: no-repeat;
}
.language.flag-jp {
  background-image: url("../images/flags/flags_iso/24/ja-jp.png");
  background-repeat: no-repeat;
}