
.plan-box {
  padding: 2px;
  border: 2px solid;
  border-radius: 5px;
}

.plan-state {
  font-size: 10px;
  width: 64px;
  height: 38px;
}

.plan-operation {
  font-size: 10px;
  width: 140px;
}

.plan-icon {
  font-family: FontAwesome;
  font-style: normal;
}

.svgHtml {
  background-color: rgba(0, 0, 0, 0);
}
.wfStepUnselected {
}
.wfStepSelected {
  stroke: green !important;
}
.wfStepPinned {
  stroke: blue !important;
}

.wfOperationLabel {
  font-weight: bold;
  font-size: 14px;
}

.wfStateLabel {
  font-size: 10px;
}

.wfDelegateLabel {
  font-weight: bold;
  font-size: 14px;  
}

.wfbox {
  background-color: #FAFAFA !important;
  margin-bottom: 10px;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.wfActivityDetail {
  color: #8F0200;
}

.wfbox h4 {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

.wf-tip {
  background-color: #FAFAFA;
  padding: 10px;
}
.wf-tip h5 {
  margin-top: 3px;
  color: #1E4957;
}
.wf-tip i {
  margin: 5px;
}

.wfLabelError {
  white-space: normal !important;
  text-align: left !important;
  font-size: 100% !important;
  display: inline-block !important;
  padding: 3px !important;
  margin: 2px !important;
}