<div class="horizontal-panel">
  <div class="col-md-4" style="overflow: hidden" id="template_{{topologyTemplate.name}}_name">
    <span editable-text="topologyTemplate.name"
      buttons="no"
      e-required
      e-class="input-sm"
      onbeforesave="updateTopologyTemplate('name', $data)"
      blur="submit" class="horizontal-panel-text">
      {{topologyTemplate.name}} <i class="fa fa-edit"></i>
    </span>
  </div>
  <div class="col-md-8" style="overflow: hidden" id="template_{{topologyTemplate.name}}_description">
    <div class="horizontal-panel-label">{{'APPLICATIONS.DESC' | translate }} :</div>
    <span editable-text="topologyTemplate.description"
      buttons="no"
      e-class="input-sm"
      onbeforesave="updateTopologyTemplate('description', $data)"
      blur="submit" class="horizontal-panel-text-light">
      {{topologyTemplate.description}} <i class="fa fa-edit"></i>
    </span>
  </div>
</div>
<div class="vertical-panel-shift" ui-view></div>
