<div>
 <!-- Input properties  -->
  <div class="row" style="margin-top: 20px;" ng-if="isAllowedInputDeployment()">
    <div class="col-md-12">
      <span>
        <i class="fa fa-sign-in"></i>
        <strong>{{'APPLICATIONS.TOPOLOGY.PROPERTIES_INPUTS' | translate}}</strong>
      </span>
      <div id="inputsTable" ng-if="setup" class="col-md-12" ng-repeat="(inputId, inputDefinition) in inputs | allowedInputs">
        <hr/>
        <div id="app_deployment_id_{{inputId}}" class="col-md-4">
          {{inputId}}
        </div>
        <div id="app_deployment_value_{{inputId}}" class="col-md-8">
          <property-display definition="inputDefinition"
                            property-value="setup.inputProperties[inputId]"
                            on-save="updateInputValue(propertyDefinition, propertyValue, inputId)"
                            editable="!(selectedEnvironment.status === 'DEPLOYED')"
                            condensed="true">
          </property-display>
        </div>
      </div>
    </div>
  </div>

  <!-- Input artifacts  -->
  <div class="row" style="margin-top: 20px;" ng-if="inputArtifactsSize>0">
    <div class="col-md-12">
      <span>
        <strong>{{'APPLICATIONS.TOPOLOGY.ARTIFACTS.INPUTS' | translate}}</strong>
      </span>
      <ul>
        <li ng-repeat="(artifactKey,artifactValue) in inputArtifacts">
          {{artifactKey}}
          <div class="topology-level" collapse="isArtifactCollapsed">
            <div class="row">
              <div class="col-md-3">{{'APPLICATIONS.TOPOLOGY.TYPE' | translate}}</div>
              <div class="col-md-9">{{artifactValue.artifactType}}</div>
            </div>
            <div class="row">
              <div class="col-md-3">{{'APPLICATIONS.TOPOLOGY.REFERENCE' | translate}}</div>
              <div class="col-md-9">
                <div ng-if="!uploads[artifactKey].isUploading">
                  <span tooltip="{{artifactValue.artifactName}}" tooltip-trigger="{{{true: 'mouseenter', false: 'never'}[artifactValue.artifactName.length > 20]}}">{{artifactValue.artifactName | truncate:20}}</span>
                   <div class="fileUploadImg btn" tooltip="{{'APPLICATIONS.TOPOLOGY.UPDATE_ARTIFACT' | translate}}">
                    <span>
                      <i class="fa fa-upload text-primary"></i>
                    </span>
                    <input type="file" class="upload" ng-file-select="onArtifactSelected($files, artifactKey, inputArtifactValue)">
                  </div>
                </div>
                <progressbar ng-if="uploads[artifactKey].isUploading" class="progress-striped active" value="uploads[artifactKey].uploadProgress" type="{{uploads[artifactKey].type}}" />
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
