<div>
    <div class=row>
      <div ng-repeat="locationMatch in deploymentContext.locationMatches" class="col-xs-6 col-md-3" >
        <span ng-if="(isSelected=isLocationSelected(locationMatch.location))" class="thumbnail alert-success">
          <b>{{locationMatch.location.name}}</b>  <br>
          <i>From orchestrator </i>: <b>{{locationMatch.orchestrator.name}}</b>
        </span>
        <a ng-if="!isSelected" ng-click="selectLocation(locationMatch)" class="thumbnail">
          <b>{{locationMatch.location.name}}</b>  <br>
          <i>From orchestrator </i>: <b>{{locationMatch.orchestrator.name}}</b>
        </a>
      </div>
    </div>
</div>
