<div>
  <div class="row" style="margin-bottom: 10px;">
    <!--  Create button -->
    <div class="col-md-9">
      <button class="btn btn-success" id="app-version-new-btn" ng-click="openNewAppVersion()">
        <i class="fa fa fa-plus-circle"></i> {{'APPLICATIONS.VERSION.NEW' | translate}}
      </button>
    </div>

    <!--  App version search -->
    <div class="col-md-3 pull-right">
      <form role="search" ng-submit="searchService.search()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="..." ng-model="query">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default" data-loading-text="Loading...">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <div class="large-data-container">
        <div class="alien-table-row" id="av-{{version.version}}" ng-repeat="version in searchAppVersionResult" ng-init="isAvtCollapsed = false">
          <div class="row">
            <div class="col-md-3">
              <button class="btn btn-sm btn-transparent" id="avt-clpse-btn-{{version.version}}" ng-click="isAvtCollapsed = !isAvtCollapsed;">
                <i class="pull-left fa" ng-class="{'fa-caret-down' : !isAvtCollapsed, 'fa-caret-right': isAvtCollapsed}"></i>
              </button>
              <span id="avt-f-version-{{version.version}}" editable-text="version.version"
                onbeforesave="updateApplicationVersion('version',$data, version.id)" buttons="no" style="font-style:inherit;" blur="submit">
                {{version.version}} <i class="fa fa-edit"></i>
              </span>
            </div>
            <div class="col-md-7">
              <span id="avt-f-desc-{{version.version}}" editable-text="version.description"
                onbeforesave="updateApplicationVersion('description',$data, version.id)" buttons="no" style="font-style:inherit;" blur="submit">
                {{version.description}} <i class="fa fa-edit"></i>
              </span>
            </div>
            <div class="col-md-2">
              <div class="pull-right">
                <button class="btn btn-sm btn-success" id="avt-new-btn-{{version.version}}" ng-click="openNewAppTopoVersion(version)"
                  uib-tooltip="{{'APPLICATIONS.VERSION.TOPOLOGY.NEW' | translate}}" tooltip-placement="left" tooltip-append-to-body="true">
                  <i class="fa fa fa-plus-circle"></i>
                </button>
                <delete-confirm  id='delete-version-{{version.version}}' func="delete(version.id)" position="left" bssize="btn-sm" fastyle="fa-trash-o">
                </delete-confirm>
              </div>
            </div>
          </div>
          <div class="row" uib-collapse="isAvtCollapsed" ng-repeat="(topologyVersionKey, topologyVersionValue) in version.topologyVersions">
            <div class="col-md-12">
              <div class="row alien-table-child-row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                  {{topologyVersionKey}}
                </div>
                <div class="col-md-7">
                  {{topologyVersionValue.description}}
                </div>
                <div class="col-md-2">
                  <div class="pull-right">
                    <delete-confirm  id='delete-version-{{version.version}}' func="deleteAppTopoVersion(version, topologyVersionKey)" position="left" bssize="btn-sm" fastyle="fa-trash-o">
                    </delete-confirm>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <pagination-directive pagination-info="searchService.pagination" />
      </div>
    </div>
  </div>
</div>
