<div>
  <div class="row" style="margin-top: 10px">
    <div class="col-md-6">
      <accordion close-others="oneAtATime">
        <accordion-group is-open="status.open" ng-repeat="(nodeName, templates) in substitutionContext.availableSubstitutions">
          <accordion-heading ng-init="substitutedNode = getSubstitutedTemplate(nodeName); nodeIcon = getIcon(substitutedNode)">
            <div class = "row">
              <div class = "col-md-12">
                <i ng-if="!nodeIcon" class="fa fa-cogs"></i>
                <img ng-if="nodeIcon" ng-src="img?id={{nodeIcon}}&quality=QUALITY_32">
                {{nodeName}} <i class="fa"
                                ng-class="{'fa-chevron-down': status.open && substitutedNode, 'fa-chevron-right': !status.open && substitutedNode, 'fa-exclamation-triangle text-danger': !substitutedNode}"></i>
              </div>
            </div>
          </accordion-heading>
          <p ng-if="!substitutedNode">
            No substitution available for this node
          </p>
          <table ng-if="substitutedNode" class="table table-hover">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="template in templates"
                  class="clickable"
                  ng-class="{'warning': selectedResourceTemplate.id === template.id && selectedNodeName === nodeName}">
                <td ng-click="changeSubstitution(nodeName, template)" class="col-md-1">
                  <a>
                    <i class="fa fa-fw"
                       ng-class="{
                                 'fa-check-square-o' : getSubstitutedTemplate(nodeName).id === template.id ,
                                 'fa-square-o': getSubstitutedTemplate(nodeName).id !== template.id,
                                 }">
                    </i>
                  </a>
                </td>
                <td class="col-md-1" ng-click="selectTemplate(nodeName, template)">
                  {{template.name}}
                </td>
                <td class="col-md-10" ng-click="selectTemplate(nodeName, template)">
                  {{template.template.type}}
                </td>
              </tr>
            </tbody>
          </table>
        </accordion-group>
      </accordion>
    </div>
    <div class="col-md-6">
      <div ng-if="selectedResourceTemplate" class="well" ng-init="substitutedTemplate = getSubstitutedTemplate(selectedNodeName)">
        <orchestrator-location-resource-template
            is-editable="false"
            is-property-editable="substitutedTemplate.id === selectedResourceTemplate.id"
            resource-template="selectedResourceTemplate"
            resource-type="substitutionContext.substitutionTypes.nodeTypes[selectedResourceTemplate.template.type]"
            resource-capability-types="substitutionContext.substitutionTypes.capabilityTypes"
            dependencies="deploymentContext.deploymentTopologyDTO.topology.dependencies"
            on-property-update="updateSubstitutionProperty(propertyName, propertyValue)"
            on-capability-property-update="updateSubstitutionCapabilityProperty(capabilityName, propertyName, propertyValue)">
        </orchestrator-location-resource-template>
      </div>
    </div>
  </div>
</div>
