<div>
  <div class="row">
    <div class="col-md-6">
      <select ng-if="envs" class="form-control" ng-model="deploymentContext.selectedEnvironment" ng-options="env.name for env in envs"
              ng-change="goToLocationTab()" ng-options="loc.location.name for loc in locations"></select>
    </div>
    <div class="col-md-6">
      <!-- DEPLOY BUTTON -->
      <button id="btn-deploy"
              type="button"
              class="btn btn-success application-deploy-button"
              ng-disabled="!validTopologyDTO.valid || !deploymentContext.selectedLocation || isDeploying"
              ng-click="deploy()"
              ng-show="deploymentContext.selectedEnvironment.status === 'UNDEPLOYED'">
        <i class="fa" ng-class="{'fa-play': !isDeploying, 'fa-spinner fa-spin': isDeploying}"></i> {{'APPLICATIONS.DEPLOY' | translate}}
      </button>
      <button id="btn-undeploy"
              type="button"
              class="btn btn-danger application-deploy-button"
              ng-click="undeploy()"
              ng-if="(deploymentContext.selectedEnvironment.status === 'DEPLOYED' ||
                      deploymentContext.selectedEnvironment.status === 'WARNING' ||
                      deploymentContext.selectedEnvironment.status === 'DEPLOYMENT_IN_PROGRESS' ||
                      deploymentContext.selectedEnvironment.status === 'FAILURE') &&
                      deploymentContext.selectedLocation">
        <i class="fa" ng-class="{'fa-stop': !isUnDeploying, 'fa-spinner fa-spin': isUnDeploying}"></i> {{'APPLICATIONS.UNDEPLOY' | translate}}
      </button>
    </div>
  </div>

  <!--  Task list -->
  <div class="row" ng-if="showTodoList()">
    <!--       <div class="row"> -->
    <div id="deploymentTodoList" class="col-md-12">
      <h3 class="text-danger"><i class="fa fa-exclamation-triangle"></i> {{'APPLICATIONS.TOPOLOGY.TASK.LABEL' | translate}}</h3>

      <div class="task-list-box">
        <!-- case the topology is not created -->
        <span ng-if="!topologyId">
          {{'APPLICATIONS.TOPOLOGY.TASK.CREATE_TOPOLOGY_MESSAGE' | translate}}.
        </span>

        <!-- case the topology is empty -->
        <span ng-if="!validTopologyDTO.taskList && topologyId">
          {{'APPLICATIONS.TOPOLOGY.TASK.EMPTY_TOPOLOGY_MESSAGE' | translate}}.
        </span>

        <!--  Replacement tasks  -->
        <div ng-if="(toReplaceNodeTasks = (validTopologyDTO.taskList | filter:{code:'REPLACE'})).length>0">

          <div class="topology-node-expand clickable" ng-init="isToReplaceNodesCollapsed = false"
               ng-click="isToReplaceNodesCollapsed = !isToReplaceNodesCollapsed">
            <i class="pull-left fa" ng-class="{'fa-chevron-down' : !isToReplaceNodesCollapsed, 'fa-chevron-right': isToReplaceNodesCollapsed}"></i>
            <span>{{'APPLICATIONS.TOPOLOGY.TASK.REPLACE_LABEL' | translate}}</span>
          </div>

          <div collapse="isToReplaceNodesCollapsed" class="topology-level">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th></th>
                  <th>{{'SUGGESTIONS' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat=" toReplaceNodeTask in toReplaceNodeTasks">
                  <td>
                    <span>{{toReplaceNodeTask.nodeTemplateName}}</span>
                    <span>({{toReplaceNodeTask.component.elementId}})</span>
                  </td>
                  <td>
                    <ul class="td_list liste-no-style" ng-if="toReplaceNodeTask.suggestedNodeTypes">
                      <li ng-repeat="nodeType in toReplaceNodeTask.suggestedNodeTypes">
                        {{nodeType.elementId}}
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!--  Node Filter tasks  -->
        <div ng-if="(nodeFiltersTasks = (validTopologyDTO.taskList | filter:{code:'NODE_FILTER_INVALID'})).length>0">
          <div class="topology-node-expand clickable" ng-init="isToImplementNodesCollapsed = false"
               ng-click="isToImplementNodesCollapsed = !isToImplementNodesCollapsed">
            <i class="pull-left fa" ng-class="{'fa-chevron-down' : !isToImplementNodesCollapsed, 'fa-chevron-right': isToImplementNodesCollapsed}"></i>
            <span>{{'APPLICATIONS.TOPOLOGY.TASK.NODE_FILTER.NODE_FILTER_INVALID' | translate}} :</span>
          </div>

          <div collapse="isToImplementNodesCollapsed" class="topology-level">
            <div ng-repeat=" nodeFiltersTask in nodeFiltersTasks">
              <span>{{nodeFiltersTask.nodeTemplateName}} :</span>

              <div ng-repeat=" nodeFilterToSatisfy in nodeFiltersTask.nodeFiltersToSatisfy">
                <span style="padding-left: 5px;">{{nodeFilterToSatisfy.relationshipName}} :</span>
                <!-- node_filters capabilities -->
                <table class="table table-condensed" ng-if="nodeFilterToSatisfy.missingCapabilities">
                  <thead>
                    <th>{{ 'APPLICATIONS.TOPOLOGY.TASK.NODE_FILTER.CAPABILITY_NAME' | translate}}</th>
                    <th>{{'APPLICATIONS.DEPLOYMENT.PROPERTIES.WARNING' | translate}}</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="(missingCapabilityName, missingCapability) in nodeFilterToSatisfy.missingCapabilities">
                      <td>
                        <span>{{missingCapability}}</span>
                      </td>
                      <td>
                        <span>{{ 'APPLICATIONS.TOPOLOGY.TASK.NODE_FILTER.CAPABILITY_MISSING_ERROR' | translate}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- node_filters properties -->
                <table class="table table-condensed" ng-if="nodeFilterToSatisfy.violatedConstraints">
                  <thead>
                    <th>{{ 'APPLICATIONS.TOPOLOGY.TASK.NODE_FILTER.PROPERTY_NAME' | translate}}</th>
                    <th>{{'APPLICATIONS.DEPLOYMENT.PROPERTIES.WARNING' | translate}}</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="(violatedConstraintName, violatedConstraint) in nodeFilterToSatisfy.violatedConstraints">
                      <td>
                        <span>{{violatedConstraintName}}</span>
                      </td>
                      <td>
                        <span>{{violatedConstraint[0].message}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!--  LowerBound not satisfied tasks  -->
        <div ng-if="(lowerBoundTasks = (validTopologyDTO.taskList | filter:{code:'SATISFY_LOWER_BOUND'})).length>0">
          <div class="topology-node-expand clickable" ng-init="isToAddRelationsCollapsed = false"
               ng-click="isToAddRelationsCollapsed = !isToAddRelationsCollapsed">
            <i class="pull-left fa" ng-class="{'fa-chevron-down' : !isToAddRelationsCollapsed , 'fa-chevron-right': isToAddRelationsCollapsed }"></i>
            <span>{{'APPLICATIONS.TOPOLOGY.TASK.TOADD_RELATIONSHIP_LABEL' | translate}}</span>
          </div>

          <div collapse="isToAddRelationsCollapsed " class="topology-level">
            <table class="table table-condensed">
              <thead>
                <th></th>
                <th>{{'APPLICATIONS.TOPOLOGY.REQUIREMENTS' | translate}}</th>
              </thead>
              <tbody>
                <tr ng-repeat=" lowerBoundTask in lowerBoundTasks">
                  <td>
                    <span>{{lowerBoundTask.nodeTemplateName}}</span>
                    <span>({{lowerBoundTask.component.elementId}})</span>
                  </td>
                  <td>
                    <div class="row" ng-repeat=" req in lowerBoundTask.requirementsToImplement">
                      <div class="col-md-10">
                        <span>{{req.name}}</span>
                        <span>({{req.type}})</span>
                      </div>
                      <div class="col-md-2">
                        <span>{{req.remainingBound}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!--  Required properties tasks  -->
        <div ng-if="(requiredPropertiesTasks = (validTopologyDTO.taskList| filter:{code:'PROPERTIES'})).length>0">
          <div class="topology-node-expand clickable" ng-init="isRequiredPropertiesCollapsed = false"
               ng-click="isRequiredPropertiesCollapsed = !isRequiredPropertiesCollapsed">
            <i class="pull-left fa" ng-class="{'fa-chevron-down' : !isRequiredPropertiesCollapsed , 'fa-chevron-right': isRequiredPropertiesCollapsed }"></i>
            <span>{{'APPLICATIONS.TOPOLOGY.TASK.REQUIRED_PROPERTIES_LABEL' | translate}}</span>
          </div>

          <div collapse="isRequiredPropertiesCollapsed " class="topology-level">
            <table class="table table-condensed">
              <thead>
                <th></th>
                <th>{{'APPLICATIONS.DEPLOYMENT.PROPERTIES.REQUIRED' | translate}}</th>
                <th><i class="fa fa-exclamation-triangle" tooltip="{{'APPLICATIONS.DEPLOYMENT.PROPERTIES.WARNING_MESSAGE' | translate}}"></i>
                  {{'APPLICATIONS.DEPLOYMENT.PROPERTIES.WARNING' | translate}}
                </th>
              </thead>
              <tbody>
                <tr ng-init="existsWarning = requiredPropertiesTask.properties['WARNING'].length>0"
                    ng-repeat="requiredPropertiesTask in requiredPropertiesTasks" ng-class="{'bg-warning':existsWarning}">
                  <td>
                    <strong>{{requiredPropertiesTask.nodeTemplateName}}</strong>
                    <span>({{requiredPropertiesTask.component.elementId}})</span>
                  </td>
                  <td>
                    <ul class="td_list liste-no-style">
                      <li ng-repeat="property in requiredPropertiesTask.properties['REQUIRED']">
                        {{property}}
                      </li>
                    </ul>
                  </td>
                  <td>
                    <ul class="td_list liste-no-style">
                      <li ng-repeat="property in requiredPropertiesTask.properties['WARNING']">
                        {{property}}
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div ng-if="(scalabilityTasks = (validTopologyDTO.taskList| filter:{code:'SCALABLE_CAPABILITY_INVALID'})).length>0">
          <div class="topology-node-expand clickable" ng-init="isScalabilityCollapsed = false" ng-click="isScalabilityCollapsed = !isScalabilityCollapsed">
            <i class="pull-left fa" ng-class="{'fa-chevron-down' : !isScalabilityCollapsed , 'fa-chevron-right': isScalabilityCollapsed }"></i>
            <span>{{'APPLICATIONS.TOPOLOGY.TASK.SCALABLE_CAPABILITY_INVALID.LABEL' | translate}}</span>
          </div>

          <div collapse="isScalabilityCollapsed " class="topology-level">
            <table class="table table-condensed">
              <tbody>
                <tr ng-repeat="scalabilityTask in scalabilityTasks">
                  <td>
                    <strong>{{scalabilityTask.nodeTemplateName}}</strong>
                  </td>
                  <td>
                    <ul class="td_list liste-no-style">
                      <li ng-repeat="property in scalabilityTask.properties['ERROR']">
                        {{'APPLICATIONS.TOPOLOGY.TASK.SCALABLE_CAPABILITY_INVALID.ERRORS.' + property | translate }}
                      </li>
                      <li ng-repeat="property in scalabilityTask.properties['REQUIRED']">
                        {{property}} {{'APPLICATIONS.TOPOLOGY.TASK.SCALABLE_CAPABILITY_INVALID.MISSING' | translate}}
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!--  Workflow tasks  -->
          <div ng-if="(wfTasks = (validTopologyDTO.taskList | filter:{code:'WORKFLOW_INVALID'})).length>0">
            <div class="topology-node-expand clickable" ng-init="isWorkflowsCollapsed = false" ng-click="isWorkflowsCollapsed = !isWorkflowsCollapsed">
              <i class="pull-left fa" ng-class="{'fa-chevron-down' : !isWorkflowsCollapsed, 'fa-chevron-right': isWorkflowsCollapsed}"></i>
              <span>{{'APPLICATIONS.TOPOLOGY.TASK.WORKFLOWS.TITLE' | translate}}</span>
            </div>

            <div collapse="isWorkflowsCollapsed" class="topology-level">
              <ul>
                <li ng-repeat="wfTask in wfTasks">
                  {{'APPLICATIONS.TOPOLOGY.TASK.WORKFLOWS.HAS_ERROR' | translate:wfTask}}
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- warning list -->
  <div class="row" ng-if="showWarningList()">
    <div id="deploymentWarningList" class="col-md-12">
      <h3 class="text-warning"><i class="fa fa-exclamation-triangle"></i> {{'APPLICATIONS.TOPOLOGY.WARNING.LABEL' | translate}}</h3>

      <div class="warning-list-box" ng-repeat="(taskCode, tasks) in validTopologyDTO.warningList" ng-switch="taskCode">

        
<!--          Warning Implementation tasks  -->
<!--         <div ng-if="tasks.length>0" ng-switch-when="IMPLEMENT" > -->
<!--           <div class="topology-node-expand clickable" ng-init="isToImplementNodesCollapsed = false" ng-click="isToImplementNodesCollapsed = !isToImplementNodesCollapsed"> -->
<!--             <i class="pull-left fa" ng-class="{'fa-chevron-down' : !isToImplementNodesCollapsed, 'fa-chevron-right': isToImplementNodesCollapsed}"></i> -->
<!--             <span>{{'APPLICATIONS.TOPOLOGY.TASK.IMPLEMENT_LABEL' | translate}}</span> -->
<!--           </div> -->

<!--           <div collapse="isToImplementNodesCollapsed" class="topology-level"> -->
<!--             <table class="table table-condensed"> -->
<!--               <tbody> -->
<!--                 <tr ng-repeat=" toImplementNodeTask in tasks"> -->
<!--                   <td> -->
<!--                     <span>{{toImplementNodeTask.nodeTemplateName}}</span> -->
<!--                     <span>({{toImplementNodeTask.component.elementId}})</span> -->
<!--                   </td> -->
<!--                 </tr> -->
<!--               </tbody> -->
<!--             </table> -->
<!--           </div> -->
<!--         </div> End warning Implementation tasks -->

        <!--HA warning list -->
        <div ng-if="tasks.length>0" ng-switch-when="HA_INVALID">

          <div class="topology-node-expand clickable" ng-init="isHAGroupWarningsCollapsed = false"
               ng-click="isHAGroupWarningsCollapsed = !isHAGroupWarningsCollapsed">
            <i class="pull-left fa" ng-class="{'fa-chevron-down' : !isHAGroupWarningsCollapsed , 'fa-chevron-right': isHAGroupWarningsCollapsed }"></i>
            <span>{{'APPLICATIONS.TOPOLOGY.WARNING.HA_INVALID.LABEL' | translate}}</span>
          </div>
          <div collapse="isHAGroupWarningsCollapsed" class="topology-level">
            <table class="table table-condensed">
              <thead>
                <th>{{'APPLICATIONS.TOPOLOGY.WARNING.HA_INVALID.GROUP' | translate}}</th>
                <th>{{'APPLICATIONS.TOPOLOGY.WARNING.HA_INVALID.NODE' | translate}}</th>
                <th>{{'APPLICATIONS.TOPOLOGY.WARNING.HA_INVALID.ERROR' | translate}}</th>
              </thead>
              <tbody>
                <tr ng-repeat="haTask in tasks">
                  <td>{{haTask.groupId || '---'}}</td>
                  <td>{{haTask.nodeTemplateName || '---'}}</td>
                  <td>{{'APPLICATIONS.TOPOLOGY.WARNING.HA_INVALID.' + haTask.errorCode | translate}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <!-- End : HA warning -->

        <!-- Properties warning list -->
        <div ng-if="tasks.length>0" ng-switch-when="PROPERTIES">

          <div class="topology-node-expand clickable" ng-init="isPropertiesGroupWarningsCollapsed = false"
               ng-click="isPropertiesGroupWarningsCollapsed = !isPropertiesGroupWarningsCollapsed">
            <i class="pull-left fa"
               ng-class="{'fa-chevron-down' : !isPropertiesGroupWarningsCollapsed , 'fa-chevron-right': isPropertiesGroupWarningsCollapsed }"></i>
            <span>{{'APPLICATIONS.TOPOLOGY.WARNING.PROPERTIES.LABEL' | translate}}</span>
          </div>
          <div collapse="isPropertiesGroupWarningsCollapsed" class="topology-level">
            <table class="table table-condensed">
              <thead>
                <th>{{'APPLICATIONS.TOPOLOGY.WARNING.PROPERTIES.NODENAME' | translate}}</th>
                <th>
                  <i class="fa fa-exclamation-triangle" tooltip="{{'APPLICATIONS.DEPLOYMENT.PROPERTIES.WARNING_MESSAGE' | translate}}"></i>
                  {{'APPLICATIONS.TOPOLOGY.WARNING.PROPERTIES.PROP' | translate}}
                </th>
              </thead>
              <tbody>
                <tr ng-repeat="task in tasks">
                  <td>{{task.nodeTemplateName || '---'}}</td>
                  <td>{{task.properties['WARNING'] | a2s:','}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <!-- End : properties warning -->

      </div>
      <!-- End : warning list display -->

    </div>
  </div>
  <hr class="separator-h">
  <div ng-if="deploymentContext.selectedEnvironment &&  validTopologyDTO.valid">
    <div class="row">
      <div class="col-md-4">
        <b>name:</b>
        <span>
          {{deploymentContext.selectedEnvironment.name}}
        </span>
      </div>
    </div>
    <div class="row" style="margin-top: 10px">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li role="presentation" ng-repeat="menuItem in menu" ui-sref-active="active"
              ng-class="{'disabled' : menuItem.disabled}">
            <a id="{{menuItem.id}}"
               ng-click="onItemClick($event, menuItem)"
               ui-sref="{{menuItem.state}}">
              <i class="{{menuItem.icon}}" ng-show="menuItem.icon" ng-class="{'text-muted' : menuItem.disabled}"></i> {{menuItem.key | translate}}
              <i class="fa fa-exclamation-triangle" ng-if="showStatusIcon(menuItem)" ng-class="{'text-danger': menuItem.step.status==='ERROR',
                                                               'text-warning': menuItem.step.status==='WARNING'}"></i>
            </a>
          </li>
        </ul>
        <div class="tab-pane" ui-view></div>
      </div>
    </div>
  </div>
</div>
