<div>
  <div class="row">
    <div class="col-md-12" ng-if="isManager">
      <button class="btn btn-success" id="app-new-btn" ng-click="openNewApp()">
        <i class="fa fa fa-plus-circle"></i> {{'APPLICATIONS.NEW' | translate}}
      </button>
    </div>
  </div>

  <!-- Search -->
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-2 well" id="app-search">
      <form role="search" ng-submit="search()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="..." ng-model="query">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default" data-loading-text="Loading...">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
      <div style="padding-top: 8px;">
        <label class="checkbox-inline ng-binding ng-scope">
          <input type="checkbox" ng-click="toogleShowDeployedApplications()"> {{'APPLICATIONS.SHOW_DEPLOYED_APP' | translate}}
        </label>
      </div>
    </div>
    <div class="col-md-10" id="apps-container">
      <div class="well">
          <div ng-repeat="application in searchResult.data.data | filter:{ isDeployed: onlyShowDeployedApplications } | orderBy: '-countDeployedEnvironment'" class="alien-table-row" ng-init="isEnvironmentsCollapsed = true">
            <div style="margin-top: -4px; padding-top: 8px;" class="row clickable-media" ng-click="openApplication(application.id)">
              <div class="col-md-1" style="width: 36px;" ng-click="isEnvironmentsCollapsed = !isEnvironmentsCollapsed; $event.stopPropagation();">
                <i style="padding: 8px;" class="pull-left fa fa-caret-right" ng-class="{'fa-caret-down' : !isEnvironmentsCollapsed, 'fa-caret-right': isEnvironmentsCollapsed}"></i>
              </div>
              <div class="col-md-4"><i class="pull-left media-object fa fa-desktop fa-2x" ng-show="!application.imageId"></i>{{application.name}}</div>
              <div class="col-md-5" class="">{{application.description}}</div>
              <div class="col-md-2" style="width: 130px;" ng-if="isManager" style="width: 115px;">
                <delete-confirm class="pull-right" id='delete-app_{{application.name}}' func="removeApplication(application.id)" position="left" bssize="btn-sm" fastyle="fa-trash-o">
                </delete-confirm>
                <span id="pieChart-{{application.name}}" class="pull-right" style="margin-top: -18px;"></span>
              </div>
            </div>
            <div class="row clickable-media" collapse="isEnvironmentsCollapsed"  ng-repeat="environment in applicationStatuses[application.name] | orderBy: '-indexToOrder'"  >
              <div class="col-span-12" style="border-width: 1px 0px 0px; border-style: solid; border-color: #DDD; padding: 8px;" 
                   ng-click="openDeploymentPage(application.id)" >
                <div class="row">
                  <div>
                    <div class="col-md-1"> </div>
                    <div class="col-md-5">
                      <i class="pull-left fa fa-2x vertical-center" tooltip="{{'APPLICATIONS.' + environment.label | translate }}" tooltip-append-to-body="true" ng-class="{
                        'fa-circle text-success' : environment.label == 'DEPLOYED',
                        'fa-circle text-muted' : environment.label == 'UNDEPLOYED',
                        'fa-warning text-warning' : environment.label == 'WARNING',
                        'fa-circle text-danger' : environment.label == 'FAILURE',
                        'fa-question-circle text-muted' : environment.label == 'UNKNOWN',
                        'fa-spinner fa-spin' : environment.label == 'DEPLOYMENT_IN_PROGRESS' || environment.label == 'UNDEPLOYMENT_IN_PROGRESS'
                      }"></i>
                      <span style="vertical-align: -moz-middle-with-baseline; vertical-align: -webkit-baseline-middle;">{{environment.name}}</span>          
                    </div>
                    <div class="col-md-6" class=""> </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="newApplication.html">
    <form name="newApplication" class="form-horizontal" role="form" ng-submit="create(newApplication.$valid,selectedTopologyTemplateVersion.id)" novalidate>
      <div class="modal-header">
        <h3>{{'APPLICATIONS.NEW' | translate}}</h3>
      </div>
      <div class="modal-body">
        <div class="form-group" ng-class="{'has-error': newApplication.name.$invalid}">
          <label for="nameid" class="col-lg-3 control-label">{{'APPLICATIONS.NAME' | translate}}</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="nameid" ng-model="app.name" name="name" required="" placeholder="{{'APPLICATIONS.NAME' | translate}}">
          </div>
        </div>
        <div class="form-group">
          <label for="descid" class="col-lg-3 control-label">{{'APPLICATIONS.DESC' | translate}}</label>
          <div class="col-lg-9">
            <textarea class="form-control" id="descid" rows="3" ng-model="app.description" placeholder="{{'APPLICATIONS.DESC' | translate}}"></textarea>
          </div>
        </div>
        <div class="form-group" ng-show="templates">
          <label for="templateid" class="col-lg-3 control-label">{{'APPLICATIONS.TOPOLOGY.TEMPLATE_BASE' | translate}}</label>
          <div class="col-lg-9">
            <select class="form-control" id="templateid" ng-model="selectedTemplateId" ng-change="templateSelected(selectedTemplateId)">
              <option value="">{{'APPLICATIONS.TOPOLOGY.TEMPLATE_SELECT' | translate}}</option>
              <option value="{{t.id}}" ng-repeat="t in templates">{{t.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group" ng-if="selectedTopologyTemplate.description">
          <label for="templateid" class="col-lg-3 control-label">{{'APPLICATIONS.TOPOLOGY.DESC_TEMPLATE' | translate}}</label>
          <p class="col-lg-9">{{selectedTopologyTemplate.description}}</p>
        </div>
        <div class="form-group" ng-show="templateVersions">
          <label for="templateVersionId" class="col-lg-3 control-label">{{'APPLICATIONS.TOPOLOGY.TEMPLATE_BASE' | translate}}</label>
          <div class="col-lg-9">
            <select class="form-control" id="templateVersionId" ng-model="selectedTopologyTemplateVersion" ng-options="tv.version for tv in templateVersions" placeholder="{{'APPLICATIONS.DESC' | translate}}">
              <option value="">{{'APPLICATIONS.TOPOLOGY.TEMPLATE_SELECT_VERSION' | translate}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn-create" ng-disabled="newApplication.name.$invalid || (selectedTopologyTemplate && !selectedTopologyTemplateVersion)" class="btn btn-primary">{{'CREATE' | translate}}</button>
        <button id="btn-cancel" class="btn btn-default" ng-click="cancel()">{{'CANCEL' | translate}}</button>
      </div>
    </form>
  </script>
</div>
