<div>
  <form name="newForm" class="form-horizontal" role="form" ng-submit="create(newForm.$valid)" novalidate>
    <div class="modal-header">
      <h3>{{'APPLICATIONS.NEW' | translate}}</h3>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="nameid" class="col-lg-2 control-label" ng-class="{'has-error': newForm.name.$invalid}">{{'COMMON.NAME' | translate}}</label>
        <div class="col-lg-4" ng-class="{'has-error': newForm.name.$invalid}">
          <input type="text" class="form-control" id="nameid" ng-model="app.name" name="name" required="" placeholder="{{'COMMON.NAME' | translate}}" ng-change="nameChange()"
          ng-pattern='namePattern' autofocus>
        </div>
        <label for="archiveNameId" class="col-lg-2 control-label" ng-class="{'has-error': newForm.archiveName.$invalid}">{{'APPLICATIONS.ARCHIVE_NAME' | translate}}</label>
        <div class="col-lg-4" ng-class="{'has-error': newForm.archiveName.$invalid}">
          <input type="text" class="form-control" id="archiveNameId" ng-model="app.archiveName" name="archiveName" required="" placeholder="{{'COMMON.NAME' | translate}}" ng-change="archiveNameChange()"
          ng-pattern='archiveNamePattern'>
        </div>
      </div>
      <div class="form-group">
        <label for="descid" class="col-lg-2 control-label">{{'COMMON.DESCRIPTION' | translate}}</label>
        <div class="col-lg-10">
          <textarea class="form-control" id="descid" rows="3" ng-model="app.description" placeholder="{{'COMMON.DESCRIPTION' | translate}}"></textarea>
        </div>
      </div>
      <topology-init-from-select></topology-init-from-select>
    </div>
    <div class="modal-footer">
      <button id="btn-create" ng-disabled="selectedTopologyError || newForm.name.$invalid || newForm.archiveName.$invalid" class="btn btn-primary">{{'CREATE' | translate}}</button>
      <button id="btn-cancel" class="btn btn-default" ng-click="cancel()">{{'CANCEL' | translate}}</button>
    </div>
  </form>
</div>
