<div class="row">
  <div id="configurationsErrors" class="col-md-6" ng-if="validTopologyDTO.valid && showConfgurationsErrors()">
    <!-- DEPLOYMENT TOPO CONFIGURATION ERRORS -->
    <h4 class="text-danger"><i class="fa fa-exclamation-triangle"></i> {{'APPLICATIONS.TOPOLOGY.TASK.ERRORS_LABEL' | translate}}</h4>
    
    <div class="task-list-box">
      <!-- NODE FILTERS-->
      <node-filters-errors-display
        tasks = "deploymentContext.deploymentTopologyDTO.validation.taskList['NODE_FILTER_INVALID']"
        input-column=true>
      </node-filters-errors-display>

      <!-- SCALABILITY ERRORS -->
      <scalability-errors-display
        tasks="deploymentContext.deploymentTopologyDTO.validation.taskList['SCALABLE_CAPABILITY_INVALID']">
      </scalability-errors-display>

      <!--  Required properties tasks  -->
      <properties-errors-display
        tasks = "deploymentContext.deploymentTopologyDTO.validation.taskList['PROPERTIES']">
      </properties-errors-display>
    </div>
  </div>
  <!-- Input properties  -->
  <div ng-if="isAllowedInputDeployment()" class="col-md-6">
    <fieldset class="detail-bloc">
      <legend>
        <h4 ng-click="isInputPropertiesCollapsed = !isInputPropertiesCollapsed" class="clickable">
          <i class="fa fa-sign-in"> </i> {{'APPLICATIONS.TOPOLOGY.PROPERTIES_INPUTS' | translate}}
          <i class="fa" ng-class="{'fa-caret-down' : !isInputPropertiesCollapsed, 'fa-caret-right': isInputPropertiesCollapsed}"></i>
        </h4>
      </legend>
      <div collapse="isInputPropertiesCollapsed" class="topology-level">
        <table class="table table-condensed" id="inputsTable">
          <tr ng-repeat="(inputId, inputDefinition) in deploymentContext.deploymentTopologyDTO.topology.inputs | allowedInputs">
            <td>
              <property-display definition="inputDefinition"
                                property-type="deploymentContext.deploymentTopologyDTO.dataTypes[inputDefinition.type]"
                                dependencies="deploymentContext.deploymentTopologyDTO.topology.dependencies"
                                property-name="inputId"
                                property-value="deploymentContext.deploymentTopologyDTO.topology.inputProperties[inputId]"
                                on-save="updateInputValue(propertyDefinition, propertyValue, inputId)"
                                editable="deploymentContext.selectedEnvironment.status === 'UNDEPLOYED'"
                                condensed="true">
              </property-display>
            </td>
          </tr>
        </table>
      </div>
    </fieldset>
  </div>

  <!-- Input artifacts  -->
  <div ng-if="_.isNotEmpty(deploymentContext.deploymentTopologyDTO.topology.inputArtifacts)" class="col-md-6">
    <fieldset class="detail-bloc">
      <legend>
        <h4 ng-click="isInputArtifactsCollapsed = !isInputArtifactsCollapsed" class="clickable">
          <i class="fa fa-archive"></i> {{'APPLICATIONS.TOPOLOGY.ARTIFACTS.INPUTS' | translate}}
          <i class="fa" ng-class="{'fa-caret-down' : !isInputArtifactsCollapsed, 'fa-caret-right': isInputArtifactsCollapsed}"></i>
        </h4>
      </legend>
      <div collapse="isInputArtifactsCollapsed" class="topology-level">
        <ul>
          <li ng-repeat="(artifactKey,artifactValue) in deploymentContext.deploymentTopologyDTO.topology.inputArtifacts">
            {{artifactKey}}
            <div class="topology-level" collapse="isArtifactCollapsed">
              <div class="row">
                <div class="col-md-3">{{'COMMON.TYPE' | translate}}</div>
                <div class="col-md-9">{{artifactValue.artifactType}}</div>
              </div>
              <div class="row">
                <div class="col-md-3">{{'APPLICATIONS.TOPOLOGY.REFERENCE' | translate}}</div>
                <div class="col-md-9">
                  <div ng-if="!uploads[artifactKey].isUploading">
                  <span tooltip="{{artifactValue.artifactName}}"
                        tooltip-trigger="{{{true: 'mouseenter', false: 'never'}[artifactValue.artifactName.length > 20]}}">{{artifactValue.artifactName | truncate:20}}</span>

                    <div class="fileUploadImg btn" tooltip="{{'APPLICATIONS.TOPOLOGY.UPDATE_ARTIFACT' | translate}}">
                    <span>
                      <i class="fa fa-upload text-primary"></i>
                    </span>
                      <input type="file" class="upload" ng-file-select="onArtifactSelected($files, artifactKey, inputArtifactValue)">
                    </div>
                  </div>
                  <progressbar ng-if="uploads[artifactKey].isUploading" class="progress-striped active" value="uploads[artifactKey].uploadProgress"
                               type="{{uploads[artifactKey].type}}" />
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </fieldset>
  </div>

  <!-- Provider deployment properties -->
  <div ng-if="_.isNotEmpty(deploymentContext.orchestratorDeploymentPropertyDefinitions)" class="col-md-6">
    <fieldset class="detail-bloc">
      <legend>
        <h4 ng-click="isOrchestratorDeploymentPropertiesCollapsed = !isOrchestratorDeploymentPropertiesCollapsed" class="clickable">
          <i class="fa fa-cog"></i> {{'APPLICATIONS.TOPOLOGY.ORCHESTRATOR_PROPERTIES' | translate}}
          <i class="fa" ng-class="{'fa-caret-down' : !isOrchestratorDeploymentPropertiesCollapsed, 'fa-caret-right': isOrchestratorDeploymentPropertiesCollapsed}"></i>
        </h4>
      </legend>
      <div collapse="isOrchestratorDeploymentPropertiesCollapsed" class="topology-level">
        <table class="table table-condensed" id="nodeTemplateProperties" style="margin-left:10px;">
          <tr ng-repeat="(propertyKey,propertyDefinition) in deploymentContext.orchestratorDeploymentPropertyDefinitions">
            <td id="p_deployment_{{propertyKey}}">
              <property-display ng-init="condensed = true"
                                definition="propertyDefinition"
                                property-name="propertyKey"
                                property-value="deploymentContext.deploymentTopologyDTO.topology.providerDeploymentProperties[propertyKey]"
                                on-save="updateDeploymentProperty(propertyDefinition, propertyKey, propertyValue)"
                                editable="deploymentContext.selectedEnvironment.status === 'UNDEPLOYED'"
                                condensed="condensed">
              </property-display>
            </td>
          </tr>
        </table>
      </div>
    </fieldset>
  </div>

</div>
