<div class="row" style="margin-top: 10px;">
  <div class="col-md-12">
    <!-- DEPLOY BUTTON -->
    <button id="btn-deploy"
            type="button"
            class="btn btn-success application-deploy-button"
            ng-disabled="!deploymentContext.deploymentTopologyDTO.validation.valid || isDeploying"
            ng-click="deploy()"
            ng-if="deploymentContext.selectedEnvironment.status === 'UNDEPLOYED'">
      <i class="fa" ng-class="{'fa-play': !isDeploying, 'fa-spinner fa-spin': isDeploying}"></i> {{'APPLICATIONS.DEPLOY' | translate}}
    </button>
    <button id="btn-undeploy"
            type="button"
            class="btn btn-danger application-deploy-button"
            ng-disabled="deploymentContext.selectedEnvironment.status === 'UNDEPLOYMENT_IN_PROGRESS' || deploymentContext.selectedEnvironment.status === 'INIT_DEPLOYMENT'"
            ng-click="undeploy()"
            ng-if="deploymentContext.selectedEnvironment.status !== 'UNDEPLOYED' ">
      <i class="fa" ng-class="{'fa-stop': !isUnDeploying, 'fa-spinner fa-spin': isUnDeploying}"></i> {{'APPLICATIONS.UNDEPLOY' | translate}}
    </button>
  </div>
</div>
