<div id="app-user-role">
  <div class="row">
    <div class="col-md-6 resource-user-roles">
      <h5>{{'APPLICATIONS.APPLICATION_ROLES' | translate}}</h5>
    </div>
    <div class="col-md-6 resource-user-roles">
      <h5>
        {{'APPLICATIONS.ENVIRONMENT.ENV_ROLES' | translate}}
        <div id="users_environment_switcher" uib-dropdown class="btn-group btn-group-xs">
          <button type="button" class="btn btn-default" uib-dropdown-toggle id="environment_{{selectedEnvironment.name}}">
            {{selectedEnvironment.name}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
            <li ng-repeat="env in environments" ng-class="{'option-selected' : env.id == selectedEnvironment.id}">
              <a id="environment_{{env.name}}" ng-click="changeUserEnvironment(env)">
                <i class="fa fa-angle-right" ng-if="env.id == selectedEnvironment.id"></i> {{env.name}}
              </a>
            </li>
          </ul>
        </div>
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 resource-user-roles" ng-repeat="appRole in appRoles">
      <div class="thumbnail">
        <h5>{{appRole}}</h5>
        <ul class="td_list liste-no-style">
          <li ng-repeat="appUser in usersByRole[appRole] | orderBy:'username'">
            <i class="fa fa-user"></i>
            <span>{{appUser.firstName}}</span> <span>{{appUser.lastName}}</span> <span>({{appUser.username}})</span>
          </li>
          <li ng-repeat="appGroup in groupsByRole[appRole] | orderBy:'name'">
            <i class="fa fa-users"></i>
            <span>{{appGroup.name}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-3 resource-user-roles" ng-repeat="envRole in environmentRoles">
      <div class="thumbnail">
        <h5>{{envRole}}</h5>
        <ul class="td_list liste-no-style">
          <li ng-repeat="appUser in usersByRole[envRole] | orderBy:'username'">
            <i class="fa fa-user"></i>
            <span>{{appUser.firstName}}</span> <span>{{appUser.lastName}}</span> <span>({{appUser.username}})</span>
          </li>
          <li ng-repeat="appGroup in groupsByRole[envRole] | orderBy:'name'">
            <i class="fa fa-users"></i>
            <span>{{appGroup.name}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <hr class="separator-h">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <uib-tabset>
        <uib-tab heading="{{'ROLE_TABS.USERS' | translate}}" id="users-tab">
          <alien-search-user crud-support="false" managed-app-role-list="appRoles" managed-env-role-list="environmentRoles" check-app-role-selected-callback="checkAppRoleSelectedForUser(user, role)" check-env-role-selected-callback="checkEnvRoleSelectedForUser(user, role)"
          on-select-app-role-callback="handleAppRoleSelectionForUser(user, role)" on-select-env-role-callback="handleEnvRoleSelectionForUser(user, role)">
          </alien-search-user>
        </uib-tab>
        <uib-tab heading="{{'COMMON.GROUPS' | translate}}" id="groups-tab">
          <alien-search-group crud-support="false" managed-app-role-list="appRoles" managed-env-role-list="environmentRoles" check-app-role-selected-callback="checkAppRoleSelectedForGroup(group, role)" check-env-role-selected-callback="checkEnvRoleSelectedForGroup(group, role)"
          on-select-app-role-callback="handleAppRoleSelectionForGroup(group, role)" on-select-env-role-callback="handleEnvRoleSelectionForGroup(group, role)">
          </alien-search-group>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>
