<div>
  <div class="row">
    <div class="col-md-12" ng-if="isManager">
      <button class="btn btn-success" id="app-new-btn" ng-click="openNewApp()">
        <i class="fa fa-plus-circle"></i> {{'APPLICATIONS.NEW' | translate}}
      </button>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
  <!-- Search -->
    <div class="col-md-2 well" id="app-search">
      <form role="search" ng-submit="searchService.search()">
        <div class="input-group">
          <input id="seach-applications-input" type="text" class="form-control" placeholder="..." ng-model="query">
          <span class="input-group-btn">
            <button id="seach-applications-btn" type="submit" class="btn btn-default" data-loading-text="Loading...">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
    </div>

    <!-- List display -->
    <div class="col-md-10" id="apps-container">
      <div class="well">
        <empty-place-holder
          data="data.data">
        </empty-place-holder>

        <div ng-repeat="application in data.data | orderBy: '-countDeployedEnvironment'" class="alien-table-row" ng-init="isEnvironmentsCollapsed = true">
          <div id="app_{{application.name}}" style="margin-top: -4px; padding-top: 8px;" class="row clickable-media" ng-click="openApplication(application.id)">
            <div class="col-md-1" style="width: 36px;" ng-click="isEnvironmentsCollapsed = !isEnvironmentsCollapsed; $event.stopPropagation();">
              <i ng-if="applicationEnvironmentMap[application.id]" style="padding-right: .8em;" class="vertical-align-middle fa" ng-class="{'fa-caret-down' : !isEnvironmentsCollapsed, 'fa-caret-right': isEnvironmentsCollapsed}"></i>
            </div>
            <div class="col-md-4">
              <i class="vertical-center fa fa-desktop fa-2x" style="margin-right: .4em;" ng-if="!application.imageId"></i>
              <img class="pull-left media-object fa img-rounded" style="max-height:46px; max-width:46px; height:auto; width:auto;" ng-if="application.imageId" ng-src="img?id={{application.imageId}}&quality=QUALITY_64" />
              {{application.name}}</div>
            <div class="col-md-5" class="">{{application.description}}</div>
            <div class="col-md-2">
              <delete-confirm ng-if="isManager" class="pull-right" id='delete-app_{{application.name}}' func="removeApplication(application.id)" position="left" bssize="btn-sm" fastyle="fa-trash-o">
              </delete-confirm>
              <span id="pieChart-{{application.id}}" class="pull-right" style="margin-top: -18px;"></span>
            </div>
          </div>
          <div class="row" ng-class="{'clickable-media': environment.canDeploy}" uib-collapse="isEnvironmentsCollapsed"  ng-repeat="environment in applicationEnvironmentMap[application.id] | orderBy: '-indexToOrder'"  >
            <div class="col-span-12 alien-table-child-row"
                 ng-click="environment.canDeploy && openDeploymentPage(application, environment.id)" >
              <div class="row">
                <div>
                  <div class="col-md-1"> </div>
                  <div class="col-md-5">
                    <i class="fa fa-2x vertical-center {{fromStatusToCssClasses(environment)}}" uib-tooltip="{{'DEPLOYMENT.STATUS.' + environment.status | translate }}" tooltip-append-to-body="true"></i>
                    <span>{{environment.name}}</span>
                  </div>
                  <div class="col-md-3">
                    {{environment.currentVersionName}}
                  </div>
                  <div class="col-md-3" ng-class="{
                    'text-success' : environment.status == 'DEPLOYED' || environment.status == 'UPDATED',
                    'text-muted' : environment.status == 'UNDEPLOYED',
                    'text-warning' : environment.status == 'WARNING',
                    'text-danger' : environment.status == 'FAILURE',
                    'text-muted' : environment.status == 'UNKNOWN',
                    'text-info' : environment.status == 'DEPLOYMENT_IN_PROGRESS' || environment.status == 'UNDEPLOYMENT_IN_PROGRESS'
                  }">
                    {{(environment.deployedVersion | idToVersion) || 'N/A'}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <pagination-directive pagination-info="searchService.pagination"/>
      </div>
    </div>
  </div>
</div>
