<div id="informationModal">
  <div class="modal-header">
    <h4>{{'APPLICATIONS.DEPLOY_MODAL.TITLE' | translate}}</h4>
  </div>
  <div class="modal-body">
    {{'APPLICATIONS.DEPLOY_MODAL.MESSAGE' | translate}}
    <div class = "row" style="margin-top: 10px">
      <div class = "col-md-6">
        <span class = "detail-term"> {{'APPLICATIONS.APPLICATION' | translate }} : </span> <span class = "inline-block">{{application}}</span>
      </div>
      <div class = "col-md-6">
        <span class = "detail-term"> {{'COMMON.VERSION' | translate }} : </span> <span class = "inline-block">{{environment.currentVersionName}}</span>
      </div>
      <div class = "col-md-6">
        <span class = "detail-term"> {{'APPLICATIONS.ENVIRONMENT.ENV' | translate }} : </span> <span class = "inline-block">{{environment.name}}</span>
      </div>
      <div class = "col-md-6">
        <span class = "detail-term"> {{'APPLICATIONS.ENVIRONMENT.FORM.ENV_TYPE' | translate }} : </span> <span class = "inline-block">{{environment.environmentType}}</span>
      </div>
      <div class = "col-md-6">
        <span class = "detail-term"> {{'ORCHESTRATORS.ORCHESTRATOR' | translate }} : </span> <span class = "inline-block">{{orchestrator.name}}</span>
      </div>
      <div class = "col-md-6">
        <span class = "detail-term"> {{'ORCHESTRATORS.LOCATIONS.LOCATION' | translate }} : </span> <span class = "inline-block">{{location.name}}</span>
      </div>

      <div class="col-md-12" style="margin-top: 20px;">
        <div class="content-head">
          <i class="fa fa-cubes"></i> {{'COMMON.RESOURCES' | translate}}
        </div>
        <div class="content-body" style="overflow: auto; max-height: 300px;">
          <table class="table table-condensed" id="locationResources">
            <tr ng-repeat="(key, value) in locationResources">
              <td>
                {{key}} :
              </td>
              <td>
                <span style=" font-weight: 500; padding-right: 0.5em;">{{value.name}}</span> ( <i>{{value.template.type}}</i> )
                <i ng-if = "value.service"
                  class="fa fa-globe text-info"
                  uib-tooltip="{{'SERVICES.SERVICE' | translate}}">
                </i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">{{'CANCEL' | translate}}</button>
    <button class="btn btn-success" ng-click="proceed('deploy')"><i class="fa fa-play"></i> {{'APPLICATIONS.DEPLOY' | translate}}</button>
</div>
