<div id="informationModal">
  <div class="modal-header">
    <h4>{{'APPLICATIONS.UNDEPLOY_MODAL.TITLE' | translate}}</h4>
  </div>
  <div class="modal-body">
    {{'APPLICATIONS.UNDEPLOY_MODAL.MESSAGE' | translate}}
    <div class = "row" style="margin-top: 10px">
      <div class = "col-md-6">
        <span class = "detail-term"> {{'APPLICATIONS.APPLICATION' | translate }} : </span> <span class = "inline-block">{{application}}</span>
      </div>
      <div class = "col-md-6">
        <span class = "detail-term"> {{'COMMON.VERSION' | translate }} : </span> <span class = "inline-block">{{deployedVersion}}</span>
      </div>
      <div class = "col-md-6">
        <span class = "detail-term"> {{'APPLICATIONS.ENVIRONMENT.ENV' | translate }} : </span> <span class = "inline-block">{{environment.name}}</span>
      </div>
      <div class = "col-md-6">
        <span class = "detail-term"> {{'APPLICATIONS.ENVIRONMENT.FORM.ENV_TYPE' | translate }} : </span> <span class = "inline-block">{{environment.environmentType}}</span>
      </div>

      <div class="col-md-12" style="margin-top: 20px;">
        <div class="content-head">
          <i class="fa fa-cubes"></i> {{'APPLICATIONS.UNDEPLOY_MODAL.RESOURCES_TO_UNINSTALL' | translate}}
        </div>
        <div class="content-body" style="overflow: auto; max-height: 300px;">
          <table class="table table-condensed" id="locationResources">
            <tr ng-repeat="(key, value) in locationResources">
              <td>
                {{key}}
              </td>
              <td>
                ( <i>{{value.type}}</i> )
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">{{'CANCEL' | translate}}</button>
    <button class="btn btn-danger" ng-click="undeploy()">{{'APPLICATIONS.UNDEPLOY' | translate}}</button>
</div>
