<div class="meta-properties-display-div row grp-margin" ng-controller="MetaPropertiesCtrl">
  <div class="col-md-12" ng-init="collapseObj = {collapsed: false}" ng-if="_.isNotEmpty(properties)">
    <div id="toogle-meta-properties"
      ng-if="titled"
      ng-class="{'clickable': collapsable }"
      ng-click="collapseObj.collapsed = !collapseObj.collapsed">
      <i class="pull-left fa" ng-if="collapsable"  ng-class="{'fa-caret-down' : !collapseObj.collapsed, 'fa-caret-right': collapseObj.collapsed}"></i>
      <strong>{{ 'APPLICATIONS.META_PROPERTIES' | translate}}</strong>
    </div>

    <div ng-lass="{'content-body': titled}"  uib-collapse="collapseObj.collapsed" >
      <div>
        <empty-place-holder data="properties"></empty-place-holder>
      </div>
      <table class="table table-condensed" id="tabProperties">
        <tr ng-repeat="metaProperty in properties">
          <td ng-init="propertyDefinition = metaProperty">
            <property-display id="meta_properties_{{metaProperty.name}}"
                              ng-init="condensed = true"
                              class="metaPropDirective"
                              definition="metaProperty"
                              property-name="metaProperty.name"
                              property-value="getPropertyValue(metaProperty.id)"
                              on-save="updateProperty(type, propertyDefinition.id, propertyValue)"
                              editable="true"
                              condensed="condensed">
            </property-display>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
