<form name="newServiceResourceForm" class="form-horizontal" role="form" ng-submit="save(newServiceResourceForm.$valid)" novalidate>
  <div class="modal-header">
    <h3>{{'SERVICES.NEW.TITLE' | translate}}</h3>
  </div>
  <div class="modal-body">
    <div class="form-group" ng-class="{'has-error': newServiceResourceForm.name.$invalid}">
      <label for="service_name_id" class="col-lg-3 control-label">{{'COMMON.NAME' | translate}}</label>
      <div class="col-lg-9">
        <input type="text" class="form-control" id="service_name_id" ng-model="createServiceRequest.name" name="name" required placeholder="{{'COMMON.NAME' | translate}}" autofocus>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': newServiceResourceForm.version.$invalid}">
      <label for="service_version_id" class="col-lg-3 control-label">{{'COMMON.VERSION' | translate}}</label>
      <div class="col-lg-9">
        <input type="text" class="form-control" id="service_version_id" ng-model="createServiceRequest.version" name="version" required placeholder="{{'COMMON.VERSION' | translate}}">
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': newServiceResourceForm.nodetype.$invalid}">
      <label for="service_node_type_id" class="col-lg-3 control-label">{{'SERVICES.NEW.NODE_TYPE' | translate}}</label>
      <div class="col-lg-9">
        <input readonly type="text" class="form-control" id="service_node_type_id" ng-model="createServiceRequest.nodeType" name="nodetype" required>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': newServiceResourceForm.nodetypeversion.$invalid}">
      <label for="service_node_type_version_id" class="col-lg-3 control-label">{{'SERVICES.NEW.NODE_TYPE_VERSION' | translate}}</label>
      <div class="col-lg-9">
        <input readonly type="text" class="form-control" id="service_node_type_version_id" ng-model="createServiceRequest.nodeTypeVersion" name="nodetypeversion" required>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button id="btn-create" ng-disabled="newServiceResourceForm.$invalid" class="btn btn-primary">{{'CREATE' | translate}}</button>
    <button id="btn-cancel" class="btn btn-default" ng-click="cancel()">{{'CANCEL' | translate}}</button>
  </div>
</form>
