<div class="row">
  <div class="col-md-6">
    <div class="topology-column-content-head">
      <span class="ng-binding">
        <i class="fa fa-list"></i> {{'SERVICES.LIST' | translate}}
      </span>
    </div>
    <div class="row-margin">
      <a4c-search query-manager="queryManager"
                  search-service="searchService"
                  label-prefix="APPLICATIONS."></a4c-search>
    </div>
    <div id="services-container" class="drop-container" alien-droppable drag-on-drop="addService(data)">
      <empty-place-holder data="queryManager.searchResult.data"></empty-place-holder>
      <table ng-if="queryManager.searchResult.data.length > 0" class="table table-hover">
        <thead>
          <th>{{'COMMON.NAME' | translate}}</th>
          <th>{{'COMMON.VERSION' | translate}}</th>
          <th>{{'COMMON.TYPE' | translate}}</th>
          <th>{{'COMMON.STATE' | translate}}</th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat="serviceResource in queryManager.searchResult.data" id='service_{{serviceResource.id}}' class="clickable" ng-click="selectService(serviceResource)"
          ng-class="{'warning': selectedService.id === serviceResource.id}">
            <td>
              <span ng-bind-html="dotWb(serviceResource.name)"></span>
              <i ng-if="serviceResource.environmentId" class="fa fa-star" uib-tooltip="{{ 'SERVICES.MANAGED.NAME' | translate }}"></i>
            </td>
            <td>{{serviceResource.version}}</td>
            <td><span ng-bind-html="dotWb(serviceResource.nodeInstance.nodeTemplate.type)"></span></td>
            <td>{{serviceResource.nodeInstance.attributeValues.state}}</td>
            <td>
              <a ng-if="!serviceResource.environmentId"
                      uib-tooltip="{{ 'ORCHESTRATORS.LOCATIONS.RESOURCES.DUPLICATE' | translate }}"
                      tooltip-append-to-body="true"
                        ng-click="duplicateServiceResource(serviceResource.id, $event)">
                <i class="fa fa-clone"></i>
              </a>
            </td>
            <td>
              <delete-confirm id='delete-service_{{serviceResource.id}}' func="delete(serviceResource.id)"
                              position="right" bssize="btn-xs" fastyle="fa-trash-o">
              </delete-confirm>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <pagination-directive pagination-info="searchService.pagination"/>
      </div>
      <div class="drop-container-label">
        <i class="fa fa-plus"></i>&nbsp;{{ 'ORCHESTRATORS.LOCATIONS.RESOURCES.DROP' | translate }}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div id="catalog-container" ng-if="!selectedService">
      <div class="topology-column-content-head">
        <span class="ng-binding">
          <i class="fa fa-cubes"></i> {{'SERVICES.CATALOG' | translate}}
        </span>
      </div>
      <a4c-component-catalog
              component-type='NODE_TYPE'
              display-detail-pannel="false"
              drag-and-drop-enabled="true"
              height-info="dimensions"
              default-filters="serviceTypesFilter"
              badges="badges">
      </a4c-component-catalog>
    </div>
    <div id="service-configuration" ng-if="selectedService">
      <div class="topology-column-content-head">
        <span class="ng-binding">
          <i class="fa fa-globe"></i> {{'SERVICES.DETAIL.TITLE' | translate}}
        </span>
        <a id="closeSelection" class="pull-right" style="font-weight: 400;" ng-click="clearSelection()">
          <i class="fa fa-arrow-left"></i> {{'SERVICES.DETAIL.BACK' | translate}}
        </a>
      </div>
      <uib-tabset justified="true">
        <uib-tab>
          <uib-tab-heading>
            <i class="fa fa-list" aria-hidden="true"></i>&nbsp;{{'SERVICES.DETAIL.DETAIL' | translate}}
          </uib-tab-heading>
          <div>
            <div class="row row-margin">
              <div class="col-md-3">
                <strong>{{'COMMON.NAME' | translate}}</strong>
              </div>
              <div class="col-md-9" id="srv-name">
                <div ng-if="isPropertyEditable()" editable-text="selectedService.name" onbeforesave="update({'name': $data})" e-class="editable-input-lg" e-required blur="submit" buttons="no">
                  {{selectedService.name}} <i class="fa fa-edit"></i>
                </div>
                <em ng-if="!isPropertyEditable()">{{selectedService.name}}</em>
              </div>
            </div>
            <div class="row row-margin">
              <div class="col-md-3">
                <strong>{{'COMMON.VERSION' | translate}}</strong>
              </div>
              <div class="col-md-9" id="srv-version" >
                <div ng-if="isPropertyEditable()" editable-text="selectedService.version" onbeforesave="update({'version': $data})" e-class="editable-input-lg" e-required blur="submit" buttons="no">
                  {{selectedService.version}} <i class="fa fa-edit"></i>
                </div>
                <em ng-if="!isPropertyEditable()">{{selectedService.version}}</em>
              </div>
            </div>
            <div class="row row-margin">
              <div class="col-md-3">
                <strong>{{'COMMON.DESCRIPTION' | translate}}</strong>
              </div>
              <div id="srv-desc" class="col-md-9">
                <div style="white-space: pre;" editable-textarea="selectedService.description" onbeforesave="update({'description': $data})" e-class="editable-input-lg" e-required blur="submit" buttons="no">{{selectedService.description}} <i class="fa fa-edit"></i></div>
              </div>
            </div>
            <div class="row row-margin">
              <div class="col-md-3">
                <strong>{{'COMMON.STATE' | translate}}</strong>
              </div>
              <div class="col-md-9">
                <div id="srv-state" class="switch" ng-click="!selectedService.environmentId && toggleState()">
                  <div class="switch-slider" ng-class="{'disabled' : stateDisabled , 'enabled': !stateDisabled, 'default-cursor': selectedService.environmentId}"></div>
                </div>
              </div>
            </div>
            <meta-properties-display
                    properties-type="'service'"
                    target="selectedService"
                    resturl="'rest/latest/services/:id/properties'"
                    params="{id: selectedService.id}">
            </meta-properties-display>
          </div>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading>
            <i class="fa fa-cube" aria-hidden="true"></i>&nbsp;{{'SERVICES.INSTANCE' | translate}}
          </uib-tab-heading>
          <a4c-node-template-edit ng-if="selectedNodeType"
            is-rel-editable="stateDisabled"
            is-service="true"
            template="selectedService.nodeInstance.nodeTemplate"
            type="selectedNodeType"
            node-capability-types="selectedCapabilityTypes"
            resource-data-types="selectedDataTypes"
            on-half-relationship-type-update="updateHalfRelationshipType(type, name, relationshipTypeId)"
            capabilities-relationship-types="selectedService.capabilitiesRelationshipTypes"
            dependencies="selectedDependencies"
            is-property-editable="isPropertyEditable()"
            is-secret-editable="isSecretEditable()"
            on-property-update="updateProperty(propertyName, propertyValue)"
            on-capability-property-update="updateCapabilityProperty(capabilityName, propertyName, propertyValue)">
          </a4c-node-template-edit>
          <!-- Requirements -->
          <div ng-if="selectedService.nodeInstance.nodeTemplate.requirements.length > 0">
            <div id="node-details-requirements" class="clickable topology-column-content-head" ng-click="isRequirementsCollapsed = !isRequirementsCollapsed">
              <i class="fa" ng-class="{'fa-caret-down' : !isRequirementsCollapsed, 'fa-caret-right': isRequirementsCollapsed}"></i>
              {{'COMPONENTS.REQUIREMENTS.TYPE' | translate}}
            </div>
            <div id="node-details-requirements-panel" class="indent" uib-collapse="isRequirementsCollapsed" >
              <div id="node-details-capabilities-{{requirementEntry.key}}-block" class="row-margin" ng-repeat="requirementEntry in selectedService.nodeInstance.nodeTemplate.requirements"
                   ng-init="isReqPropsCollapsed = {};">
                <div class="topology-column-content-head clickable"
                     ng-click="(isReqPropsCollapsed[requirementEntry.key] = !isReqPropsCollapsed[requirementEntry.key])">
                  <div class="row">
                    <div class="col-md-5">
                      <i class="fa fa-fw"
                         ng-class="{'fa-caret-down' : !isReqPropsCollapsed[requirementEntry.key], 'fa-caret-right': isReqPropsCollapsed[requirementEntry.key]}">
                      </i>{{requirementEntry.key}}
                    </div>
                    <div style="font-weight: normal" class="col-md-6 text-info" id="capability-{{requirementEntry.key}}">
                      {{requirementEntry.value.type}}
                    </div>
                    <div class="col-md-1" ng-init="capaComp = getComponent(nodeTemplate, requirementEntry.value.type)">
                      <simple-modal title="{{ 'MODAL.TITLE.CAPABILITY' | translate}}" content="{{capaComp.data.description}}"
                                    key="{{requirementEntry.value.type}}"></simple-modal>
                    </div>
                  </div>
                </div>
                <div class="indent" ng-if="!isReqPropsCollapsed[requirementEntry.key]">
                  <div class="row">
                    <div class="col-md-3">
                      <label id="p_name_{{propertyName}}"  style="white-space: nowrap">
                        <i class="fa fa-link"></i> {{'SERVICE.RELATIONSHIP.LABEL'| translate}}
                      </label>
                    </div>
                    <div class="col-md-8">
                      <span ng-if= "stateDisabled"
                            class="typeahead"
                            ng-click="switchLongTextChoice(true)"
                            editable-text="selectedService.requirementsRelationshipTypes[requirementEntry.key]"
                            buttons="no"
                            onbeforesave="updateHalfRelationshipType('requirement', requirementEntry.key, $data)" blur="submit"
                            onhide="switchLongTextChoice(false)"
                            e-style="width: 100%"
                            e-uib-typeahead="item for item in relationshipTypeQuickSearchHandler.doQuickSearch($viewValue)"
                            e-typeahead-min-length="relationshipTypeQuickSearchHandler.minLength"
                            e-typeahead-wait-ms="relationshipTypeQuickSearchHandler.waitBeforeRequest"
                            e-typeahead-loading="searching">
                        {{selectedService.requirementsRelationshipTypes[requirementEntry.key]}}
                        <span class="fa fa-pencil-square-o clickable" ng-click="switchLongTextChoice(true)"></span>
                      </span>
                      <em ng-if="!stateDisabled">{{selectedService.requirementsRelationshipTypes[requirementEntry.key] || '...'}}</em>
                    </div>
                    <div class="col-md-1">
                      <info content="'SERVICE.RELATIONSHIP.REQUIREMENT_DESCRIPTION'"></info>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Attributes -->
          <div ng-if="selectedNodeType.attributes.length > 0">
            <div id="node-details-attributes" class="clickable topology-column-content-head" ng-click="isAttributesCollapsed = !isAttributesCollapsed">
              <i class="fa" ng-class="{'fa-caret-down' : !isAttributesCollapsed, 'fa-caret-right': isAttributesCollapsed}"></i>
              {{'COMMON.ATTRIBUTES' | translate}}
            </div>
            <div id="node-details-attributes-panel" class="indent" uib-collapse="isAttributesCollapsed" >
              <table class="table table-condensed" id="nodeAttributes">
                <tr ng-repeat="attrEntry in selectedNodeType.attributesFromModel">
                  <td>
                    <label>{{attrEntry.key}}</label>
                  </td>
                  <td>
                    <span ng-if="isPropertyEditable()" editable-text="selectedService.nodeInstance.attributeValues[attrEntry.key]" buttons="no" onbeforesave="updateAttribute(attrEntry.key, $data)" blur="submit" class="editable editable-click">
                      {{selectedService.nodeInstance.attributeValues[attrEntry.key]}} <i class="fa fa-pencil-square-o"></i>
                    </span>
                    <em ng-if="!isPropertyEditable()">
                      {{selectedService.nodeInstance.attributeValues[attrEntry.key] || '...'}}
                    </em>
                    <span ng-if="selectedService.nodeInstance.attributeValues[attrEntry.key]" class="fa fa-clipboard btn-cb clickable" uib-tooltip="{{selectedService.nodeInstance.attributeValues[attrEntry.key]}}"/>
                  </td>
                  <td>
                    <info class="pull-right" content="attrEntry.value.description"></info>
                  </td>
                </tr>

                <tr ng-repeat="attrEntry in selectedNodeType.attributesFromUser">
                  <td>
                    <label>{{attrEntry.key}}</label>
                  </td>
                  <td>
                    <span ng-if="isPropertyEditable()" editable-text="selectedService.nodeInstance.attributeValues[attrEntry.key]" buttons="no" onbeforesave="updateAttribute(attrEntry.key, $data)" blur="submit" class="editable editable-click" uib-tooltip="{{selectedService.nodeInstance.attributeValues[attrEntry.key]}}">
                      {{selectedService.nodeInstance.attributeValues[attrEntry.key]}} <i class="fa fa-pencil-square-o"></i>
                    </span>
                    <em ng-if="!isPropertyEditable()">
                      {{selectedService.nodeInstance.attributeValues[attrEntry.key] || '...'}}
                    </em>
                    <span ng-if="selectedService.nodeInstance.attributeValues[attrEntry.key]" class="fa fa-clipboard btn-cb clickable" uib-tooltip="{{selectedService.nodeInstance.attributeValues[attrEntry.key]}}"/>
                  </td>
                  <td ng-if="isPropertyEditable()">
                    <span class="btn btn-xs info-xs pull-right">
                      <i class="fa fa-trash-o text-info" ng-click="deleteAttributeFromUser(attrEntry.key)"></i>
                    </span>
                  </td>
                </tr>
              </table>

            <div ng-if="isPropertyEditable()" class="topology-column-content-head">
              {{'COMMON.ADD_USER_ATTRIBUTE' | translate}}
            </div>

            <div ng-if="isPropertyEditable()" class="row">
              <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="key" ng-model="newAttribute.key" />
              </div>
              <div class="col-xs-5">
                <input type="text" class="form-control" placeholder="value" ng-model="newAttribute.value.value" />
              </div>
              <div class="col-xs-1">
                <button ng-click="addAttributeFromUser()" class="btn btn-primary" type="submit">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
              </div>
            </div>

            </div>
          </div>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading>
            <i class="fa fa-cloud" aria-hidden="true"></i>&nbsp;{{'ORCHESTRATORS.NAV.LOCATIONS' | translate}}
          </uib-tab-heading>
          <empty-place-holder data="locations"></empty-place-holder>
          <table ng-if="locations.length > 0" class="table table-hover">
            <thead>
              <th>{{'ORCHESTRATORS.ORCHESTRATOR' | translate}}</th>
              <th>{{'ORCHESTRATORS.LOCATIONS.LOCATION' | translate}}</th>
              <th>{{'COMMON.AUTHORIZED' | translate}}</th>
            </thead>
            <tbody>
              <tr ng-repeat="location in locations track by location.id">
                <td>{{location.orchestratorName}}</td>
                <td>{{location.name}}</td>
                <td>
                  <button class="btn btn-sm btn-transparent" id="btn_loc_{{location.id}}" ng-click="toggleLoc(location)">
                    <i class="fa" ng-class="isLocAuthorized(location) ? 'fa-check-square-o text-success' :'fa-square-o'" ng-click="item.checked = !item.checked"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading>
            <i class="fa fa-lock" aria-hidden="true"></i>&nbsp;{{'ORCHESTRATORS.LOCATIONS.SECURITY' | translate}}
          </uib-tab-heading>
          <div>
            <div class="row" id="service-resources-authorization">
              <div class="col-md-12">
                <uib-tabset>
                  <uib-tab heading="{{'ROLE_TABS.USERS' | translate}}" id="users-tab">
                    <alien-user-authorization
                      resource="selectedService"
                      service="servicesSecurityService.users">
                    </alien-user-authorization>
                  </uib-tab>
                  <uib-tab heading="{{'COMMON.GROUPS' | translate}}" id="groups-tab">
                    <alien-group-authorization
                        resource="selectedService"
                        service="servicesSecurityService.groups">
                    </alien-group-authorization>
                  </uib-tab>
                  <uib-tab heading="{{'NAVBAR.MENU_APPS' | translate}}" id="applications-tab">
                    <alien-app-authorization
                            resource="selectedService"
                            app-service="servicesSecurityService.applications"
                            env-service="servicesSecurityService.environmentsPerApplication">
                    </alien-app-authorization>
                  </uib-tab>
                </uib-tabset>
              </div>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>
