
<empty-place-holder data="topology.topology.inputs"></empty-place-holder>
<table class="table table-hover">
  <thead>
    <tr>
      <th>
        {{'COMMON.NAME' | translate}}
      </th>
      <th>
        {{'APPLICATIONS.INPUTS.EXPRESSION' | translate}}
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat = "(inputName, value) in topology.topology.inputs ">
      <td style="width: 20%">{{inputName}}</td>
      <td ng-if="loadedInputs[inputName]" style="white-space: pre-line;">{{jsYml.safeDump(loadedInputs[inputName])}}</td>
      <td ng-if="!loadedInputs[inputName]" class= "deployer_input">{{'APPLICATIONS.INPUTS.DEPLOYER' | translate}}</td>
      <td>
        <a class="btn btn-default btn-sm" ng-click="clearInput(inputName)">{{'APPLICATIONS.INPUTS.CLEAR' | translate}}</a>
      </td>
    </tr>
  </tbody>
</table>
