<div class="row">

  <div class="col-md-12">
    <span ng-if="outputPropertiesSize > 0 || outputAttributesSize > 0">
      <i class="fa fa-eye"></i>
      <strong>{{'APPLICATIONS.TOPOLOGY.PROPERTIES_OUTPUTS' | translate}}</strong>
    </span>
    <table class="table table-condensed" id="outputPropertiesTable">
      <tr>
        <td colspan="2"></td>
      </tr>
      <tr ng-repeat="nodeId in outputNodes" ng-if="outputAttributesValue[nodeId] || outputPropertiesValue[nodeId]">
        <td>
          <span>{{nodeId}}</span>
        </td>
        <td>
          <ul>
            <!-- Output properties list -->
            <li ng-if="outputPropertiesSize > 0 && outputPropertiesValue[nodeId]">
              <strong>{{ 'properties' | translate }}</strong>
              <ul>
                <li ng-repeat="(outputPropertyKey, outputPropertyValue) in outputPropertiesValue[nodeId]">
                  {{outputPropertyKey}} :
                  <span class="text-primary">{{outputPropertyValue}}</span>
                </li>
              </ul>
            </li>

            <!-- Output attributes list -->
            <li ng-if="outputAttributesSize > 0 && outputAttributesValue[nodeId]">
              <strong>{{ 'attributes' | translate }}</strong>
              <ul>
                <li ng-repeat="(instanceId, instanceProperties) in outputAttributesValue[nodeId]">
                  {{'INSTANCE' | translate}} {{instanceId}}
                  <ul>
                    <li ng-repeat="(outputPropertyKey, outputPropertyValue) in instanceProperties">
                      {{outputPropertyKey}} :
                      <span class="text-primary">{{outputPropertyValue}}</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

          </ul>
        </td>
      </tr>
    </table>
  </div>

</div>
