<!--           operations display -->
<fieldset class="detail-bloc">
  <legend>
    <h4>
      <i class="fa fa-flask"></i> {{'COMPONENTS.COMPONENT.OPERATION' | translate}}
    </h4>
  </legend>
  <div class="table-responsive">
    <table class="table table-condensed borderless">
      <tr ng-repeat="(operationName, operation) in currentDisplayed.operations">
        <td><b>{{operationName}}</b></td>
        <td><span> {{operation.description}}</span></td>
      </tr>
    </table>
  </div>
</fieldset>
