
<!-- Components list and details -->
<!-- Search result column -->
<div ng-controller="alienSearchCtrl">
  <div class="col-md-2 well" id="comp-search-side-pannel">
    <div style="margin-bottom: 10px;">
      <form role="search" ng-submit="doSearch()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="..."
                 ng-model="searchedKeyword"> <span class="input-group-btn">
						<button type="submit" class="btn btn-default"
                    data-loading-text="Loading...">
              <i class="fa fa-search"></i>
            </button>
					</span>
        </div>
      </form>
    </div>

    <!-- Displaying active filters -->
    <div ng-show="facetFilters.length>0">
      <div>
        {{ 'COMPONENTS.ACTIVE_FILTERS' | translate }} <span class="badge"
                                                            ng-show="facetFilters.length>0">{{facetFilters.length}}</span>
        <button type="button" class="btn btn-default btn-xs"
                ng-click="reset()" ng-disabled="facetFilters.length<=0">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
      <div class="facet-choice" collapse="isFacetCollapsed">
        <ul class="nav facet-choice">
          <li ng-repeat="filter in facetFilters"><a href=""
                                                    ng-click="removeFilter(filter)">{{'COMPONENTS.'+(filter.term |
            uppercase) | translate}}: <span class="label label-primary">
								{{ filter.facet }}</span><i class="fa fa-times"></i>
          </a></li>
        </ul>
      </div>
    </div>

    <!-- Displaying all terms and its facets -->
    <div ng-repeat="(term, termFacets) in searchResult.data.facets">
      <div ng-click="isFacetCollapsed = !isFacetCollapsed"
           class="facet-category">
        <span>{{'COMPONENTS.'+(term | uppercase) | translate}}</span> <i
          class="pull-right fa"
          ng-class="{'fa-chevron-down' : !isFacetCollapsed, 'fa-chevron-right': isFacetCollapsed}"></i>
      </div>
      <div class="facet-option" collapse="isFacetCollapsed">
        <ul class="nav facet-option">
          <li ng-repeat="facet in termFacets"><a href=""
                                                 ng-click="addFilter(term,facet.facetValue)">
            {{facet.facetValue}} <span class="badge">{{facet.count}}</span>
          </a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-10" id="rel-search-result-panel">
    <ul class="list-group">
      <li class="list-group-item clickable-media"
          ng-repeat="component in searchResult.data.data">
        <div class="media" ng-mouseover="setComponent(component)"
             id="li_{{component.id}}" ng-click="handleItemSelection(component)">
          <div class="media-body">
            <h4 class="media-heading">
              <span>{{component.elementId}}</span>
              <div class="pull-right center">
                <div>
                  <div class="btn-group btn-group-xs">
                    <span type="button" class="btn btn-default disabled">
                      <i class="fa fa-archive"></i> {{component.archiveName}}
                    </span>
                    <div class="btn-group btn-group-xs">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"  id = "{{component.id}}_versions">
                        {{component.selectedVersion || component.archiveVersion}}
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li class="option-selected"><a id="{{component.id}}_version_{{component.archiveVersion}}" ng-click="$event.stopPropagation()">{{component.archiveVersion}}</a></li>
                        <li ng-repeat="olderVersion in component.olderVersions"><a id="{{component.id}}_version_{{olderVersion}}" ng-click="selectOtherComponentVersion(component, olderVersion, $index, $event)">{{olderVersion}}</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div style="margin-top: 20px;">
                <p class="small" ng-show="component.validSources" id="component-source">{{
                  'COMPONENTS.RELATIONSHIPS.SOURCE' | translate }} : {{component.validSources}}</p>
                <p class="small" ng-show="component.validTargets" id="component-target">{{
                  'COMPONENTS.RELATIONSHIPS.TARGET' | translate }} : {{component.validTargets}}</p>
                <p class="small" ng-show="component.description">{{component.description}}</p>
              </div>
            </h4>
          </div>
        </div>
      </li>
    </ul>

    <!-- pagination bar -->
    <div class="pagination-div" ng-show="searchResult.data.data">
      <pagination class="pagination-sm" total-items="pagination.totalItems"
                  ng-model="currentPage" max-size="pagination.maxSize"
                  items-per-page="pagination.maxItemsPerPage" boundary-links="true"
                  rotate="false" num-pages="numPages"
                  ng-change="pagination.onSelectPage(page)"> </pagination>
    </div>
  </div>
</div>
