<div class="row">
  <div class="col-md-6 text-center">
    <img alt="" src="images/cloudalien.png"></img>
    <h4>{{ 'MAIN.WELCOME' | translate }} ALIEN 4 Cloud <small><br><b>A</b>pplication <b>Li</b>fecycle <b>En</b>abler 4 Cloud</small></h4>
  </div>
  <div class="col-md-6 well">
    <div class="row">
      <div class="col-md-10">
        {{'HOME.ADMIN.TOUR' | translate}}
      </div>
      <div class="col-md-2">
        <button id="new-cloud-button" class="btn btn-primary" ng-click="adminTour()">
          <i class="fa fa-question-circle"></i>
        </button>
      </div>
    </div>
  </div>
</div>
