<div class="row grp-margin">
  <div class="col-md-6">
    <div class="drop-container" alien-droppable drag-on-drop="addResourceTemplate(data)">
      <empty-place-holder data="resourcesTemplates"></empty-place-holder>
      <table ng-if="resourcesTemplates.length > 0" class="table table-hover">
        <thead>
          <tr>
            <th ng-if="showMultiSelect">
              <a ng-click="toggleAllTemplates()" class="ng-scope">
                <i class="fa fa-fw fa-check-square-o" ng-class="{'fa-check-square-o' : allTemplatesAreSelected(),  'fa-square-o': !allTemplatesAreSelected()}" style=""></i>
              </a>
            </th>
            <th>Icon</th>
            <th>{{'COMMON.NAME' | translate}}</th>
            <th>{{'COMMON.TYPE' | translate}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="template in resourcesTemplates | orderBy:'name'"
              ng-click="selectTemplate(template)"
              class="clickable"
              ng-class="{'warning': selectedResourceTemplate == template}">
            <td ng-if="showMultiSelect">
              <a ng-click="toggleTemplate(template, $event)" class="ng-scope">
                  <i class="fa fa-fw fa-square-o" ng-class="{'fa-check-square-o' : isSelected(template),  'fa-square-o': !isSelected(template)}"></i>
              </a>
            </td>
            <td ng-init="nodeIcon = getIcon(template.template.type)">
              <i ng-if="!nodeIcon" class="fa fa-cogs fa-3x"></i>
              <img ng-if="nodeIcon" ng-src="img?id={{nodeIcon}}&quality=QUALITY_32">
            </td>
            <td>{{template.name}}</td>
            <td style="word-break: break-all;">{{template.template.type}}</td>
            <td ng-if="canDuplicate">
              <a
              uib-tooltip="{{ 'ORCHESTRATORS.LOCATIONS.RESOURCES.DUPLICATE' | translate }}"
              tooltip-append-to-body="true"
              ng-click="duplicateResourceTemplate(template.id, $event)">
                  <i class="fa fa-clone"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="drop-container-label">
        <i class="fa fa-plus"></i>&nbsp;{{ 'ORCHESTRATORS.LOCATIONS.RESOURCES.DROP' | translate }}
      </div>
    </div>
  </div>
  <div class="col-md-6" ng-if="selectedResourceTemplate">
    <div class="topology-column-content-head">
      <span class="ng-binding">
        <i class="fa fa-cubes"></i> {{'ORCHESTRATORS.LOCATIONS.RESOURCES.CONFIG' | translate}}
      </span>
      <a id="closeNodeTemplateDetails" class="pull-right" style="font-weight: 400;" ng-click="selectTemplate()">
        <i class="fa fa-arrow-left"></i> {{'ORCHESTRATORS.LOCATIONS.RESOURCES.BACK' | translate}}
      </a>
    </div>

    <uib-tabset justified="true">
      <uib-tab index="0">
        <uib-tab-heading>
          {{'COMMON.PROPERTIES' | translate}}
        </uib-tab-heading>
        <div class="row-margin">
          {{'ORCHESTRATORS.LOCATIONS.RESOURCES.CONFIG_HELP' | translate}}
        </div>
        <!-- load the resource template edition display snippet. Could be location resource or policy directive-->
        <ng-include src="resourceTemplateEditDisplayUrl"></ng-include>
      </uib-tab>
      <!-- Security-->
      <uib-tab index="1" ng-show="!disableSecurity()">
        <uib-tab-heading >
          <i class="icon-folder-open"></i> {{'ORCHESTRATORS.LOCATIONS.SECURITY' | translate}}
        </uib-tab-heading>
        <div ng-show="!disableSecurity()">
          <div class="row" id="app-user-role">
            <div class="col-md-12">
              <uib-tabset>
                <uib-tab heading="{{'ROLE_TABS.USERS' | translate}}" id="users-tab">
                  <alien-user-authorization
                    resource="selectedResourceTemplate"
                    service="locationResourcesSecurityService.users"
                    search-config-builder="buildSecuritySearchConfig('users')"
                    display-custom-search="true">
                  </alien-user-authorization>
                </uib-tab>
                <uib-tab heading="{{'COMMON.GROUPS' | translate}}" id="groups-tab">
                  <alien-group-authorization
                    resource="selectedResourceTemplate"
                    service="locationResourcesSecurityService.groups"
                    search-config-builder="buildSecuritySearchConfig('groups')"
                    display-custom-search="true">
                  </alien-group-authorization>
                </uib-tab>
                <uib-tab heading="{{'NAVBAR.MENU_APPS' | translate}}" id="applications-tab">
                  <alien-app-authorization
                    resource="selectedResourceTemplate"
                    app-service="locationResourcesSecurityService.applications"
                    env-service="locationResourcesSecurityService.environmentsPerApplication"
                    search-config-builder="buildSecuritySearchConfig('applications')"
                    display-custom-search="true">
                  </alien-app-authorization>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>

  <!-- catalog-->
  <div id="resource-catalog" ng-if="!selectedResourceTemplate" class="col-md-6">
    <uib-tabset justified="true">
      <uib-tab index="0">
        <uib-tab-heading>
          {{ 'ORCHESTRATORS.LOCATIONS.RESOURCES.TYPE' | translate }}
        </uib-tab-heading>
        <ul class="list-group" style="overflow: auto; height: {{ dimensions.height + 'px' }};">
          <empty-place-holder class="center" data="favorites"></empty-place-holder>
          <li class="list-group-item media clickable-media favorite"
              ng-repeat="resource in favorites | orderBy : ['-provided', 'elementId']"
              alien-draggable drag-enabled="true" drag-data="resource">
            <div class="media-left" ng-init="nodeIcon = getIcon(resource.elementId)">
              <i ng-if="!nodeIcon" class="fa fa-cogs fa-3x"></i>
              <img ng-if="nodeIcon" ng-src="img?id={{nodeIcon}}&quality=QUALITY_64">
            </div>
            <div class="media-body">
              <small class="pull-right"
                     ng-if="resource.provided"
                     uib-tooltip="{{ 'ORCHESTRATORS.LOCATIONS.RESOURCES.PROVIDED' | translate }}"
                     tooltip-placement="left"
                     tooltip-append-to-body="true">
                <i class="fa fa-magic" style="color:goldenrod"></i>
              </small>
              <h4 class="media-heading" style="word-break: break-all;">
                {{ resource.elementId}}
              </h4>
              <p>
                <b>{{'COMMON.SOURCE' | translate}}:</b> {{ resource.archiveName }}:{{ resource.archiveVersion }}
              </p>
            </div>
          </li>
        </ul>
      </uib-tab>
      <uib-tab index="1" ng-if="showCatalog">
        <uib-tab-heading>
          <i class="icon-folder-open"></i> Catalog
        </uib-tab-heading>
        <a4c-component-catalog
                component-type='{{catalogType}}'
                display-detail-pannel="false"
                drag-and-drop-enabled="true"
                default-filters="{'abstract':'F'}"
                height-info="dimensions"
                static-facets="staticFacets"
                badges="badges">
        </a4c-component-catalog>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
