<!-- header: name, delete button-->
<ng-include src="'views/orchestrators/includes/location_resource_header_edit.html'"></ng-include>
<a4c-node-template-edit
  template="resourceTemplate.template"
  type="resourceType"
  node-capability-types="resourceCapabilityTypes"
  resource-data-types="resourceDataTypes"
  dependencies="dependencies"
  is-property-editable="isPropertyEditable()"
  is-secret-editable="isSecretEditable()"
  prop-edition-context="{resourceId: resourceTemplate.id}"
  on-property-update="updateResourceProperty(propertyName, propertyValue)"
  on-capability-property-update="updateResourceCapabilityProperty(capabilityName, propertyName, propertyValue)">
</a4c-node-template-edit>

<!-- Portability -->
<ng-include src="'views/orchestrators/includes/location_resource_portability_edit.html'"></ng-include>
