<div class="col-md-6">
  <div class="content-head" ng-class="{'clickable': collapsable}" ng-click=" collapsable && (isDeployedInputsCollapsed = !isDeployedInputsCollapsed)">
    <i class="fa fa-sign-in"> </i> {{'APPLICATIONS.TOPOLOGY.PROPERTIES_INPUTS' | translate}}
    <i class="fa" ng-class="{'fa-caret-down' : !isDeployedInputsCollapsed, 'fa-caret-right': isDeployedInputsCollapsed}"></i>
  </div>
  <div uib-collapse="isDeployedInputsCollapsed" class="content-body">
    <empty-place-holder
      data="inputProperties">
    </empty-place-holder>
    <table class="table table-condensed" id="deployedInputs">
      <tr ng-repeat="(propertyKey, propertyValue) in inputProperties">
        <td id="p_deployedinput_{{propertyKey}}">
          <div>
            <label ng-if="!translated" id="p_name_{{propertyName}}" class="col-md-4">
              {{propertyKey}}
            </label>
            <em>{{propertyValue.value || '...'}}</em>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="col-md-6">
  <div class="content-head" ng-class="{'clickable': collapsable}" ng-click=" collapsable && (isDeployedOrchPropsCollapsed = !isDeployedOrchPropsCollapsed)">
    <i class="fa fa-cog"> </i> {{'APPLICATIONS.TOPOLOGY.ORCHESTRATOR_PROPERTIES' | translate}}
    <i class="fa" ng-class="{'fa-caret-down' : !isDeployedOrchPropsCollapsed, 'fa-caret-right': isDeployedOrchPropsCollapsed}"></i>
  </div>
  <div uib-collapse="isDeployedOrchPropsCollapsed" class="content-body">
    <empty-place-holder
      data="orchestratorProperties">
    </empty-place-holder>
    <table class="table table-condensed" id="deployedInputs">
      <tr ng-repeat="(propertyKey, propertyValue) in orchestratorProperties">
        <td id="p_deployedinputorch_{{propertyKey}}">
          <div>
            <label ng-if="!translated" id="p_name_{{propertyName}}" class="col-md-4">
              {{propertyKey}}
            </label>
            <em>{{propertyValue || '...'}}</em>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
