<div class="row">
  <div class="col-md-12">
    <span ng-if="!isMapEmpty(outputPropertiesValue) && !isMapEmpty(outputAttributesValue)">
      <strong>{{'APPLICATIONS.TOPOLOGY.NO_OUTPUTS' | translate}}</strong>
    </span>
    <table class="table table-condensed" id="outputPropertiesTable">
      <span ng-if="isMapEmpty(outputPropertiesValue) || isMapEmpty(outputAttributesValue)">
        <i class="fa fa-sign-out padding-right"> </i>
        <strong>{{'APPLICATIONS.TOPOLOGY.PROPERTIES_OUTPUTS' | translate}}</strong>
      </span>
      <tr>
        <td colspan="2"></td>
      </tr>
      <tr ng-repeat="nodeId in outputNodes" ng-if="outputAttributesValue[nodeId] || outputPropertiesValue[nodeId] || outputCapabilityPropertiesValue[nodeId]">
        <td>
          <span>{{nodeId}}</span>
        </td>
        <td>
          <ul>
            <!-- Output properties list -->
            <li ng-if="outputPropertiesSize > 0 && outputPropertiesValue[nodeId]">
              <strong>{{ 'COMMON.PROPERTIES' | translate }}</strong>
              <ul>
                <li ng-repeat="(outputPropertyKey, outputPropertyValue) in outputPropertiesValue[nodeId]">
                  {{outputPropertyKey}} :
                  <span class="text-primary" id="property-{{nodeId}}-{{outputPropertyKey}}" ng-bind-html="outputPropertyValue.value | linky:'_blank'"></span>
                </li>
              </ul>
            </li>

            <!-- Properties output properties list -->
            <li ng-repeat="(capabilityId, outputCapabilityPropertyValue) in outputCapabilityPropertiesValue[nodeId]">
              <strong>{{ 'COMMON.CAPABILITIES' | translate }} :</strong>
              <ul>
                <li><strong>{{capabilityId}} :</strong>
                  <ul>
                    <li><strong>{{ 'COMMON.PROPERTIES' | translate }} :</strong>
                      <ul>
                        <li ng-repeat="(propertyId, propertyValue) in outputCapabilityPropertiesValue[nodeId][capabilityId]">
                          {{propertyId}} :
                          <span class="text-primary" id="property-{{nodeId}}-{{outputPropertyKey}}" ng-bind-html="propertyValue.value | linky:'_blank'"></span>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <!-- Output attributes list -->
            <li ng-if="outputAttributesSize > 0 && outputAttributesValue[nodeId]">
              <strong>{{ 'COMMON.ATTRIBUTES' | translate }}</strong>
              <ul>
                <li ng-repeat="(instanceId, instanceAttributes) in outputAttributesValue[nodeId]">
                  {{'INSTANCE' | translate}} {{instanceId}}
                  <ul>
                    <li ng-repeat="(outputAttributeKey, outputAttributeValue) in instanceAttributes">
                      {{outputAttributeKey}} :
                      <span class="text-primary" id="attribute-{{nodeId}}-{{instanceId}}-{{outputAttributeKey}}" ng-bind-html="outputAttributeValue | linky:'_blank'"></span>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
