<div class="topology-column-content-head">
  <span>
    <i class="fa fa-stepTasks"></i> {{'APPLICATIONS.RUNTIME.EVENTS_TAB' | translate}}
  </span>
  <span id='closeEvents' class="btn btn-default btn-xs pull-right close-btn-panel" ng-click="display.set('events', false)">
    <i class="fa fa-remove close-panel"></i>
  </span>
</div>
<div>
  <div class="row form-horizontal">
    <div class="col-md-12">
      <div class="form-group">
        <label class="col-md-2 control-label">{{'COMMON.TYPE' | translate}}</label>
        <div class="col-md-10">
          <div class="btn-group" uib-dropdown>
            <button id="eventTypeSelection" type="button" class="btn btn-default" uib-dropdown-toggle>
              {{eventTypeLabels[selectedEventTypeFilter.value] | translate}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li ng-repeat="eventTypeFilter in eventTypeFilters | filter: {value: '!' + selectedEventTypeFilter.value}"><a id="{{eventTypeFilter.value + 'Select'}}" ng-click="filterEvents(eventTypeFilter)">{{eventTypeLabels[eventTypeFilter.value]
                | translate}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div style="overflow: auto; height: {{eventsDivHeight}}px">
        <table class="table table-hover runtime-events-table">
          <thead>
            <tr>
              <th>{{ 'APPLICATIONS.RUNTIME.EVENTS.DATE' | translate}}</th>
              <th>{{ 'COMMON.TYPE' | translate}}</th>
              <th>{{ 'APPLICATIONS.RUNTIME.EVENTS.MESSAGE' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="event in events.data | orderBy:'date':true" ng-if="selectedEventTypeFilter.value === 'ALL' || eventTypeLabels[selectedEventTypeFilter.value] === event.type">
              <td>{{event.date | date:'d/M/yy H:mm:ss'}}</td>
              <td>{{event.type | translate }}</td>
              <td>{{event.message.template | translate:event.message.data }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
