<div class="row" style="margin-top: 10px;">
  <ol class="breadcrumb">
    <li><a href="#/tags">{{ 'TAG_CONFIG.TAGS' | translate }}</a></li>
    <li><a href="#/tags/{{configuration.id}}">{{configuration.name}}</a></li>
  </ol>
</div>
<div class="row">
  <div class="col-md-12">
    <generic-form ng-if="objectDefinition && configuration"
                  root-object="configuration"
                  form-title="{{formTitle}}"
                  type="objectDefinition"
                  form-style="window"
                  is-removable="true"
                  is-cancelable="true"
                  show-path="true"
                  automatic-save="true"
                  suggest="suggest(searchConfiguration, text)"
                  save="saveTagConfiguration(object)"
                  cancel="cancelTagConfigurationCreation(object)"
                  remove="removeTagConfiguration()">
    </generic-form>
  </div>
</div>
