<div class="topology-column-content-head">
  <span>
    <i class="fa fa-gavel"></i> Policies catalog
  </span>
  <span id='closePolicies' class="btn btn-default btn-xs pull-right close-btn-panel" ng-click="display.toggle('policiescatalog')">
    <i class="fa fa-remove close-panel"></i>
  </span>
</div>

<div id="slide-side-bar" style="overflow: auto;">
    <a4c-component-catalog ng-if="topology"
      component-type='POLICY_TYPE'
      drag-and-drop-enabled="true"
      default-filters="defaultFilters"
      height-info="dimensions"
      static-facets="staticFacets"
      badges="badges">
    </a4c-component-catalog>
</div>
